<!-- PAGE NAME : HEP_Title_Customer_Mapping -->
<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_CustomerMapping_Controller">
        <!--<c:HEP_Navigation_Menu_Component />-->
        <head>
            <meta charset="utf-8" />
           <meta http-equiv="X-UA-Compatible" content="IE=edge" />
           <meta name="viewport" content="width=device-width, initial-scale=1" />
           <meta name="description" content="" />
           <meta name="author" content="" />
       </head>
      
       <body class="hep-request-catalog-body" ng-app="PromotionsApp" >
           <div ng-controller="HEP_Customer_Mapping_Ctrl" class="minwrap-container hep-request-catalog-container hep-title-details-container hep-customer-mapping-container mainContainerApprovals">
               <div class="hep-loaded-content" style="display: none;"  ng-if="singleLoad==true || selectedTab ==true" >
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hep-padding0">
                       <header class="hep-header">
                               <h1 class="hep-normal"><span class="hep-bolder">Product Mapping</span></h1>
                               <span class="hep-button-group hep-flex-center" ng-show="">
                                   <a class="hep-cancel-link pointer-cursor" href="" ng-show="editMode" ng-click="openCancelConfModal()">Cancel</a>
                                   <button class="hep-btn" ng-show="editMode" ng-click="saveData()">Save</button>
                                    <button class="hep-btn" ng-hide="!writeFlag || editMode" ng-click="editClicked()">Edit</button>
                               </span>
                       </header>
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hep-padding0">
                       <div class="hep-line"></div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hep-padding0">
                       <div class="row">
                           <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hep-padding0 hep-select-group">
                               <div class="row">
                                   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hep-padding0">
                                       <label for="customer" class="hep-grey-label Field-Label">Customer</label>
                                       <select name="customer" class="pointer-cursor Input-Field" value="selectedCustomer" ng-model="selectedCustomer" ng-options ="item for item in MappingData.lstCustomers" ng-change = "getData(sTitleId,selectedCustomer,selectedRegion)"></select>
                                   </div>
                                   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hep-padding0">
                                       <label for="region" class="hep-grey-label Field-Label">Region</label>
                                       <select name="region" class="pointer-cursor Input-Field" ng-model="selectedRegion" ng-options ="item for item in MappingData.lstRegions" ng-change = "getData(sTitleId,selectedCustomer,selectedRegion)"></select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 hep-padding0" ng-if="writeFlag">
                               <div class="row">
                                   <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 paddingLeft40 marginBottom5">
                               <label class="hep-grey-label Field-Label">Which channels and formats do you need?</label>
                                    <div class="flex marginTop10">
                                        <div class="float-left">
                                            <label class="subLabel">Channel : </label>
                                            <input id="EST" type="checkbox" ng-model="channels.EST" />
                                            <label for="EST" class="subHeadingLabel">EST</label>
                                            <input id="VOD" type="checkbox" ng-model="channels.VOD" />
                                            <label for="VOD" class="subHeadingLabel">VOD</label>
                                        </div>
                                        <div class="float-left">
                                            <label class="separator-line"></label>
                                        </div>
                                        <div class="float-left">
                                            <label class="subLabel">Format : </label>
                                            <input id="HD" type="checkbox" ng-model="format.HD" />
                                            <label for="HD" class="subHeadingLabel">HD</label>
                                            <input id="SD" type="checkbox" ng-model="format.SD"/>
                                            <label for="SD" class="subHeadingLabel">SD</label>
                                            <input id="4K" type="checkbox" ng-model="format.formatK"/>
                                            <label for="4K" class="subHeadingLabel">4K</label>
                                        </div>
                                    </div>
                                   <div class="row">
                                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginBottom5">
                                         <label ng-show="showMinCriteriaError" class="errorMsg">Atleast one channel or format should be selected.</label>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hep-flex-right hep-padding0">
                                   <button type="button" class="hep-btn-border hep-btn-auto right-spacer add-button" ng-click="addNewRow(selectedCustomer,mappingType)" ng-disabled="!editMode">Add New Row</button>
                               </div>
                               </div>
                               </div>
                           </div>
                           <div ng-show="mndtryError" class="errorMsg" id="mandatory-msg"></div>
                       <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hep-padding0 gheader-wrap">
                               <div ng-show="MappingData.lstProductData.length>0">
                               <div ag-grid="gridOptions" class="ag-theme-material gt-table hep-request-catalog-grid check-rows"></div>
                               <div class="paginationContainer">
                                   <span class="paginationLabel">Show :</span>
                                   <a ng-repeat="i in paginationArray track by $index" ng-click="select($index);onPageSizeChanged(i)" class="totalItems pointer-cursor pagesize" ng-class="{active: $index == selected}">{{i}}</a>
                               </div>
                               </div>
                               <div ng-hide="MappingData.lstProductData">
                                    <div class="zero-state">
                                    <div>
                                        <span class="glink-icon"></span><span>No rows to show</span></div>
                                </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
              
               <template id="deleteRow">
                   <div class="delete-icon" ng-click="deleteRecord(data)"></div>
               </template>
               <template id="adamIdRow">
                   <div class="hep-grid-input-height"><input type = "text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sADAMId" ng-class="{'error-border':(mndtryError && (data.sADAMId=='' || data.sADAMId==undefined || !data.bIdADAMUnique ))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Adam_Id__c.sLastModifiedData}}</span>
               </template> 
               <template id="descriptionAmazonRow">
                   
                   <div class="hep-grid-input-height">
                       <input type="text"  ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined))==true}"></input>
                   </div>
                   <!--<div class="hep-grid-input-height"><input type="text" ng-if="!isAmazon" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined || !data.bLocalDescUnique))==true, 'hep-input-disabled':(!editMode)}"></input><input type="text" ng-if="isAmazon" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined))==true}"></input></div>-->
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Local_Description__c.sLastModifiedData}}</span>
               </template>
               <template id="descriptionNoAmazonRow">
                   <div class="hep-grid-input-height">
                       <input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined || !data.bLocalDescUnique))==true, 'hep-input-disabled':(!editMode)}"></input>
                   </div>
                   <!--<div class="hep-grid-input-height"><input type="text" ng-if="!isAmazon" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined || !data.bLocalDescUnique))==true, 'hep-input-disabled':(!editMode)}"></input><input type="text" ng-if="isAmazon" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input" ng-model="data.sLocalDescription" ng-class="{'error-border':(mndtryError && (data.sLocalDescription=='' || data.sLocalDescription==undefined))==true}"></input></div>-->
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Local_Description__c.sLastModifiedData}}</span>
               </template>
               
               <template id="ASINrow">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sASIN" ng-class="{'error-border':(mndtryError && (data.sASIN=='' || data.sASIN==undefined || !data.bUniqueASIN))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.ASIN__c.sLastModifiedData}}</span>
               </template> 
               <template id="SeasonId">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sSeasonNumber" ng-class="{'error-border':(mndtryError && (data.sSeasonNumber=='' || data.sSeasonNumber==undefined))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="1stEpisodeAsin">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.s1stEpisodeASIN" ng-class="{'error-border':(mndtryError && (data.s1stEpisodeASIN=='' || data.s1stEpisodeASIN==undefined || !data.bUnique1stEpASIN))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="titleSeries">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sSeriesTitle"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="IdComponent">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sComponentId"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="IdMedia">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sMediaId" ng-class="{'error-border':(mndtryError && ((data.sBigId==undefined || data.sBigId=='') && (data.sMediaId==undefined || data.sMediaId=='') || !data.bMediaIdUnique))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Media_Id__c.sLastModifiedData}}</span>
               </template>
               <template id="IdBig">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sBigId" ng-class="{'error-border':(mndtryError && ((data.sBigId==undefined || data.sBigId=='') && (data.sMediaId==undefined || data.sMediaId=='') || !data.bBigIdUnique))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Big_Id__c.sLastModifiedData}}</span>
               </template>
               <template id="Eidr">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sEidr"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="IdSeries">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sSeriesId"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="IdSeriesMedia">   
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-inpu hep-tabbing" ng-model="data.sSeriesMediaId"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="IdSeriesBig">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sSeriesBigId"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>     
               <template id="eTag">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sEtag"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <template id="VideoIdrow">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sVideoId" ng-class="{'error-border':(mndtryError && (data.sVideoId=='' || data.sVideoId==undefined || !data.bUniqueVideoId))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">{{data.mapFieldHistory.Video__c.sLastModifiedData}}</span>
               </template>
               <template id="SeasonAsin">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sSeasonASIN" ng-class="{'error-border':(mndtryError && (data.sSeasonASIN=='' || data.sSeasonASIN==undefined || !data.bUniqueSeasonASIN))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small">        </span>
               </template>
               <template id="episodeId">
                   <div class="hep-grid-input-height"><input type="text" ng-readOnly="!editMode" class="hep-grid-input-height hep-grid-input hep-tabbing" ng-model="data.sEpisodeNumber" ng-class="{'error-border':(mndtryError && (data.sEpisodeNumber=='' || data.sEpisodeNumber==undefined ))==true, 'hep-input-disabled':(!editMode)}"></input></div>
                   <span class="hep-lt-grey-label hep-small"></span>
               </template>
               <!-- modal pop up for save button-->
               <div class="hep-modal-overlay" ng-cloak="true" ng-show="showSaveConfModal">
                   <div class="hep-modal">
                       <div class="hep-close-icon" ng-click="noSaveConfModal()"></div>
                       <div class="clearfix"></div>
                       <div class="hep-add-scroll-bar content-section">
                           <div>Do you want to save your changes</div>
                           <div class="text-right">
                               <button class="hep-btn-border" ng-click="noSaveConfModal()">No</button>
                               <button class="hep-btn" ng-click="closeSaveConfModal()">Yes</button>
                           </div>
                       </div>
                   </div>
               </div>
           <!-- modal pop up for aprrove button-->
            <!-- modal pop up for reject button-->
               <div class="hep-modal-overlay" ng-cloak="true" ng-show="showCancelConfModal">
                   <div class="hep-modal" ng-form="rejectModalForm">
                       <div class="hep-close-icon" ng-click="showCancelConfModal= !showCancelConfModal"></div>
                       <div class="clearfix"></div>
                       <div class="hep-add-scroll-bar content-section">
                           <div>Changes have not been saved. Are you sure you want to exit?</div>
                          <div class="text-right marginTop">
                               <button class="hep-btn-border" ng-click="noCancelConfModal()">No</button>
                               <button class="hep-btn" ng-click="closeCancelConfModal()">Yes</button>
                           </div>
                       </div>
                   </div>
               </div>
           <!-- modal pop up for reject button--> 
           </div>
             <!-- Animation tab starts -->
                 <div class="ph-master-anim">
             <table class="table-anim">
                 <thead>
                     <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                     <th class=""><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                     <th class=""><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                     <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                     <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                     <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                     
                 </thead>
                 <tbody>
                     <tr ng-repeat="x in phData.tableInfo track by $index">
                         <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                         <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                         <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                         <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                         <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                         <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                        
                     </tr>
                 </tbody>
             </table>
         </div>
           <!-- Animation tab ends-->
           </div>
       </body>
       
       <script>
           agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
           agGrid.initialiseAgGridWithAngular1(angular);       
           var pageName = "{!$CurrentPage.name}";
           // load app only if its not already loaded so that its not overwritten
           if(app)
               {}
           else
               var app = angular.module("PromotionsApp", ['agGrid','ui.bootstrap']);
           
           app.factory("customerMappingFactory", customerMappingFactory);
           
           function customerMappingFactory($q) {
           // Method to load the data
           var loadData = function(sTitleId){
               showConsoleLog('Inside loadData Factory');
               var deferred = $q.defer();
               HEP_CustomerMapping_Controller.fetchData(sTitleId, 
                           function(result, event) {
                               if (event.status) {
                                  deferred.resolve(angular.fromJson(result));
                                  showConsoleLog(result);
                               } else {
                                   deferred.reject('Error: Could not fetch the data.');
                               }
                           },
                           {escape: false}
                       );
                   return deferred.promise;
           }
           // Method to save the data
           var saveData = function(lstMappingRecords){
               showConsoleLog('Inside saveData Factory');
               var deferred = $q.defer();
               HEP_CustomerMapping_Controller.saveProductData(lstMappingRecords, 
                           function(result, event) {
                               if (event.status) {
                                  deferred.resolve(angular.fromJson(result));
                                  showConsoleLog(result);
                               } else {
                                   deferred.reject('Error: Could not fetch the data.');
                               }
                           },
                           {escape: false}
                       );
                   return deferred.promise;
           }
           // Method to retrieve the data
           var getData = function(titleId,customer,region){
               showConsoleLog('Inside getData Factory');
               var deferred = $q.defer();
               HEP_CustomerMapping_Controller.getMappingData(titleId,customer,region, 
                           function(result, event) {
                               if (event.status) {
                                  deferred.resolve(angular.fromJson(result));
                                  showConsoleLog(result);
                               } else {
                                   deferred.reject('Error: Could not fetch the data.');
                               }
                           },
                           {escape: false}
                       );
                   return deferred.promise;
           }
           
           return {
           
               loadData : loadData,
               saveData : saveData,
               getData : getData
           
           }
           
           }
           // Controller for Customer Mapping
           app.controller("HEP_Customer_Mapping_Ctrl", HEP_Customer_Mapping_Ctrl);
           function HEP_Customer_Mapping_Ctrl($scope, customerMappingFactory,$timeout){
               $scope.errorMsgBorder=false;
               $scope.selectedRows = [];
               $scope.selectedRowsCount = 0;
               $scope.sTitleId = "{!$CurrentPage.parameters.titleId}";
               $scope.MappingData = [];
               $scope.originalMappingData = [];
               $scope.newMappings = {};
               $scope.mappingType = '';
               $scope.GridData;
               $scope.filmMapping = 'Film';
               $scope.tvMapping = 'TV';
               $scope.episodeMapping = 'Episode';
               $scope.seasonMapping = 'Season';
               $scope.amazonCustomer = 'Amazon';
               $scope.xboxCustomer = 'Microsoft xbox';
               $scope.googleCustomer = 'Google';
               $scope.appleCustomer = 'Apple Itunes';
               $scope.showMinCriteriaError = false;
               $scope.channels = {
                   "VOD" : false,
                   "EST" : false
               }
               $scope.format = {
                   "HD": false,
                   "SD": false,
                   "formatK": false
               }
               
               $scope.editMode=false;
               
           // Method to trigger Save confirmation modal
           $scope.openSaveConfModal = function(){
               $scope.showSaveConfModal=true;
           }
           
           /*$scope.showRows=function(){
               var showRows=$(".check-rows .ag-overlay-wrapper.ag-overlay-no-rows-wrapper").css("display");
               if(showRows===undefined) return false;
               else return true;
           }*/
           // Handler for no selection for save modal
           $scope.noSaveConfModal = function() {
            $scope.showSaveConfModal= false;
            $scope.checkError = false;
           }
           //function to close approve modal
           $scope.closeSaveConfModal = function() {
            var promise = customerMappingFactory.saveData(angular.copy($scope.MappingData));
                promise.then(function(obj) {
                    showConsoleLog('Inside saveData Ctrl');
                    showConsoleLog('obj : ' , $scope.MappingData.lstProductData);
                }, function(reason) {
                    alert('Failed: ' + reason);
                }, function(update) {
                    alert('');
                });
                $scope.getData($scope.sTitleId,$scope.selectedCustomer,$scope.selectedRegion);
               $scope.showSaveConfModal=false;
               $scope.editMode = false;
               $scope.checkError = false;
               //$scope.saveData();
           }
           // Method to trigger cancel confirmation modal
           $scope.openCancelConfModal = function(){
               $scope.showCancelConfModal=true;
           }
           // Handler for no selection for save modal
           $scope.noCancelConfModal = function() {
               $scope.showCancelConfModal= false;
               $scope.checkError = false;
           }
           // Method to close cancel modal
           $scope.closeCancelConfModal = function() {
               $scope.editMode = false;
               $scope.showCancelConfModal=false;
               $scope.checkError = false;
               $scope.showMinCriteriaError = false;
               $scope.getData($scope.sTitleId,$scope.selectedCustomer,$scope.selectedRegion);
           }
           // Method to handle edit button click
           $scope.editClicked = function() {
               $scope.editMode = true;
           }
               
            //dummy data for placeholder animation  
           $scope.phData = {
           "tableInfo": new Array(9)
           }   
           
           // called on pageload
           $scope.loadData = function(){
               hideShowProgress(true,true);
                   var promise = customerMappingFactory.loadData($scope.sTitleId);
                   promise.then(function(obj) {
                     $scope.MappingData = obj;
                     $scope.originalMappingData = obj;
                     $scope.writeAccess= false;
                     if($scope.MappingData != undefined && $scope.MappingData.parentTerritoryAccess != undefined && $scope.MappingData.parentTerritoryAccess.WRITE != undefined){
                         $scope.writeAccess = $scope.MappingData.parentTerritoryAccess.WRITE;
                     }else if($scope.MappingData != undefined && $scope.MappingData.mapTerritoryAccess != undefined && $scope.MappingData.mapTerritoryAccess.WRITE != undefined){
                         $scope.writeAccess = $scope.MappingData.mapTerritoryAccess.WRITE;
                     }
                     console.log('This -->' ,$scope.writeAccess);
                     if($scope.writeAccess.toUpperCase() === 'TRUE') {
                         $scope.writeFlag = true;
                     } else if($scope.writeAccess.toUpperCase() === 'FALSE') {
                         $scope.writeFlag = false;
                     }
                     showConsoleLog('Inside loadData Ctrl');
                     showConsoleLog('obj : ' , $scope.MappingData);
                     $scope.selectedCustomer = $scope.MappingData.sSelectedCustomer;
                     if($scope.selectedCustomer == "Amazon"){
                         $scope.isAmazon = true;
                     }else{
                         $scope.isAmazon = false;
                     }
                     showConsoleLog($scope.selectedCustomer);
                     $scope.mappingType = $scope.MappingData.sMappingType;
                     showConsoleLog('$scope.mappingType' , $scope.mappingType);
                     $scope.selectedRegion = $scope.MappingData.sSelectedRegion;
                     showConsoleLog('MappingData : ' + JSON.stringify($scope.MappingData));
                     showConsoleLog('Grid Data : ' , $scope.MappingData.lstProductData);
                     if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase()){
                           $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','Etag','sSeriesBigId','sSeriesMediaId','SeriesId','Eidr','BigId','MediaId','ComponentId','SeriesTitle','SeasonASIN','EpisodeNumber','SeasonNumber','1stEpASIN','ADAMId'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.seasonMapping.toUpperCase()){
                           $scope.gridOptions.columnApi.setColumnsVisible(['SeasonNumber','LocalDesc','ASIN','1stEpASIN','Format','Channel','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','Etag','sSeriesBigId','sSeriesMediaId','SeriesId','Eidr','BigId','MediaId','ComponentId','SeriesTitle','SeasonASIN','EpisodeNumber','ADAMId'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.episodeMapping.toUpperCase()) {
                           $scope.gridOptions.columnApi.setColumnsVisible(['EpisodeNumber','LocalDesc','ASIN','SeasonASIN','Format','Channel','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','Etag','sSeriesBigId','sSeriesMediaId','SeriesId','Eidr','BigId','MediaId','ComponentId','SeriesTitle','SeasonNumber','1stEpASIN','ADAMId'], false);
                           
                     }
                     $scope.gridOptions.api.setRowData($scope.MappingData.lstProductData);
                     setTimeout(function(){
                            $scope.gridOptions.api.sizeColumnsToFit();
                        },100);
                     showConsoleLog('THIS HOLDS THE GRIDS DATA : ' , $scope.MappingData.lstProductData);

                     }, function(reason) {
                       alert('Failed: ' + reason);
                   }, function(update) {
                       alert('');
                   });
                   
                              
                  //hide placeholder animation   
                 setTimeout(function(){
                    hideShowProgress(true,false);
                 },500)
           }
           // Method to save data
           $scope.saveData = function(){
               hideShowProgress(true,true);
                   var result = false;
                   if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())){
                       result = $scope.validateAmazon();
                   }
                   if($scope.xboxCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())){
                       result = $scope.validateMicrosoft();
                   }
                   if($scope.googleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())){
                       result = $scope.validateGoogle(); 
                   }
                   if($scope.appleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())){
                       result = $scope.validateApple();
                   }
                   if(result){
                    }
                  //hide placeholder animation   
                 setTimeout(function(){
                     hideShowProgress(true,false);
                 },500)
           }
           // Method to handle validation for Amazon
           $scope.validateAmazon = function(){
               showConsoleLog('Amazon Validation');
               var allGridRecords = [];
               var sortedGridRecords = [];
               var duplicateGridRecords = [];
               var singleRecord;
               var emptyDesc = [];
               var emptyASINs = [];    
               var allDesc = [];
               var allASINs = [];
               var AllDescSorted = [];
               var allASINsSorted = [];
               var all1stEpASINs = [];
               var allSeasonNums = [];
               var emptySeasonNum = [];
               var empty1stEpASIN = [];
               var sorted1stEpASINs = [];
               var sortedSeasonNums = [];
               var duplicateASINs =[];
               var dup1stEPASINs = [];
               var dupSeasonNums = [];
               var emptySeasonASINs = [];
               var emptyEpisodeNums = [];
               var duplicateDesc = [];
               var allSeasonASINs = [];
               var sortedSeasonASINs = [];
               var dupSeasonASINs = [];
               showConsoleLog('Inside Validation : ' , $scope.mappingType);
               hideShowProgress(true,true);
               $scope.isAmazon = true;
               //Check Validations for Amazon Film mapping
               if($scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase()){
                   showConsoleLog('Inside Amazon Validation Film');
                   angular.forEach($scope.MappingData.lstProductData, function(record,index){        //
                       if(!record.bIsDeleted && (record.sLocalDescription == '' || record.sLocalDescription == undefined)){
                           emptyDesc.push(record.sLocalDescription) ;
                       }
                       if(!record.bIsDeleted && (record.sASIN == '' || record.sASIN == undefined)){
                           emptyASINs.push(record.sASIN);      
                       }
                       if(!record.bIsDeleted && (record.sLocalDescription != '' && record.sLocalDescription != undefined)){
                           allDesc.push({
                               "name":record.sLocalDescription,
                               "id":index
                           })
                           
                       }
                       if(!record.bIsDeleted && (record.sASIN != '' && record.sASIN != undefined)){
                           allASINs.push({
                               /* Commenting out as per  MP-1516 */
                               //"name":record.sChannel+record.sFormat+record.sASIN,
                               "name":record.sASIN,
                               "id":index
                           })
                           
                       }
                   });
                   sortedGridRecords = allGridRecords.slice().sort();
                   allASINsSorted = allASINs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   for(var i=0 ; i < allASINsSorted.length- 1 ; i++){
                       if(allASINsSorted[i+1].name == allASINsSorted[i].name){
                           duplicateASINs.push(allASINsSorted[i]);
                           $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=false;
                           $scope.MappingData.lstProductData[allASINsSorted[i].id].bUniqueASIN=false;                          
                       }else{
                            $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=true; 
                       }
                   }
               }else if($scope.mappingType.toUpperCase() == $scope.seasonMapping.toUpperCase()){
                   angular.forEach($scope.MappingData.lstProductData, function(record,index){
                   if(!record.bIsDeleted && (record.s1stEpisodeASIN != '' && record.s1stEpisodeASIN != undefined)){
                       all1stEpASINs.push({
                            /* commenting out as per MP-1516  */
                           //"name":record.sChannel+record.sFormat+record.s1stEpisodeASIN,
                           "name":record.s1stEpisodeASIN,
                           "id":index
                       });
                   }
                   if(!record.bIsDeleted && ( record.sASIN != '' && record.sASIN != undefined)){
                       allASINs.push({
                            /* commenting out as per MP-1516  */
                           //"name":record.sChannel+record.sFormat+record.sASIN,
                           "name":record.sASIN,
                           "id":index
                       })
                       
                   }
                   if(!record.bIsDeleted && (record.sASIN == '' || record.sASIN == undefined)){
                       emptyASINs.push(record.sASIN);
                   }
                   if(!record.bIsDeleted && (record.sSeasonNumber == '' || record.sSeasonNumber == undefined) ){
                       emptySeasonNum.push(record.sSeasonNumber);
                   }
                   if(!record.bIsDeleted && (record.sLocalDescription == '' || record.sLocalDescription == undefined)){
                       emptyDesc.push(record.sLocalDescription);
                   }
                   if(!record.bIsDeleted && (record.s1stEpisodeASIN == '' || record.s1stEpisodeASIN == undefined)){
                       empty1stEpASIN.push(record.s1stEpisodeASIN);
                   }
                   });
                   showConsoleLog('emptyASINs : ' ,emptyASINs);
                   showConsoleLog('emptySeasonNum : ' , emptySeasonNum);
                   allASINsSorted = allASINs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   sorted1stEpASINs = all1stEpASINs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   showConsoleLog('sorted1stEpASINs ' , sorted1stEpASINs);
                  
                   for(var i=0 ; i < allASINsSorted.length- 1 ; i++){
                       if(allASINsSorted[i+1].name == allASINsSorted[i].name){
                            $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=false;
                            $scope.MappingData.lstProductData[allASINsSorted[i].id].bUniqueASIN=false;                          
                           duplicateASINs.push(allASINsSorted[i]);
                       }else{
                           $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=true;
                       }
                   }
                  
                   
                   for(var i=0 ; i < sorted1stEpASINs.length- 1 ; i++){
                       if(sorted1stEpASINs[i+1].name == sorted1stEpASINs[i].name){
                           $scope.MappingData.lstProductData[sorted1stEpASINs[i+1].id].bUnique1stEpASIN=false;
                           $scope.MappingData.lstProductData[sorted1stEpASINs[i].id].bUnique1stEpASIN=false;
                           dup1stEPASINs.push(sorted1stEpASINs[i]);
                       }else{
                           $scope.MappingData.lstProductData[sorted1stEpASINs[i+1].id].bUnique1stEpASIN=true;
                       }
                   }
           
               }else if($scope.mappingType.toUpperCase() == $scope.episodeMapping.toUpperCase()){
                   showConsoleLog('AMAZON VALIDATION FOR EPISODE');
                   angular.forEach($scope.MappingData.lstProductData , function(record,index){
                       if(!record.bIsDeleted && (record.sASIN == '' || record.sASIN == undefined)){
                           emptyASINs.push(record.sASIN);
                       }
                       if(!record.bIsDeleted && (record.sSeasonASIN == '' || record.sSeasonASIN == undefined)){
                           emptySeasonASINs.push(record.sSeasonASIN);
                       }   
                       if(!record.bIsDeleted && (record.sEpisodeNumber == '' || record.sEpisodeNumber == undefined)){
                               emptyEpisodeNums.push(record.sEpisodeNumber);
                       }
                       if(!record.bIsDeleted && (record.sLocalDescription == '' || record.sLocalDescription == undefined)){
                               emptyDesc.push(record.sLocalDescription);
                       }
                       if(!record.bIsDeleted && (record.sASIN != '' && record.sASIN != undefined)) {
                           allASINs.push({
                               /* commenting out as per MP-1516  */
                               //"name":record.sChannel+record.sFormat+record.sASIN,
                               "name":record.sASIN, 
                               "id":index
                           });
                          
                       }
                       if(!record.bIsDeleted && (record.sSeasonASIN != '' && record.sSeasonASIN != undefined)) {
                            allSeasonASINs.push({
                                
                               "name":record.sSeasonASIN,
                               "id":index
                           });
                           
                           
                       }
                   });
                   
                   sortedSeasonASINs = allSeasonASINs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   allASINsSorted = allASINs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   
                   for(var i = 0; i < sortedSeasonASINs.length - 1; i++){
                       if(sortedSeasonASINs[i+1].name == sortedSeasonASINs[i].name){
                           $scope.MappingData.lstProductData[sortedSeasonASINs[i+1].id].bUniqueSeasonASIN=false; 
                           $scope.MappingData.lstProductData[sortedSeasonASINs[i].id].bUniqueSeasonASIN=false;
                           dupSeasonASINs.push(sortedSeasonASINs[i]);
                       }else{
                           $scope.MappingData.lstProductData[sortedSeasonASINs[i+1].id].bUniqueSeasonASIN=true; 
                       }
                   }
                   for(var i = 0; i < allASINsSorted.length - 1; i++){
                       if(allASINsSorted[i+1].name == allASINsSorted[i].name){
                            $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=false;
                            $scope.MappingData.lstProductData[allASINsSorted[i].id].bUniqueASIN=false;
                           duplicateASINs.push(allASINsSorted[i]);
                       }else{
                            $scope.MappingData.lstProductData[allASINsSorted[i+1].id].bUniqueASIN=true; 
                       }
                   }
               }
               $scope.mndtryError=false;
                toastr.options={
                            positionClass:"toast-top-center",
                            timeOut:"2000"
                            
                        }
            if(!$scope.checkError) {
               if(emptyASINs.length > 0){  
                   $scope.mndtryError=true;
                   toastr.error('ID must not be empty ');
               } if(empty1stEpASIN.length > 0){   
                   $scope.mndtryError=true;
                   toastr.error('1st Episode ASIN must not be empty');
               } if(emptySeasonNum.length > 0){  
                   $scope.mndtryError=true;
                    toastr.error('Season Number must not be empty');
               } if(emptySeasonASINs.length > 0){   
                   $scope.mndtryError=true;
                    toastr.error('Season ASIN must not be empty');
               } if(emptyEpisodeNums.length > 0){
                   $scope.mndtryError=true;
                    toastr.error('Episode Number cannot be empty');
               } if(dupSeasonASINs.length > 0){    
                   $scope.mndtryError=true;
                    toastr.error('ID value must be unique for each row');
               } if(duplicateASINs.length > 0){
                   $scope.mndtryError=true;
                    toastr.error('ID value must be unique for each row');
               } if(emptyDesc.length > 0){
                   $scope.mndtryError=true;
                    toastr.error('Local Description value must not be empty');
               } /*if(duplicateDesc.length > 0 ){    //duplicateGridRecords
                    $scope.mndtryError=true;
                    toastr.error('Local Description value must be unique for each row');
               } if(duplicateGridRecords.length > 0 ){ //duplicateGridRecords
                    $scope.mndtryError=true;
                    toastr.error('Local Description value must be unique for each row');
               } */if(dup1stEPASINs.length > 0) {
                    $scope.mndtryError=true;
                    toastr.error('ID value must be unique for each row');
               }
               else if(!$scope.mndtryError) {
                   $scope.checkError = true;
                   $scope.openSaveConfModal();
                   return true;
               }
            }
               else{
                   $scope.openSaveConfModal();
                   return true;
               }
                              
                 //hide placeholder animation   
                 setTimeout(function(){
                     hideShowProgress(true,false);
                 },500)
           }

           // Method to handle validation for Microsoft
           $scope.validateMicrosoft = function(){
               var allMediaIds = [];
               var allBigIds = [];
               var mediaBigEmpty;
               var allLocDescs = [];
               var sortedMediaIds = [];
               var sortedBigIds = [];
               var sortedLocalDescs = [];
               var dupBigIds = [];
               var dupLocalDescs = [];
               var dupMediaIds = [];
               showConsoleLog('Validating Microsoft before Save');
               if($scope.mappingType.toUpperCase() == $scope.tvMapping.toUpperCase()){
                   angular.forEach($scope.MappingData.lstProductData, function(record,index){
                       showConsoleLog('MICROSOFT TV Mapping')
                       showConsoleLog('Media Id : ' +record.sMediaId);
                       showConsoleLog('Big Id : ' +record.sBigId);
                       if(!record.bIsDeleted && (record.sMediaId != '' && record.sMediaId != undefined)){
                           allMediaIds.push({
                               "name":record.sMediaId,
                               "id":index
                           })
                          
                       }
                       if(!record.bIsDeleted && (record.sBigId != '' && record.sBigId != undefined)){
                           allBigIds.push({
                               "name":record.sBigId,
                               "id":index
                           })
                           
                       }
                       if(!record.bIsDeleted &&((record.sMediaId == '' || record.sMediaId==undefined) && (record.sBigId == '' || record.sBigId==undefined))){
                           mediaBigEmpty = true;
                       }
                       if(!record.bIsDeleted && (record.sLocalDescription != '' && record.sLocalDescription != undefined)){
                          allLocDescs.push({
                              "name":record.sLocalDescription,
                              "id":index
                          })
                          
                       }
                   });
                   
                         sortedBigIds = allBigIds.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                         sortedMediaIds=allMediaIds.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                         sortedLocalDescs =allLocDescs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   
                   for(var i =0; i < sortedMediaIds.length - 1 ; i++){
                       if(sortedMediaIds[i+1].name == sortedMediaIds[i].name){
                           $scope.MappingData.lstProductData[sortedMediaIds[i+1].id].bMediaIdUnique=false;
                          $scope.MappingData.lstProductData[sortedMediaIds[i].id].bMediaIdUnique=false;                        
                           dupMediaIds.push(sortedMediaIds[i]);
                       }else{
                           $scope.MappingData.lstProductData[sortedMediaIds[i+1].id].bMediaIdUnique=true;
                       }
                   }
                   for(var i =0; i < sortedLocalDescs.length - 1 ; i++){
                       if(sortedLocalDescs[i+1].name == sortedLocalDescs[i].name){
                           $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=false;
                           $scope.MappingData.lstProductData[sortedMediaIds[i].id].bLocalDescUnique=false;
                           dupLocalDescs.push(sortedLocalDescs[i]);
                       }else{
                           $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=true;
                       }
                   }
                   //populate dupBigIds if Duplicate Big Ids exist
                   for(var i =0; i < sortedBigIds.length - 1 ; i++){
                       if(sortedBigIds[i+1].name == sortedBigIds[i].name){
                           $scope.MappingData.lstProductData[sortedBigIds[i+1].id].bBigIdUnique=false;
                           $scope.MappingData.lstProductData[sortedBigIds[i].id].bBigIdUnique=false;
                           dupBigIds.push(sortedBigIds[i]);
                       }else{
                            $scope.MappingData.lstProductData[sortedBigIds[i+1].id].bBigIdUnique=true;
                       }
                   }
               } else if($scope.mappingType == $scope.filmMapping.toUpperCase()) {
                   showConsoleLog('Microsoft FILM MAPPING ');
                   
                   angular.forEach($scope.MappingData.lstProductData, function(record,index){
                       showConsoleLog('Big Id : ' , record.sBigId);
                       showConsoleLog('Media Id : ' , record.sMediaId);
                       if(!record.bIsDeleted && (record.sBigId != '' && record.sBigId != undefined)){
                           allBigIds.push({
                               "name":record.sBigId,
                               "id":index
                           })
                           
                       }
                       if(!record.bIsDeleted && (record.sMediaId != '' && record.sMediaId != undefined)){
                           allMediaIds.push({
                               "name":record.sMediaId,
                               "id":index
                           })
                           
                       }
                       if(!record.bIsDeleted && ((record.sMediaId == '' || record.sMediaId==undefined) && (record.sBigId == '' || record.sBigId==undefined))){
                           mediaBigEmpty = true;
                       }
                       if(!record.bIsDeleted && (record.sLocalDescription != '' && record.sLocalDescription != undefined)){
                           allLocDescs.push({
                               "name":record.sLocalDescription,
                               "id":index
                           })
                          
                       }
                       
                         sortedBigIds = allBigIds.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                         sortedMediaIds=allMediaIds.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                         sortedLocalDescs =allLocDescs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                       
                       for(var i = 0; i< sortedBigIds.length - 1 ; i++){ 
                           if(sortedBigIds[i+1].name == sortedBigIds[i].name){
                               $scope.MappingData.lstProductData[sortedBigIds[i+1].id].bBigIdUnique=false; 
                               $scope.MappingData.lstProductData[sortedBigIds[i].id].bBigIdUnique=false;    
                               dupBigIds.push(sortedBigIds[i]);
                           }else{
                               $scope.MappingData.lstProductData[sortedBigIds[i+1].id].bBigIdUnique=true;
                           }
                       }  
                       for(var i = 0; i< sortedMediaIds.length - 1 ; i++){
                           if(sortedMediaIds[i+1].name == sortedMediaIds[i].name){
                                $scope.MappingData.lstProductData[sortedMediaIds[i+1].id].bMediaIdUnique=false;
                                $scope.MappingData.lstProductData[sortedMediaIds[i].id].bMediaIdUnique=false;           
                               dupMediaIds.push(sortedMediaIds[i]);
                           }else{
                                $scope.MappingData.lstProductData[sortedMediaIds[i+1].id].bMediaIdUnique=true;
                           }
                       }
                       for(var i = 0; i< sortedLocalDescs.length - 1 ; i++){
                           if(sortedLocalDescs[i+1].name == sortedLocalDescs[i].name){
                                $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=false;
                                $scope.MappingData.lstProductData[sortedLocalDescs[i].id].bLocalDescUnique=false;
                               dupLocalDescs.push(sortedLocalDescs[i]);
                           }else{
                               $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=true;
                           }
                       }
                   });
               }
              toastr.options={
                        positionClass:"toast-top-center",
                        timeOut:"2000"
                        
                    }
              $scope.mndtryError=false;
              if(!$scope.checkError) {
               if(dupMediaIds.length > 0){
                   $scope.mndtryError=true; 
                   toastr.error('ID value must be unique for each row');
               } if(dupBigIds.length > 0){
                   $scope.mndtryError=true; 
                   toastr.error('ID value must be unique for each row');
               } if(mediaBigEmpty == true){
                   $scope.mndtryError=true; 
                   toastr.error('Field cannot be left blank');
               } /*if(dupLocalDescs.length > 0){
                   $scope.mndtryError=true; 
                   toastr.error('Local Description value must be unique for each row');
               }*/
               else if(!$scope.mndtryError) {
                   $scope.checkError = true;
                   $scope.openSaveConfModal();
                   return true;
               }
               }
               else {
                   $scope.openSaveConfModal();
                   return true;
               }
               setTimeout(function(){
                     hideShowProgress(true,false);
               },500)
           }
           // Method to handle validation for Google
           $scope.validateGoogle = function(){
               var emptyVideoId;
               var emptyDesc = [];
               var allvideoIds = [];
               var allLocDescs = [];
               var sortedVideoIds = [];
               var sortedLocalDescs = [];
               var duplicateVideoIds = [];
               var dupLocalDescs = [];
               showConsoleLog('Validate Google Data');
               angular.forEach($scope.MappingData.lstProductData , function(record,index){
                   showConsoleLog('Video Id : ' , record.sVideoId);
                   showConsoleLog('Local Description : ' , record.sLocalDescription);
                   if(!record.bIsDeleted && (record.sVideoId == '' || record.sVideoId == undefined)){
                       emptyVideoId = true;
                   }
                   if(!record.bIsDeleted && (record.sLocalDescription == '' || record.sLocalDescription == undefined)){
                       emptyDesc.push(record.sLocalDescription);
                   }
                   if(!record.bIsDeleted && (record.sVideoId != '' && record.sVideoId != undefined)){
                       allvideoIds.push({
                           "name":record.sVideoId,
                           "id":index
                       })
                      
                   }
                   if(!record.bIsDeleted && (record.sLocalDescription != '' && record.sLocalDescription != undefined)){
                       allLocDescs.push({
                           "name":record.sLocalDescription,
                           "id":index
                       })
                       
                   }
                   sortedVideoIds = allvideoIds.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   sortedLocalDescs = allLocDescs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
               });
               
               for(var i = 0; i < sortedVideoIds.length - 1; i++){
                   if(sortedVideoIds[i+1].name == sortedVideoIds[i].name){
                       $scope.MappingData.lstProductData[sortedVideoIds[i+1].id].bUniqueVideoId=false;
                       $scope.MappingData.lstProductData[sortedVideoIds[i].id].bUniqueVideoId=false;                       
                       duplicateVideoIds.push(sortedVideoIds[i]);
                   }else{
                       $scope.MappingData.lstProductData[sortedVideoIds[i+1].id].bUniqueVideoId=true;  
                   }
               }
               
               for(var i = 0; i < sortedLocalDescs.length - 1; i++){
                   if(sortedLocalDescs[i+1].name == sortedLocalDescs[i].name){
                       //$scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=false;
                       //$scope.MappingData.lstProductData[sortedLocalDescs[i].id].bLocalDescUnique=false;                     
                       dupLocalDescs.push(sortedLocalDescs[i]);
                   }else{
                       $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=true;  
                   }
               }
                toastr.options={
                        positionClass:"toast-top-center",
                        timeOut:"2000"
                        
                    }
               $scope.mndtryError=false;      
               //Show validation errors 
               if(!$scope.checkError) {
               if(emptyVideoId == true){
                    $scope.mndtryError=true;
                   toastr.error('ID field cannot be blank');
               } if(emptyDesc.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('Local Description field cannot be blank');
               } if(duplicateVideoIds.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('ID value must be unique for each row');
               } /*if(dupLocalDescs.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('Local Description value must be unique for each row');
               }*/
               else if(!$scope.mndtryError) {
                   $scope.checkError = true;
                   $scope.openSaveConfModal();
                   return true;
               }
               }
               else{
                   $scope.openSaveConfModal();
                   return true;                //return true if no validation error 
               }
               
               setTimeout(function(){
                     hideShowProgress(true,false);
               },500)
           }
           // Method to handle validation for Apple
           $scope.validateApple = function(){
               var emptyADAMs = [];
               var emptyDesc = [];
               var allADAMs = [];
               var allDesc = [];
               var sortedADAMs = [];
               var sortedLocalDescs = [];
               var duplicateADAMs = [];
               var dupLocalDescs = [];
               angular.forEach($scope.MappingData.lstProductData , function(record,index){
                   if(!record.bIsDeleted && (record.sADAMId == '' || record.sADAMId == undefined)){
                       emptyADAMs.push(record.sADAMId);
                   }
                   if(!record.bIsDeleted && (record.sLocalDescription == '' || record.sLocalDescription == undefined)){
                       emptyDesc.push(record.sLocalDescription);
                   }
                   if(!record.bIsDeleted && (record.sADAMId != '' && record.sADAMId != undefined)){
                       allADAMs.push({
                           "name":record.sADAMId+record.sFormat+record.sChannel,
                           "id":index
                       })
                       
                   }
                   /*if(!record.bIsDeleted && (record.sLocalDescription != '' && record.sLocalDescription != undefined)){
                       allDesc.push({
                           "name":record.sLocalDescription,
                           "id":index
                       })
                       
                   }*/
                   sortedADAMs = allADAMs.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   //sortedLocalDescs = allDesc.slice().sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
                   
                   for(var i = 0; i < sortedADAMs.length - 1; i++){
                       if(sortedADAMs[i+1].name == sortedADAMs[i].name){
                           $scope.MappingData.lstProductData[sortedADAMs[i+1].id].bIdADAMUnique =false;
                           $scope.MappingData.lstProductData[sortedADAMs[i].id].bIdADAMUnique =false;           
                           duplicateADAMs.push(sortedADAMs[i]);
                       }else{
                           $scope.MappingData.lstProductData[sortedADAMs[i+1].id].bIdADAMUnique=true;
                       }
                   }
                   for(var i = 0; i < sortedLocalDescs.length - 1; i++){
                       if(sortedLocalDescs[i+1].name == sortedLocalDescs[i].name){
                           $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=false;
                           $scope.MappingData.lstProductData[sortedLocalDescs[i].id].bLocalDescUnique=false;
                           dupLocalDescs.push(sortedLocalDescs[i]);

                       }else{
                           $scope.MappingData.lstProductData[sortedLocalDescs[i+1].id].bLocalDescUnique=true;
                       }
                   }
               });
               toastr.options={
                        positionClass:"toast-top-center",
                        timeOut:"2000"
                        
                    }
               $scope.mndtryError=false;
               if(!$scope.checkError) {
               if(emptyADAMs.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('ID field cannot be blank');
               } if(emptyDesc.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('Local Description field cannot be blank');
               } if(duplicateADAMs.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('ID value must be unique for each row');
               }/* if(dupLocalDescs.length > 0){
                    $scope.mndtryError=true;
                   toastr.error('Local Description value must be unique for each row');
               }*/
               
               else if(!$scope.mndtryError) {
                   $scope.checkError = true;
                   $scope.openSaveConfModal();
                   return true;
               }
               }
               else{
                    $scope.openSaveConfModal();
                   return true;
               }
               
               setTimeout(function(){
                     hideShowProgress(true,false);
               },500)
           }
           
           
           $scope.paginationArray = [25,50,100,'All'];
           $scope.selected = 0;

           //function to apply pagination
           $scope.onPageSizeChanged = function(newPageSize) {
               if(newPageSize == 'All') {
                   var all = $scope.gridOptions.api.paginationGetRowCount();
                   $scope.gridOptions.api.paginationSetPageSize(Number(all));
               }
               else
                   $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
           }

           //funtion to select active pagination number
           $scope.selectedPaginationOption= function(index) {
               $scope.selected = index; 
           };

           // Method to retrieve the data
           $scope.getData = function(titleId,customer,Region){
               showConsoleLog(titleId);
               showConsoleLog(customer);
               showConsoleLog(Region);
               
               hideShowProgress(false,true);
               $scope.isAmazon = false;
                   var promise = customerMappingFactory.getData(titleId,customer,Region);
                   promise.then(function(obj) {
                       if(obj == null){
                           showConsoleLog('NULL RETURNED');
                       }
                     $scope.MappingData = obj;
                     $scope.writeAccess= false;
                     if($scope.MappingData != undefined && $scope.MappingData.parentTerritoryAccess != undefined && $scope.MappingData.parentTerritoryAccess.WRITE != undefined){
                         $scope.writeAccess = $scope.MappingData.parentTerritoryAccess.WRITE;
                     }else if($scope.MappingData != undefined && $scope.MappingData.mapTerritoryAccess != undefined && $scope.MappingData.mapTerritoryAccess.WRITE != undefined){
                         $scope.writeAccess = $scope.MappingData.mapTerritoryAccess.WRITE;
                     }
                     
                     if($scope.writeAccess.toUpperCase() === 'TRUE') {
                         $scope.writeFlag = true;
                     } else if($scope.writeAccess.toUpperCase() === 'FALSE') {
                         $scope.writeFlag = false;
                     }
                     showConsoleLog('Inside getData Ctrl');
                     showConsoleLog('obj : ' , $scope.MappingData.lstProductData);
                     $scope.originalMappingData = obj;
                     showConsoleLog('Inside loadData Ctrl');
                     showConsoleLog('obj : ' , $scope.MappingData);
                     if($scope.MappingData.lstProductData == undefined){
                       
                     }
                     $scope.selectedCustomer = $scope.MappingData.sSelectedCustomer;
                     showConsoleLog('selectedCustomer **: ' , $scope.selectedCustomer);
                     $scope.mappingType = $scope.MappingData.sMappingType;
                     showConsoleLog('$scope.mappingType **: ' , $scope.mappingType);
                     $scope.selectedRegion = $scope.MappingData.sSelectedRegion;
                     showConsoleLog('MappingData : ' + JSON.stringify($scope.MappingData));
                     $scope.gridOptions.api.setRowData($scope.MappingData.lstProductData);
                     if($scope.xboxCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) &&$scope.mappingType && ($scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase())){
                           $scope.gridOptions.columnApi.setColumnsVisible(['ComponentId','Format','Channel','MediaId','BigId','Eidr','Etag','LocalDesc','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['SeasonNumber','ASIN','1stEpASIN','SeriesMediaId','VideoId','SeriesBigId','SeasonASIN','EpisodeNumber','ADAMId','SeriesTitle','SeriesId'], false);
                     } else if($scope.xboxCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.tvMapping.toUpperCase()){
                          $scope.gridOptions.columnApi.setColumnsVisible(['ComponentId','Format','Channel','MediaId','BigId','Eidr','Etag','LocalDesc','SeasonNumber','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','ASIN','1stEpASIN','ADAMId'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase()){
                          $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','1stEpASIN','ADAMId','ComponentId','MediaId','BigId','Eidr','Etag','SeasonNumber','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId'], false);
                           setTimeout(function(){
                                $scope.gridOptions.api.sizeColumnsToFit();
                            },100);
                         
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.seasonMapping.toUpperCase()){
                          $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','1stEpASIN','SeasonNumber','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','ADAMId'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType && $scope.mappingType.toUpperCase() == $scope.episodeMapping.toUpperCase()) {
                          $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','SeasonASIN','EpisodeNumber','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber','ADAMId'], false);
                     } else if($scope.appleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())) {
                          $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','LocalDesc','ADAMId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber','ASIN','SeasonASIN','EpisodeNumber'], false);
                           if($scope.MappingData.lstProductData==undefined){
                               $scope.gridOptions.api.showNoRowsOverlay();
                           }
                           setTimeout(function(){
                                $scope.gridOptions.api.sizeColumnsToFit();
                            },100);
                     } else if($scope.googleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())) {
                           $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','LocalDesc','VideoId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['ADAMId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber','ASIN','SeasonASIN','EpisodeNumber'], false);
                     }
                       $scope.gridOptions.onGridReady=function(params){
                             params.api.setRowData($scope.MappingData.lstProductData);
                      params.api.redrawRows();
                       }
                 hideShowProgress(false,false);
                   }, function(reason) {
                   hideShowProgress(false,false);
                       alert('Failed: ' + reason);
                   }, function(update) {
                   hideShowProgress(false,false);
                       alert('');
                   });
                   
                              
                  //hide placeholder animation   
                 setTimeout(function(){
                     hideShowProgress(true,false);
                 },500)
           } 
        // Method to handle record deletion
           $scope.deleteRecord = function(data){
               showConsoleLog('Data to delete : ' , data);
               data.bIsDeleted = true;
               var deleteRecordList = [];
               deleteRecordList.push(data);
               $scope.gridOptions.api.updateRowData({remove: deleteRecordList});
               showConsoleLog('data : ' , data);
               hideShowProgress(true,true);
                 
                              
                  //hide placeholder animation   
                 setTimeout(function(){
                     hideShowProgress(true,false);
                 },500)
           }
           // Method to add a new row
           $scope.addNewRow = function(selectedCustomer, MappingType) {
                   $scope.showMinCriteriaError = true;
                   if (($scope.channels.VOD || $scope.channels.EST) && ($scope.format.HD || $scope.format.SD || $scope.format.formatK)) {
                       $scope.showMinCriteriaError = false;
                   } else {
                       $scope.showMinCriteriaError = true;
                   }
                   var insertList = angular.copy($scope.MappingData);
                   var tempObj = [];
                   showConsoleLog('insertList', insertList);
                   showConsoleLog('ADD NEW BUTTON CLICKED');
                   $scope.MappingData.lstProductData = $scope.MappingData.lstProductData ==undefined ? [] :$scope.MappingData.lstProductData;
                   $scope.selectedChannels =[];
                   $scope.selectedFormat = [];
                   $scope.mndtryError=false;
                   angular.forEach($scope.channels,function(value,key){
                             if(value == true) {
                                 $scope.selectedChannels.push(key);
                             }
                         });
                         
                          angular.forEach($scope.format,function(value,key){
                             if(value == true) {
                                 $scope.selectedFormat.push(key);
                             }
                         });
                         
                         angular.forEach($scope.selectedChannels,function(value){
                             if(value){
                                 angular.forEach($scope.selectedFormat,function(format){
                                 $scope.Mapping = {
                                   'sChannel': value,
                                   'sFormat': format,
                                   'sADAMId': '',
                                   's1stEpisodeASIN': '',
                                   'sSeasonASIN': '',
                                   'sSeasonNumber': '',
                                   'sEpisodeNumber': '',
                                   'sSeriesTitle': '',
                                   'sComponentId': '',
                                   'sMediaId': '',
                                   'sBigId':'',
                                   'sEidr': '',
                                   'sSeriesId': '',
                                   'sSeriesMediaId': '',
                                   'sSeriesBigId': '',
                                   'sEtag': '',
                                   'sVideoId': '',
                                   'sASIN': '',
                                   'sLocalDescription': '',
                                   'sRecordId': '',
                                   'bIsDeleted': false,
                                   'bIdADAMUnique':true,
                                    'bLocalDescUnique':true,
                                    'bUniqueVideoId':true,
                                    'bMediaIdUnique':true,
                                    'bBigIdUnique':true,
                                    'bUniqueASIN':true,
                                    'bUnique1stEpASIN':true,
                                    'bUniqueSeasonASIN':true
                               };
                               $scope.MappingData.lstProductData.push($scope.Mapping);
                               tempObj.push($scope.Mapping);
                             });
                             }
                         });
                   if($scope.xboxCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase()){
                           $scope.gridOptions.columnApi.setColumnsVisible(['ComponentId','Format','Channel','MediaId','BigId','Eidr','Etag','LocalDesc','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['SeasonNumber','ASIN','1stEpASIN','SeriesMediaId','VideoId','SeriesBigId','SeasonASIN','EpisodeNumber','SeriesTitle','SeriesId'], false);
                     } else if($scope.xboxCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType.toUpperCase() == $scope.tvMapping.toUpperCase()){
                         $scope.gridOptions.columnApi.setColumnsVisible(['ComponentId','Format','Channel','MediaId','BigId','Eidr','Etag','LocalDesc','SeasonNumber','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','ASIN','1stEpASIN'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType.toUpperCase() == $scope.filmMapping.toUpperCase()){
                         $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','1stEpASIN','ComponentId','MediaId','BigId','Eidr','Etag','SeasonNumber','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId'], false);
                           setTimeout(function(){
                                $scope.gridOptions.api.sizeColumnsToFit();
                            },100);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType.toUpperCase() == $scope.seasonMapping.toUpperCase()){
                         $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','1stEpASIN','SeasonNumber','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','SeasonASIN','EpisodeNumber','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId'], false);
                     } else if($scope.amazonCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase()) && $scope.mappingType.toUpperCase() == $scope.episodeMapping.toUpperCase()) {
                         $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','ASIN','LocalDesc','SeasonASIN','EpisodeNumber','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber'], false);
                     } else if($scope.appleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())) {
                         $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','LocalDesc','ADAMId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['VideoId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber','ASIN','SeasonASIN','EpisodeNumber'], false);
                           if($scope.MappingData.lstProductData==undefined){
                               $scope.gridOptions.api.showNoRowsOverlay();
                           }
                           setTimeout(function(){
                                $scope.gridOptions.api.sizeColumnsToFit();
                            },100);
                     } else if($scope.googleCustomer.toUpperCase().includes($scope.selectedCustomer.toUpperCase())) {
                           $scope.gridOptions.columnApi.setColumnsVisible(['Channel','Format','LocalDesc','VideoId','DeleteRow'], true);
                           $scope.gridOptions.columnApi.setColumnsVisible(['ADAMId','sSeriesBigId','ComponentId','MediaId','BigId','Eidr','Etag','SeriesTitle','SeriesId','SeriesMediaId','SeriesBigId','1stEpASIN','SeasonNumber','ASIN','SeasonASIN','EpisodeNumber'], false);
                           $scope.gridOptions.api.sizeColumnsToFit();
                     }
                   $scope.gridOptions.api.updateRowData({
                       add: tempObj
                   });
                   showConsoleLog('data : ', insertList);
                   hideShowProgress(true, true);

                   //hide placeholder animation   
                   setTimeout(function() {
                       hideShowProgress(true, false);
                   }, 500) 
               }
           
           var columnDefs = [
           {headerName: "Channel", field: "sChannel", hide : true,sort:"asc",
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", colId:"Channel", width: 120,  hide : true,cellRenderer: function(params){
                           return params.value;
                       }},
           {headerName: "Format", field: "sFormat", colId:"Format", width: 100, hide : true,sort:"asc", 
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",cellRenderer: function(params){
                           if(params.value=="formatK")
                                return '4K';
                           else 
                                return params.value;
                       }},
           {headerName: "ADAM ID", field: "sADAMId",  colId:"ADAMId", width: 200,editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",
           cellRenderer: function(params) {
                           return $("#adamIdRow").html();
                       }
                       },  
           {headerName: "1st Episode ASIN", field: "s1stEpisodeASIN", width: 220, colId:"1stEpASIN",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#1stEpisodeAsin").html();
                       }},
           {headerName: "Season#", field: "sSeasonNumber", width: 220, colId:"SeasonNumber",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#SeasonId").html();
                       }},
           {headerName: "Season ASIN", field: "sSeasonASIN", width: 220, colId:"SeasonASIN",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#SeasonAsin").html();         
                       }},
           {headerName: "Episode#", field: "sEpisodeNumber", width: 220, colId:"EpisodeNumber",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",cellRenderer: function(params){
                           return $("#episodeId").html();
                       }}, 
           {headerName: "Series Title", field: "sSeriesTitle", width: 220, colId:"SeriesTitle",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#titleSeries").html();
                       }}, 
           {headerName: "Component ID", field: "sComponentId", width: 220, colId:"ComponentId",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#IdComponent").html();
                       }}, 
           {headerName: "Media ID", field: "sMediaId", colId:"MediaId", width: 220,editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#IdMedia").html();
                       }}, 
           {headerName: "Big ID", field: "sBigId", colId:"BigId", width: 220,editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                            return $("#IdBig").html();
                       }}, 
           {headerName: "Eidr", field: "sEidr", colId:"Eidr", width: 220,editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                            return $("#Eidr").html();
                       }},
           {headerName: "Series ID", field: "sSeriesId", width: 220, colId:"SeriesId",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",cellRenderer: function(params){
                           return $("#IdSeries").html();
                       }},
           {headerName: "Series Media ID", field: "sSeriesMediaId", width: 220, colId:"SeriesMediaId",editable:true, cellEditor: 'test',hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",cellRenderer: function(params){
                           return $("#IdSeriesMedia").html();
                       }},
           {headerName: "Series Big ID", field: "sSeriesBigId", width: 220, colId:"SeriesBigId",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#IdSeriesBig").html();
                       }},
           {headerName: "ETAG", field: "sEtag", colId:"Etag", width: 220,editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#eTag").html();
                       }},
           {headerName: "Video ID ", field: "sVideoId", width: 220, colId:"VideoId",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", cellRenderer: function(params){
                           return $("#VideoIdrow").html();
                       }},         
           {headerName: "ASIN", field: "sASIN", width: 220, colId:"ASIN",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter",
           cellRenderer: function(params){
                           return $("#ASINrow").html();
                       }},         
           {
               headerName: "Local Description", field: "sLocalDescription", width: 220, colId:"LocalDesc",editable:true, cellEditor: 'test', hide : true,
           menuTabs:['filterMenuTab','generalMenuTab'],
           filter:"agTextColumnFilter", 
           cellRenderer: function(params) {
                            //if($scope.isAmazon)
                                return $("#descriptionAmazonRow").html();
                           /* else
                                return $("#descriptionNoAmazonRow").html();*/
                       }
                       },
           {
                       headerName: "",
                       field:"delete",
                       hide : true,
                       width:80,
                       colId:"DeleteRow",
                       suppressFilter:true,
                       suppressMenu: true,
                       cellRenderer: function(params) {  
                           return $("#deleteRow").html();
                       },
         
                   }
                       
           ];
           //grid options defining the ag-grid
           $scope.gridOptions = {
               columnDefs: columnDefs,
               defaultColDef: {
                     filterParams: {clearButton: true}
               },
               rowData: null,      
               enableFilter : true,
               angularCompileRows: true,                
               domLayout: 'autoHeight',
               toolPanelSuppressSideButtons: true,
               enableSorting:true,
               rowHeight: 58,
               suppressClickEdit :true,
               enableRangeSelection : true,
               enableColResize : true,
               rowBuffer:10000,
               suppressColumnVirtualisation:true,
               paginationPageSize: 25,
               suppressHorizontalScroll: false,
               pagination: true,
               suppressClickEdit : true,
               suppressRowClickSelection: true,
               suppressLoadingOverlay:true,
               onCellFocused: function(params) {
                      if($scope.editMode) {
                        const renderers = params.api.getCellRendererInstances();
                        let renderer = renderers.filter(function(r) {
                          return r.params.rowIndex === params.rowIndex 
                            && r.params.column.colId === params.column.colId;
                        })[0];
                        if(renderer) {
                          renderer.params.eGridCell.querySelector('.hep-tabbing').focus();
                        }
                      }
                    },
               suppressMovableColumns: false,
               onGridReady: function(params) {
                //setTimeout(function(){
                    $scope.gridOptions.api.sizeColumnsToFit();
                //},100);
            },processCellForClipboard:function(params){
                 if( params.column.getColId() === 'ASIN')
                 { return params.node.data.sASIN;}
                 else return params.value;
                
            },processCellFromClipboard : function(params){
                if($scope.editMode == false){
                    if( params.column.getColId() === 'ADAMId'){ return params.node.data.sADAMId;} 
                    if( params.column.getColId() === '1stEpASIN'){ return params.node.data.s1stEpisodeASIN;}
                    if( params.column.getColId() === 'SeasonNumber'){ return params.node.data.sSeasonNumber;}
                    if( params.column.getColId() === 'SeasonASIN'){ return params.node.data.sSeasonASIN;}
                    if( params.column.getColId() === 'EpisodeNumber'){ return params.node.data.sEpisodeNumber;}
                    if( params.column.getColId() === 'SeriesTitle'){ return params.node.data.sSeriesTitle;}
                    if( params.column.getColId() === 'ComponentId'){ return params.node.data.sComponentId;}
                    if( params.column.getColId() === 'MediaId'){ return params.node.data.sMediaId;}
                    if( params.column.getColId() === 'BigId'){ return params.node.data.sBigId;}
                    if( params.column.getColId() === 'Eidr'){ return params.node.data.sEidr;}
                    if( params.column.getColId() === 'SeriesId'){ return params.node.data.sSeriesId;}
                    if( params.column.getColId() === 'SeriesMediaId'){ return params.node.data.sSeriesMediaId;}
                    if( params.column.getColId() === 'SeriesBigId'){ return params.node.data.sSeriesBigId;}
                    if( params.column.getColId() === 'Etag'){ return params.node.data.Etag;}
                    if( params.column.getColId() === 'VideoId'){ return params.node.data.sVideoId;}
                    if( params.column.getColId() === 'ASIN'){ return params.node.data.sASIN;}
                    if( params.column.getColId() === 'LocalDesc'){ return params.node.data.sLocalDescription;}
                }else{
                            if(params.column.getColId() === 'LocalDesc')
                            { 
                                params.node.data.sLocalDescription = angular.copy(params.value);
                                return params.node.data.sLocalDescription;
                                
                            }else{
                                return params.value;
                            }
                }   
            }
                
            
            
           } 

           // For responsive horizontal scrolling
           fetchWindowSize();
           $scope.$on('HEP_Title_Customer_Mapping', function(event, data) {
                
                if(data == 'load'){
                    $scope.loadData();
                    $scope.selectedTab = true;
                }
                else if(data == 'navigate'){
                    $scope.$emit('navigateNext', '');
                    $scope.selectedTab = false;
                }
            });
           $(window).resize(function() {
               $timeout(function() {
               fetchWindowSize();
               });
           });
           
       }
       </script>
   </apex:page>