<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_AddProduct_Controller">
    <c:HEP_Navigation_Menu_Component />

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body ng-app="PromotionsApp">

        <div ng-controller="HEP_Promotion_discountAddProducts_Ctrl" class="minwrap-container mainContainerDiscount digitalAddProductsContainer" ng-cloak="true">
            <div class="hep-loaded-content" style="display: none;">
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingZero">
                        <label class="subHeader">Create Discounts</label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 paddingZero text-right marginBottom5">
                        <button type="button" class="hep-btn-border no-border marginRight15" ng-click="redircttoPromotion()">Cancel</button>
                        <button type="button" class="hep-btn" ng-click="saveproduct()" ng-disabled="AddAccess">Add</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                        <div class="separator"></div>
                    </div>
                </div>

                <div class="optionsGridContainer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero marginBottom5">
                            <div class="subHeadingLabel marginBottom15">Which channels and formats do you need?</div>
                            <label class="subLabel">Channel : </label>

                            <input id="EST" type="checkbox" ng-model="EST" />
                            <label for="EST" class="subHeadingLabel">EST</label>
                            <input id="VOD" type="checkbox" ng-model="VOD" />
                            <label for="VOD" class="subHeadingLabel">VOD</label>
                            <label class="separator-line"></label>
                            <label class="subLabel">Format : </label>
                            <input id="HD" type="checkbox" ng-model="HD" />
                            <label for="HD" class="subHeadingLabel">HD</label>
                            <input id="SD" type="checkbox" ng-model="SD"/>
                            <label for="SD" class="subHeadingLabel">SD</label>
                            <input id="4K" type="checkbox" ng-model="formatK"/>
                            <label for="4K" class="subHeadingLabel">4K</label>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero marginBottom5">
                          <label ng-show="data.showMinCriteriaError">At least one channel and format must be selected.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div class="separator"></div>
                        </div>
                    </div>
                  
                    <!--Search section starts here-->
                    <div class="row search-section" ng-hide="sPromotionType=='National' && bTPROnly=='false'">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero" ng-class="{'marginTop25':selectedType.sValue == 'National Promo Time Frame'}" ng-if="sPromotionType != 'National'">
                            <div class="form-group territory-dpdwn">
                                <!--<input type="text" readonly="readonly" class="Input-Field dpd-input whiteDD" tabindex="2" click-outside="closeTerritoryDpdwn()" outside-if-not="dpd-block" ng-model="selectedType.sValue" />-->
                                <!--<div class="dpd-block" style="display:none">-->
                                <!--    <ul class="list-vertical">-->
                                <!--        <li ng-repeat="type.sValue for type in dropdownValues track by type.sKey" ng-click="selectedType=type;getSelectedTypeData(selectedType.sValue,$event)"><a>{{type.sValue}}</a></li>-->
                                <!--    </ul>-->
                                <!--</div>-->
                                <select class="Input-Field dpd-input whiteDD" ng-model="selectedType" ng-options="type.sValue for type in dropdownValues track by type.sKey" ng-change="getSelectedTypeData(selectedType)">
                                    <option value="" style="display: none"></option>
                                </select>
                            </div>
                        </div>
                          <div ng-if="selectedType.sValue == 'National Promo Name' || selectedType.sValue == 'Titles'" class="col-xs-9 col-sm-9 col-md-9 col-lg-9 paddingZero">
                            <!-- <input type="text" ng-model="searchData" /> -->
                            <div class="form-group">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 paddingZero">
                                    <input type="text" class="dpd-input whiteDD search search-Input-Field search-icon" ng-model="searchKeyValue" />
                                    <span ng-click="searchKeyValue=''" class="search-blue-cross"></span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero" ng-class="{'marginTop25':selectedType.sValue == 'National Promo Time Frame'}">
                                    <button class="hep-btn hep-btn-search" ng-click="searchtitle(searchKeyValue)" ng-disabled="searchAccess">Search</button>
                                </div>
                            </div>

                        </div>
                        <div ng-if="selectedType.sValue == 'National Promo Time Frame'" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero">
                            <div class="form-group">
                                <label>From</label>
                                <p class="input-group date-container">
                                    <input alt-input-formats="altDateFormat" class="Date-Input form-control" ng-change="displaydate(fromDate)" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" hep-validate-date="true" dateformat="{{localeDateFormat}}" allDateFormats="{{altDateFormat}}" datepicker-options="dateOptions" is-open="popup1.opened" name="startDate" ng-model="fromDate" ng-required="true" type="text" uib-datepicker-popup="{{localeDateFormat}}" datepicker-append-to-body="true" ng-model-options="{timezone: 'utc'}" />
                                    <span class="input-group-btn">
                                    <button class="calendarIcon" ng-click="popup1.opened=true" type="button" ></button>
                                </span>
                                </p>
                            </div>
                        </div>
                        <div ng-if="selectedType.sValue == 'National Promo Time Frame'" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero">
                            <div class="form-group">
                                <label>To</label>
                                <p class="input-group date-container">
                                    <input alt-input-formats="altDateFormat" class="Date-Input form-control" close-text="Close" ng-change="displaydate2(toDate)" placeholder="{{localeDateFormat.toUpperCase()}}" hep-validate-date="true" dateformat="{{localeDateFormat}}" allDateFormats="{{altDateFormat}}" datepicker-options="dateOptions1" is-open="popup2.opened" name="endDate" ng-model="toDate" ng-required="true" type="text" uib-datepicker-popup="{{localeDateFormat}}" datepicker-append-to-body="true" ng-model-options="{timezone: 'utc'}" />
                                    <span class="input-group-btn">
                                    <button class="calendarIcon" ng-click="popup2.opened=true" type="button" ></button>
                                </span>
                                </p>
                            </div>
                        </div>
                         <div ng-if="selectedType.sValue == 'National Promo Time Frame'" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero" ng-class="{'marginTop25':selectedType.sValue == 'National Promo Time Frame'}">
                              <button class="hep-btn hep-btn-search" ng-click="searchtitle('timeframe')" ng-disabled="searchAccess || !startDate || !endDate">Search</button>
                          </div>
                    </div>
                    <!--Search section ends here-->
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 paddingLeft0" ng-hide="sPromotionType=='National' && bTPROnly == 'false'">
                            <div ag-grid="gridOptionsFAD" class="ag-theme-material gt-table"></div>
                            <!--code for pagination starts here-->
                             <div class="paginationContainer">
                                <span class="paginationLabel">Show :</span>
                                <a ng-repeat="i in paginationArray track by $index" ng-click="select($index);onPageSizeChanged(i)" class="totalItems pointer-cursor pagesize" ng-class="{active: $index == selected}">{{i}}</a>
                             </div>
                               <!--code for pagination ends here-->
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 paddingLeft0" ng-show="sPromotionType=='National' && bTPROnly == 'false'">
                            <div ag-grid="gridOptionsNonTPR" class="ag-theme-material gt-table"></div>
                            <!--code for pagination starts here-->
                             <div class="paginationContainer">
                                <span class="paginationLabel">Show :</span>
                                <a ng-repeat="i in paginationArray track by $index" ng-click="select($index);onPageSizeChanged(i)" class="totalItems pointer-cursor pagesize" ng-class="{active: $index == selected}">{{i}}</a>
                             </div>
                               <!--code for pagination ends here-->
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero selectedDataContainer">
                            <div class="bold-row selectedCountContainer">{{selectedRowsCount}} Titles selected</div>
                            <div class="selectedRowsContainer">
                                <div class="indvSelectedData" ng-repeat="x in lstSelectedRows track by $index">{{x.sTitle}}<span class="closeBtnSmall" ng-click="uncheckPromotion(x)"></span></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Animation tab starts -->
            <div class="minwrap-container ph-master-anim sku-anim">
                <div class="row paddingTop27">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                        <label class="promotionDetailsHeader marginBottom17">
                            <div class="show-anim pd-header"></div>
                        </label>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 diffwidthanimation paddingZero">
                        <div class="show-anim pd-header"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 diffwidthanimation paddingZero">
                        <div class="show-anim pd-header"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 diffwidthanimation paddingZero">
                        <div class="show-anim pd-header"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 diffwidthanimation paddingZero">
                        <div class="show-anim pd-header"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 diffwidthanimation paddingZero">
                        <div class="show-anim pd-header"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <table class="table-anim">
                            <thead>
                                <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in phData.tableInfo track by $index">
                                    <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                    <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                    <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                    <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <table class="table-anim">
                            <thead>
                                <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in digitalAndProduct.tableInfo track by $index">
                                    <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <!-- Animation tab ends-->
        </div>

        <script>
            //initialising ag-grid and the angular module
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey);
            agGrid.initialiseAgGridWithAngular1(angular);

            var pageName = "{!$CurrentPage.name}";
            if (app) {} else
                var app = angular.module('PromotionsApp', ['agGrid', 'ngAnimate', 'ngSanitize', 'ui.bootstrap']);

            function TitleFactory($q) {

                var searchtitle = function(svalue,key,startDate,endDate,promoid) {
                    var deferred = $q.defer();
                    HEP_AddProduct_Controller.searchData(svalue,key,startDate,endDate,promoid,
                        function(result, event) {
                            if (event.status) {
                                deferred.resolve(angular.fromJson(result));
                            } else {
                                deferred.reject('Error: Could not fetch the data.');
                            }
                        }, {
                            escape: false
                        }
                    );
                    return deferred.promise;
                }
                var savepromoData = function(lstselected,sPromoId,Channellist,formaltlist,role){
                    
                    
                 var deferred = $q.defer();
                HEP_AddProduct_Controller.saveData(lstselected,sPromoId,Channellist,formaltlist,role,function(result,event){
                    //console.log('1');
                 if(event.status){
                     //console.log(event.status);
                     //console.log('2');
                     window.location.href = '/apex/HEP_Promotion_Details?promoId='+sPromoId+'&tab=HEP_TPR_Discounts&source=createDiscounts';  
                    //  deferred.resolve(angular.fromJson(result));
                     //console.log('3');
                 } else {
                     console.log(event);
                     deferred.reject(event);
                     return event.message;
                 }
                },
                {escape:false});
                  return deferred.promise;
            }

                return {
                    searchtitle: searchtitle,
                    savepromoData: savepromoData

                }
            }

            app.factory('TitleFactory', TitleFactory);
            app.directive('hepValidateDate', hepValidateDateDirective);
            app.controller("HEP_Promotion_discountAddProducts_Ctrl", HEP_Promotion_discountAddProducts_Ctrl);

            //Controller method
            function HEP_Promotion_discountAddProducts_Ctrl($scope, $timeout, TitleFactory) {

                $scope.selectedRows = [];
                $scope.lstId = [];
                $scope.lstSelectedRows = [];
                $scope.dateErrorPresent = false;
                $scope.sPromoId = '{!sRecordId}';
                $scope.sPromotionType = '{!sPromotionType}';
                if($scope.sPromotionType == 'Customer'){
                    $scope.PromotionStartDate = '{!PromotionSo.StartDate__c}';
                    $scope.PromotionEndDate = '{!PromotionSo.EndDate__c}';
                }
                
                
                $scope.bTPROnly = '{!bTPROnly}';
                $scope.JSONNonTPRList = {!JSONNonTPRList};
                $scope.selectedRowsCount = 0;
                $scope.HD = true;
                $scope.role = '{!sRole}';
                $scope.SD= true;
                $scope.formatK = false;
                $scope.sUSerPermission = {!sUSerPermission};
                console.log($scope.sUSerPermission);
                $scope.VOD = false;
                $scope.searchValuesString = '';
                $scope.EST = true;
                $scope.startDate = new Date().toUTCString();
                $scope.endDate = new Date().toUTCString();
                $scope.dateOptions = dateOptions;
                $scope.dateOptions.dateDisabled = false; 
                $scope.dateOptions1 = angular.copy($scope.dateOptions);
                $scope.altDateFormat = allDateFormats;
                $scope.localeDateFormat =  sLocaleDateFormat;
                $scope.AddAccess =  false;
                $scope.searchAccess =  false;
                $scope.errorExists = false;
                $scope.lowerInput="";
                
                //$scope.fromDate = new Date();
                //$scope.toDate = new Date();
                // $scope.localeDateFormat = "yyyy-MMM-dd";
                // $scope.localeDateFormat = "MMM/dd/yyyy";
                $scope.selectedType = {
                    "sValue": "Titles",
                    "sKey": "Titles"
                };
                $scope.data = {
                   showMinCriteriaError : false
                };

                 $scope.paginationArray = [25, 50, 100, 'All'];
                //method called to close the dropdown on outside click
                // $scope.closeTerritoryDpdwn = function() {
                //     $(".dpd-block").css("display", "none");
                // }

                $scope.clearsearch = function() {

                }
                console.log($scope.sUSerPermission['WRITE']);
                console.log($scope.sUSerPermission['READ']);
                if($scope.sUSerPermission['WRITE'] == "FALSE" || $scope.sUSerPermission['READ'] == "FALSE"){
                    $scope.AddAccess = true;
                }
                if($scope.sUSerPermission['READ'] == "FALSE"){
                    $scope.searchAccess = true;
                }
                // $scope.uncheckPromotion = function(x) {
                //         $scope.gridOptionsFAD.api.forEachNode(function(node) {
                //             if (node.data.sTitle === x.sTitle) {
                //                 node.setSelected(false);
                //             }
                //         });
                //         $scope.gridOptionsFAD.api.refreshCells();

                //     }
                 $scope.callSearchProduct = function(event,value){             
                    ////console.log(event);
                    if(event.keyCode == 13)
                    {   //var item = {sKey:value,sValue:value};
                        $scope.searchtitle(value);
                    }
                 }
                 $scope.redircttoPromotion = function(){
                     window.location.href = '/apex/HEP_Promotion_Details?promoId='+$scope.sPromoId+'&tab=HEP_TPR_Discounts&source=createDiscounts';  
                 }
                $scope.uncheckPromotion = function(x) {
                      $scope.gridOptionsFAD.api.forEachNode(function(node) {
                          if (node.data.sKey === x.sKey) {
                              node.setSelected(false);
                          }
                      });
                         if($scope.lstId.indexOf(x.sKey) != -1){
                             $scope.lstSelectedRows.splice($scope.lstId.indexOf(x.sKey),1);
                             $scope.lstId.splice($scope.lstId.indexOf(x.sKey),1);
                         } 
                      $scope.selectedRowsCount = $scope.lstSelectedRows.length;
                      $scope.gridOptionsFAD.api.refreshCells();

                }
                    //method called to close the dropdown on outside click
                $scope.closeTerritoryDpdwn = function() {
                    $(".dpd-block").css("display", "none");
                }

                $scope.getSelectedTypeData = function(selectedValue, event) {
                    if(selectedValue.sValue === 'National Promo Time Frame') {
                        $scope.startDate = null;
                        $scope.endDate = null;
                    }
                    $scope.selectedType = selectedValue;
                    //$scope.closeTerritoryDpdwn();
                    $scope.placeHolderSearch();
                }
                
                $scope.placeHolderSearch = function(){
            //console.log($scope.selectedType.sValue);
            if($scope.selectedType.sValue == 'Titles' || ($scope.sPromotionType=='National' && $scope.bTPROnly == 'false')){
             setTimeout(function(){
                    $scope.gridOptionsFAD.columnApi.setColumnVisible('sPromotionName', false);
                    $scope.gridOptionsNonTPR.columnApi.setColumnVisible('sPromotionName', false);
                    $scope.gridOptionsFAD.api.redrawRows();
                    $scope.gridOptionsFAD.api.sizeColumnsToFit();
                },500);
            }
            else{
             setTimeout(function(){
                    $scope.gridOptionsFAD.columnApi.setColumnVisible('sPromotionName', true);
                    $scope.gridOptionsFAD.api.redrawRows();
                    $scope.gridOptionsFAD.api.sizeColumnsToFit();
                },500);

            }
        }

                $scope.dropdownValues = [{
                    "sValue": "Titles",
                    "sKey": "Titles"
                }, {
                    "sValue": "National Promo Name",
                    "sKey": "Promotions Name"
                }, {
                    "sValue": "National Promo Time Frame",
                    "sKey": "Time Frame"
                }];
                var columnDefsFAD = [
                    {
                            headerName: "",
                            headerCheckboxSelection: true,
                            headerCheckboxSelectionFilteredOnly: true,
                            checkboxSelection: true,
                            width:45,
                            suppressSizeToFit: true,
                            suppressFilter: true,
                            suppressMenu: true,
                            cellClass:'pdng-spacer'
                    },
                     {
                    headerName: "Promotion",
                    field: "sPromotionName",
                    tooltipField: "sPromotionName",
                    width: 400,
                    suppressSizeToFit: true,
                },{
                    headerName: "Title",
                    field: "sTitle",
                    tooltipField: "sTitle",
                    // width: 270
                }, {
                    headerName: "WPR ID",
                    field: "sWPRID",
                    tooltipField: "sWPRID",
                    // width: 170,
                    cellRenderer: function(params) {
                        if (params.value == "" || params.value == null)
                            return '-';
                        else return params.value;
                        //else return '<a>' + params.value + '</a>';
                    }
                }, {
                    headerName: "Type",
                    field: "sType",
                    colId: "typeColumnId",
                    tooltipField: "sType"
                    // width: 200
                },{
                    headerName: "US Theatrical Date",
                    field: "dtUSReleaseDate",
                    colId: "usReleaseDate",
                    tooltipField: "dtUSReleaseDate",
                    filter:"agDateColumnFilter",
                    filterParams: {
                          comparator: function(filterLocalDateAtMidnight, cellValue) {
                            if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                              return 0;
                            }
                            if (cellValue < filterLocalDateAtMidnight) {
                              return -1;
                            }
                            if (cellValue) {
                              return 1;
                            }
                          },
                          clearButton: true
                        }, 
                    cellRenderer: function(params){
                       if(params.value=="" || params.value==null || params.value==undefined)
                            return '-';
                        else 
                            return'<span>{{data.dtUSReleaseDate|date:localeDateFormat }}</span>';
                    }
                    
                },{
                    headerName: "US Init Air Date",
                    field: "dtUSAirDate",
                    colId: "usAirDate",
                    tooltipField: "dtUSAirDate",
                    filter:"agDateColumnFilter",
                    filterParams: {
                          comparator: function(filterLocalDateAtMidnight, cellValue) {
                            if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                              return 0;
                            }
                            if (cellValue < filterLocalDateAtMidnight) {
                              return -1;
                            }
                            if (cellValue) {
                              return 1;
                            }
                          },
                          clearButton: true
                        }, 
                    cellRenderer: function(params){
                       if(params.value=="" || params.value==null || params.value==undefined)
                            return '-';
                        else 
                            return'<span>{{data.dtUSAirDate|date:localeDateFormat }}</span>'; 
                    }
                   
                },{
                    headerName: "Division",
                    field: "sDivision",
                    colId: "division",
                    tooltipField: "sDivision",
                    cellRenderer:function(params){
                         if(params.value=="" || params.value==null || params.value==undefined)
                            return '-';
                        else 
                            return'<span>{{data.sDivision}}</span>';
                    }
                }
                
                ];

                //dummy data for placeholder animation  
                $scope.phData = {
                    "tableInfo": new Array(9)
                }

                $scope.gridOptionsFAD = {
                    defaultColDef: {
                        // checkboxSelection: isFirstColumn,
                        // headerCheckboxSelection: isFirstColumn,
                        filterParams: {clearButton: true},
                        menuTabs:['filterMenuTab','generalMenuTab'],  
                    },
                    domLayout: 'autoHeight',
                    rowHeight: 40,
                    rowBuffer: 10000,
                    enableColResize: true,
                    suppressRowClickSelection: true,
                    rowSelection: 'multiple',
                    columnDefs: columnDefsFAD,
                    onRowSelected: onRowSelected,
                    onSelectionChanged: onSelectionChanged,
                    enableFilter: true,
                    enableSorting: true,
                    pagination: true,
                    paginationPageSize: 25,
                    angularCompileRows: true,
                    toolPanelSuppressSideButtons: true,
                    onGridReady: function() {
                        $scope.gridOptionsFAD.api.setRowData($scope.digitalAndProduct);
                        setTimeout(function(){
                            $scope.gridOptionsFAD.api.sizeColumnsToFit();
                        },100);
                        
                    }
                };
                
                //ag grid for non TPR
                $scope.gridOptionsNonTPR = {
                    defaultColDef: {
                        checkboxSelection: isFirstColumn,
                        headerCheckboxSelection: isFirstColumn,
                        headerCheckboxSelectionFilteredOnly: true,
                        filterParams: {clearButton: true},
                        menuTabs:['filterMenuTab','generalMenuTab'],  
                    },
                    domLayout: 'autoHeight',
                    rowHeight: 40,
                    rowBuffer: 10000,
                    enableColResize:true,
                    enableSorting: true,
                    suppressRowClickSelection: true,
                    rowSelection: 'multiple',
                    columnDefs: columnDefsFAD,
                    onRowSelected: onRowSelected,
                    onSelectionChanged: onSelectionChanged,
                    pagination: true,
                    paginationPageSize: 25,
                    enableFilter: true,
                    angularCompileRows: true,
                    toolPanelSuppressSideButtons: true,
                    suppressLoadingOverlay: true,
                    onGridReady: function() {
                        $scope.gridOptionsNonTPR.api.setRowData($scope.JSONNonTPRList);
                        setTimeout(function(){
                            $scope.gridOptionsNonTPR.api.sizeColumnsToFit();
                        },100);
                    }
                };
                
                // loadData function 
                $scope.loadData = function() {
                    hideShowProgress(true, true);
                     $scope.digitalAndProduct =[];

                     $scope.placeHolderSearch();
                    $timeout(function() {
                        hideShowProgress(true, false);
                    }, 500)
                };

                $scope.loadData();

                 $scope.select= function(index) {
                   $scope.selected = index; 
                };

              /**
               * Method that gets called when page size is changed
               **/
              $scope.onPageSizeChanged = function(newPageSize) {
                  if(newPageSize == 'All'){
                     var all = $scope.gridOptionsFAD.api.paginationGetRowCount();
                     $scope.gridOptionsFAD.api.paginationSetPageSize(Number(all));
                  }
                  else{
                      $scope.gridOptionsFAD.api.paginationSetPageSize(Number(newPageSize));
                  }
              }
               $scope.checkboxSelect = function(booleantype){
                   //console.log("booleantype",booleantype);
               }
              //Adding Data to promotion
              $scope.saveproduct = function(){
                 
                $scope.data.showMinCriteriaError = true;
                console.log($scope.HD);
                console.log($scope.SD);
                console.log($scope.formatK);
                console.log($scope.VOD);
                console.log($scope.EST);
                //console.log('$scope.searchValuesString');
                //console.log($scope.searchValuesString);
                
                if($scope.searchValuesString.indexOf('Titles')> -1){
                    if(($scope.VOD || $scope.EST) && ($scope.HD || $scope.SD || $scope.formatK)){
                          $scope.data.showMinCriteriaError = false;
                    }
                }else if($scope.sPromotionType=='National' && $scope.bTPROnly == 'false'){
                   if(($scope.VOD || $scope.EST) && ($scope.HD || $scope.SD || $scope.formatK)){
                          $scope.data.showMinCriteriaError = false;
                    }
                }else{
                    $scope.data.showMinCriteriaError = false;
                }
                
                if(!$scope.data.showMinCriteriaError){
                    //console.log($scope.lstSelectedRows);
                $scope.formatlist = [];
                $scope.channellist = [];
                //console.log($scope.HD);
                //console.log($scope.SD);
                //console.log($scope.formatK);
                //console.log($scope.VOD);
                //console.log($scope.EST);
                if($scope.HD){
                    $scope.formatlist.push('HD');
                }
                if($scope.SD){
                    $scope.formatlist.push('SD');
                }
                if($scope.formatK){
                    $scope.formatlist.push('4K');
                }
                if($scope.VOD){
                    $scope.channellist.push('VOD');
                }
                if($scope.EST){
                    $scope.channellist.push('EST');
                }
                // //console.log('Data To Save',$scope.selectedRows);
                    if($scope.lstSelectedRows.length >= 1){
                         hideShowProgress(false, true);
                       var promise = TitleFactory.savepromoData(angular.toJson($scope.lstSelectedRows),$scope.sPromoId,angular.toJson($scope.channellist),angular.toJson($scope.formatlist),$scope.role);
                       promise.then(function(obj){
                            hideShowProgress(false, false);
                       },
                       function(reason){
                           hideShowProgress(false, false);
                           // if(reason.statusCode !== 200) {
                           //   toastr.options.positionClass = "toast-top-center";
                           //   toastr.options.timeOut = 2000;
                           //   toastr.options.preventDuplicates = true;
                           //   toastr.options.closeButton = true;
                           //   toastr.error('Duplicate value found. Please select a different value');
                           // }
                       },
                       function(message){hideShowProgress(false, false);});
                       return promise;
                    }
                    else{
                         toastr.options.positionClass = "toast-top-center";
                         toastr.options.timeOut = 2000;
                         toastr.options.preventDuplicates = true;
                         toastr.error('Please Add Atleast 1 Product to proceed');
                    }
                }
                
            }
                
                 $scope.toastrMessage = function(err, msgType) {
                    toastr.options.positionClass = "toast-top-center";
                    // if(timeOut)
                    //     toastr.options.timeOut = timeOut;
                    // else
                        toastr.options.timeOut = 3000;
                    toastr.options.preventDuplicates = true;
                    toastr.options.closeButton = true;
                    if (msgType === 'error') {
                        toastr.error(err);
                    } else {
                        toastr.warning(err);
                    }
                }
            
                 $scope.searchtitle = function(searchkey) {
                    
                    $scope.dateErrorPresent = false;
                    $scope.data.showMinCriteriaError = false; 
                    //console.log(searchkey);
                    $scope.searchValuesString = $scope.searchValuesString+','+$scope.selectedType.sKey;
                    // console.log(new Date($scope.toDate));
                    // console.log(new Date($scope.fromDate));
                    if (searchkey === 'timeframe' && new Date($scope.endDate) < new Date($scope.startDate)) {
                        //hideShowProgress(false,false);
                        $scope.toastrMessage('Start date cannot be greater than end date', 'error');
                        //$scope.searchAccess=true;
                        
                        $scope.errorExists = true;
                    } else {
                        $scope.errorExists = false;
                        //$scope.searchAccess=false;
                    }
                    
                    // if (searchkey === 'timeframe' && (new Date($scope.startDate) < new Date($scope.PromotionStartDate) || new Date($scope.endDate) > new Date($scope.PromotionEndDate))) {
                    //         $scope.toastrMessage("Start Date and End Date should lie between Promotion Start Date and Promotion End Date.", 'error');
                    //         $scope.dateErrorPresent = true;
                    // }
                    
                    if(!$scope.errorExists && !$scope.dateErrorPresent) {
                        //console.log($scope.searchValuesString);
                    if(searchkey == 'timeframe'){
                        //console.log($scope.startDate);
                        //console.log($scope.endDate);
                        searchkey = $scope.startDate +',,'+$scope.endDate;
                    }
                    // //console.log($scope.endDate);
                    
                      /*code to search the data starts here*/
                    //console.log('TypeAhead----', $scope.selectedType.sValue);
                    hideShowProgress(false, true);
                    console.log($scope.selectedType.sKey);
                var promise = TitleFactory.searchtitle(searchkey,$scope.selectedType.sKey,$scope.startDate,$scope.endDate,$scope.sPromoId);
                    //console.log('promise----', promise);
                    promise.then(function(obj) {
                            hideShowProgress(false, false);
                            $scope.digitalAndProduct = obj;
                            console.log($scope.digitalAndProduct);
                            $scope.gridOptionsFAD.api.setRowData(obj);
                            $scope.gridOptionsFAD.api.forEachNode(function(node) {
                                 
                                if ($scope.lstId.indexOf(node.data.sKey ) != -1) {
                                    node.setSelected(true);
                                }
                                else{
                                    node.setSelected(false);
                                }
                            });
                            $scope.gridOptionsFAD.api.sizeColumnsToFit();
                            var typeFilterComponent = $scope.gridOptionsFAD.api.getFilterInstance('typeColumnId');
                            if(typeFilterComponent.model.displayedValues.indexOf('Feature') != -1) {
                                typeFilterComponent.selectNothing();
                                typeFilterComponent.selectValue('Feature');
                                $scope.gridOptionsFAD.api.onFilterChanged();
                            }
                             $scope.gridOptionsFAD.api.paginationSetPageSize(25);
                             $scope.selected = 0;
                            //   $scope.gridOptionsFAD.api.setRowData(promise);
                            //  return obj;
                        },
                        function(reason) {hideShowProgress(false, false);},
                        function(message) {hideShowProgress(false, false);});
                    return promise;
                      /*code to serach the data ends here*/
                    // }else{
                    //   $scope.data.showMinCriteriaError = true;
                    // }
                    }
                    
                   
                }
                
                // $scope.displaydate()
                $scope.displaydate = function(x) {
                    $scope.startDate = new Date(x).toUTCString();
                    if($scope.startDate === 'Invalid Date') {
                        $scope.startDate = null;
                    }
                    //console.log($scope.startDate);
                }
                $scope.displaydate2 = function(x) {
                    $scope.endDate =  new Date(x).toUTCString();
                    if($scope.endDate === 'Invalid Date') {
                        $scope.endDate = null;
                    }
                    //console.log($scope.endDate);
                }
                function isFirstColumn(params) {
                    var displayedColumns = params.columnApi.getAllDisplayedColumns();
                    var thisIsFirstColumn = displayedColumns[0] === params.column;
                    return thisIsFirstColumn;
                }
                function onRowSelected(event) {
                if(event.node.selected){
                      if($scope.lstId.indexOf(event.node.data.sKey) != -1){
                      } 
                      else{
                           $scope.lstId.push(event.node.data.sKey);
                           $scope.lstSelectedRows.push(event.node.data);
                       
                           $scope.selectedRowsCount = $scope.lstSelectedRows.length;
                       }
                }
                else if(!event.node.selected){
                    if($scope.lstId.indexOf(event.node.data.sKey) != -1){
                         $scope.lstSelectedRows.splice($scope.lstId.indexOf(event.node.data.sKey),1);
                         $scope.lstId.splice($scope.lstId.indexOf(event.node.data.sKey),1);
                        }
                      $scope.selectedRowsCount = $scope.lstSelectedRows.length;  
                }
                //$scope.gridOptionsFAD.api.redrawRows();
                
                // For responsive horizontal scrolling
            fetchWindowSize();

            $(window).resize(function() {
                $timeout(function() {
                fetchWindowSize();
                });
            });
                
        }
                function onSelectionChanged() {
                //     $scope.selectedRows = $scope.gridOptionsFAD.api.getSelectedRows();
                //     //console.log($scope.selectedRows);
                //     $scope.selectedNodes = $scope.gridOptionsFAD.api.getSelectedNodes();
                //     //console.log($scope.gridOptionsFAD.api.getSelectedNodes());
                //     $scope.selectedRowsCount = $scope.selectedRows.length;
                    if($scope.gridOptionsFAD.api !== undefined) {
                        $scope.gridOptionsFAD.api.redrawRows();
                    } else if($scope.gridOptionsNonTPR.api !== undefined){
                        $scope.gridOptionsNonTPR.api.redrawRows();
                    }
                    
                }

            }

            // //directive to handle the custom select territory dropdown
            // app.directive('territoryDpdwn', function($timeout) {
            //     return {
            //         restrict: 'C',
            //         link: function(scope, elem, attrs) {
            //             var inputElem = elem.find(".Input-Field"),
            //                 dpdElem = elem.find(".dpd-block"),
            //                 ulElem = elem.find("ul.list-vertical");
            //             inputElem.on('click', function(e) {
            //                 var tabItems = ulElem.children();
            //                 var dropdownWidth = $(".Input-Field").outerWidth();
            //                 $(".dpd-block").css("width", dropdownWidth);
            //                 if (tabItems.length) {
            //                     var visibility = dpdElem.css("display") === 'none' ? 'block' : 'none';
            //                     dpdElem.css("display", visibility);
            //                 } else {
            //                     dpdElem.css("display", "none");
            //                 }
            //             });
            //         }
            //     };
            // });
             
        </script>

    </body>
</apex:page>