<apex:page applybodytag="false" applyhtmltag="false" controller="HEP_Search_Promotions_Controller" doctype="html-5.0" showheader="false" standardstylesheets="false">
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
            <meta content="width=device-width, initial-scale=1" name="viewport"/>
        </head>

    <body ng-app="PromotionsApp">
    <div class="minwrap-container"  ng-controller="HEP_Search_Promotions_Ctrl" ng-cloak="true">
        <div ng-if="singleLoad==true || selectedTab ==true">
            <div class="hep-loaded-content" style="display:none;">
            <div class="search-page">
                <div class="search-section">
                    <header>Select Search Criteria</header>
                    <select class="search-box left-float" ng-model="search.sKeyword" ng-options="item for item in promotionsData.lstKeyWords" ng-change="checkKeywordPromotions()">
                    </select>
                    <select ng-if="!showDatepicker && !showDefaultValue" class="search-box left-float" ng-model="search.sCriteria" ng-options="item for item in lstCriteria" >
                    </select>
                    <input ng-show="showDatepicker && !showDefaultValue" class="spec-values form-control date-picker left-float" date-range-picker="true" id="FADpicker" ng-model="dateRange.date" options="dateOptions" type="text"/>
                    <input ng-show="showDefaultValue && !showDatepicker " class="search-box readonly left-float" ng-model="search.sCriteria" readonly="readonly" type="text"/>
                    
                    <div ng-if="!showDatepicker">
                        <input type="text" class="search-box input-search left-float" ng-class="{'error-border':errorMsg || numberError}" ng-model="search.sSearchKey"/>
                        <img class="close-icon" ng-click="search.sSearchKey='';loadData(false)" src="{!URLFOR ($Resource.HEP_SR, 'HEP_SR/images/svg-icons/close.svg')}"/>
                    </div>
                    <button class="hep-btn srch-page-btn left-float" ng-click="validation()">Search</button>

                    <a href="" ng-click="onButtonExport();" class="pull-right pointer-cursor hep-export-btn center-vertical">Export</a>
                    <span class="hep-export-icon pull-right center-vertical"></span>  

                    <div class="errorMsg lengthErrorMsg"><span ng-show="errorMsg">Please enter more than 2 characters.&nbsp;</span><span ng-show="numberError">Please enter only numbers.</span></div>
                    
                </div>
                <div class="clearfix"></div>
                <header class="header2">Select Results ({{gridOptions.api.getDisplayedRowCount()}} results found)</header>
                        <!-- Adding AgGrid below -->
                        <div class="list-view gheader-wrap">
                            <div ag-grid="gridOptions" class="ag-theme-material search-promo">     </div>
                        </div>
                        <div class="paginationContainer">Show: <a ng-repeat="i in paginationArray track by $index" ng-click="select($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}">{{i}}</a></div>
                <template id="promotionImageTemplate">
                    <img height="50px" class="pointer-cursor marginRight10" ng-click="redirect(data.sPromoId)" ng-src="{{data.sImageURL}}" width="90px"/>
                    <a ng-click="openOrReload(data.sPromoId)">{{data.sName}}</a>
                </template>
                <template id="dateField">
                    <span>
                        {{data.dtFAD | date:sLocaleDateFormat:'UTC'}}
                    </span>
                </template>
            </div>
            </div>
            <!-- Animation tab starts -->
            <div class="minwrap-container ph-master-anim search-page">
                <div class="row paddingTop27">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paddingZero">
                        <label class="promotionDetailsHeader marginBottom17"><div class="show-anim pd-header"></div></label>

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="form-group">
                            <div class="show-anim pd-header"></div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="form-group">
                            <div class="show-anim pd-header"></div>
                        </div>
                    </div> 
                </div>

                <div class="row">
                    <div class="separator"></div>
                </div>

                <div class="clearfix"></div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                        <div>
                            <div class="ph-master-anim-rights">
                                <table class="table-anim">
                                    <thead>
                                        <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in phData.tableInfo track by $index">
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation tab ends-->
        </div>
    </div>
 
        
        <script>
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
            agGrid.initialiseAgGridWithAngular1(angular);
            var sReqNo = "{!$CurrentPage.parameters.reqId}";
            var pageName = "{!$CurrentPage.name}";
            if (app) {
            } 
            else 
                var app = angular.module("PromotionsApp", ['angular-click-outside']);

            app.filter('hepFormatNumber', hepFormatNumberFilter);
            app.controller("HEP_Search_Promotions_Ctrl",HEP_Search_Promotions_Ctrl);
            
            //Start:Service
            function getData_HEP_Search_Promotions($q) {

                //Create the Initial JSON to load the Page
                var loadData = function(sLocaleDateFormat, sKeyword, sCriteria, sSearchKey, startDate, endDate) {
                    var deferred = $q.defer();
                    HEP_Search_Promotions_Controller.getPromotionData(sLocaleDateFormat, sKeyword, sCriteria, sSearchKey,startDate,endDate, function(result, event) {
                            if(event.status)
                            {
                                   deferred.resolve(result);
                            }
                            else
                            {
                               deferred.reject(event);   
                            }
                        }, {
                            escape: false
                        });
                    return deferred.promise;
                }

              
                //Return Methods
                return {
                    loadData: loadData
                };
            }
            //End:Service
            app.factory('getData_HEP_Search_Promotions', getData_HEP_Search_Promotions);
            
            //Inject Factory
            
            //Angular controller
            function HEP_Search_Promotions_Ctrl($scope, $timeout,getData_HEP_Search_Promotions,$element,$filter) {
                //page data initilization - Starts
                $scope.singleLoad = false;
                $scope.selectedTab = false;
                $scope.sLocaleDateFormat = sLocaleDateFormat;
                $scope.localeFilterDateFormat = sLocaleDateFormat.toUpperCase();
                $scope.dateRange = {
                    "date":{}
                };
                
                $scope.dateOptions = {
                    startDate: moment(),
                    locale : {
                        format : $scope.localeFilterDateFormat
                    }
                };
                
                $scope.search = {
                    sKeyword : '',
                    sCriteria : '',
                    sSearchKey : ''
                };
                
                //to implement search for the value entered in the universal search-box
                var urlString = window.location.href;
                var url = new URL(urlString);
                if(url.searchParams.get("searchText"))
                $scope.search.sSearchKey = url.searchParams.get("searchText");
                //dummy data for pageload animation
                $scope.phData = {
                    "tableInfo": new Array(9)
                };
                
                $scope.openOrReload = function(promoId) {
                    var url = "/apex/HEP_Promotion_Details?promoId=" + promoId;
                    var myWindow = window.open(url,promoId);
                    myWindow.focus();
                }
                
                $scope.showDatepicker = false;
                $scope.showDefaultValue = false;
                $scope.showSpendCriteria = false;
                $scope.errorMsg = false;
                //page data initilization - Ends
                
                //Input field validations
                $scope.validation = function() {
                    $scope.numberError = false;
                    $scope.errorMsg = false;
                    if($scope.search.sKeyword == 'Total Market Spend') {
                        if(isNaN($scope.search.sSearchKey))
                            $scope.numberError = true;
                    }  
                    if($scope.search.sSearchKey.length < 3)
                        $scope.errorMsg = true;
                    if((!$scope.errorMsg && !$scope.numberError) || $scope.showDatepicker) {
                        $scope.loadData(false);
                    }
                }
                
                //to implement search for the value entered in the nav-bar search-box
                var urlString = window.location.href;
                var url = new URL(urlString);
                if(url.searchParams.get("searchText")){
                $scope.search.sSearchKey = url.searchParams.get("searchText");
                $scope.search.sCriteria = "Contains";
                }
                
                // one lister event for each child tab that handles 
                // load, save, navigate
                $scope.$on('HEP_Search_Promotions', function(event, data) {

                    if(data == 'load'){
                        $scope.loadData(true);
                        $scope.selectedTab = true;
                    }
                    else if(data == 'navigate'){
                        $scope.$emit('navigateNext', '');
                        $scope.selectedTab = false;
                    }
                });
              
               //Responsiveness check - Starts
               fetchWindowSize();

                $(window).resize(function() {
                    $timeout(function() {
                       fetchWindowSize();
                    });
                });
                //Responsiveness check - ends
                
                //method to redirect to the selected promotion
                $scope.redirect = function(promoId) {
                    var url= '/apex/HEP_Promotion_Details?promoId=' + promoId;
                    window.open(url,'_blank');
                }
    
                //pagination method definitions - starts            
                $scope.paginationArray = [25,50,100,'All'];
                $scope.selected = 0;
                $scope.onPageSizeChanged = function(newPageSize) {
                    if(newPageSize == 'All') {
                        var all = $scope.gridOptions.api.paginationGetRowCount();
                        $scope.gridOptions.api.paginationSetPageSize(Number(all));
                    }
                    else
                        $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
                }
                //funtion to select active pagination number
                $scope.select= function(index) {
                    $scope.selected = index; 
                };
                //pagination method definitions - ends
                
                //method to check the keyword selected and assign values to the criteria accordingly
                $scope.checkKeywordPromotions = function() {
                    $scope.lstCriteria =  angular.copy($scope.promotionsData.lstCriteria);
                    $scope.dateRange.date = {};
                    var picker = $element.find('#FADpicker').data('daterangepicker');
                    picker.setStartDate(new Date);
                    picker.setEndDate(new Date);
                    $scope.search.sCriteria = $scope.promotionsData.lstCriteria[0];
                    $scope.showDatepicker = false;
                    $scope.showDefaultValue = false;
                    if($scope.search.sKeyword == 'FAD (Date Range)') 
                        $scope.showDatepicker = true;
                    else if($scope.search.sKeyword == 'Financial Title ID') {
                        $scope.showDefaultValue = true;
                        $scope.search.sCriteria = $scope.promotionsData.lstCriteria[1];
                    }
                    else if($scope.search.sKeyword == 'Total Market Spend'){
                        $scope.lstCriteria =  angular.copy($scope.promotionsData.lstSpendCriteria);
                        $scope.search.sCriteria = $scope.promotionsData.lstSpendCriteria[0];
                    }
                }
                
                //this method is used for initial load of data on the page as well as when filters are applied and for lazy loading
                $scope.loadData = function(bInitial) {
                    
                    if(!(Object.keys($scope.dateRange.date).length===0)) {
                        $scope.startDate = new Date($scope.dateRange.date.startDate).toUTCString();
                        
                        $scope.endDate = new Date($scope.dateRange.date.endDate).toUTCString();
                    }
                    else {
                        $scope.startDate = null;
                        $scope.endDate = null;
                    }
                        hideShowProgress(bInitial,true);
                        var promise = getData_HEP_Search_Promotions.loadData($scope.sLocaleDateFormat, $scope.search.sKeyword, $scope.search.sCriteria, $scope.search.sSearchKey,$scope.startDate,$scope.endDate);
                        promise.then(function(obj) {
                            $scope.promotionsData = obj;
                            // if($scope.search.sKeyword == 'Total Market Spend')
                            //     $scope.lstCriteria =  angular.copy($scope.promotionsData.lstSpendCriteria);
                            // else
                                $scope.lstCriteria = angular.copy($scope.promotionsData.lstCriteria);
                            if(bInitial) {
                                // $scope.errorMsg = false;
                                // $scope.dateRange.date = {};
                                // var picker = $element.find('#FADpicker').data('daterangepicker');
                                // picker.setStartDate(new Date);
                                // picker.setEndDate(new Date);
                                // $scope.showDatepicker = false;
                                // $scope.showDefaultValue = false;
                                if(!$scope.search.sCriteria)
                                    $scope.search.sCriteria = $scope.promotionsData.lstCriteria[0];
                                if($scope.search.sKeyword == 'Total Market Spend')
                                    $scope.lstCriteria =  angular.copy($scope.promotionsData.lstSpendCriteria);
                                if(!$scope.search.sKeyword) {
                                    for(i=0;i<$scope.promotionsData.lstKeyWords.length;i++) {
                                        if($scope.promotionsData.lstKeyWords[i].indexOf('Keyword')!=-1)
                                            $scope.search.sKeyword = $scope.promotionsData.lstKeyWords[i];
                                    }
                                }
                                    // $scope.search.sCriteria = $scope.promotionsData.lstCriteria[0];
                                // for(i=0;i<$scope.promotionsData.lstKeyWords.length;i++) {
                                //     if($scope.showDatepicker) {
                                //         if($scope.promotionsData.lstKeyWords[i].indexOf('FAD')!=-1)
                                //             $scope.search.sKeyword = $scope.promotionsData.lstKeyWords[i];
                                //     }
                                //     else if()
                                //     else {
                                //         if($scope.promotionsData.lstKeyWords[i].indexOf('Keyword')!=-1)
                                //             $scope.search.sKeyword = $scope.promotionsData.lstKeyWords[i];
                                //     }
                                // }
                                // if(!$scope.search.sSearchKey)
                                //     $scope.search.sSearchKey = '';
                            }
                            var results = $scope.promotionsData.iNoOfResults;
                             angular.forEach($scope.promotionsData.lstSearchData,function(record)
                           {   if(record.dtFAD !== undefined){
                                record.dtFAD = new Date(record.dtFAD);
                               }                            
                           });
                            $scope.gridOptions.api.setRowData($scope.promotionsData.lstSearchData);
                            setTimeout(function(){
                                if(window.innerWidth >= 1800) {
                                    $scope.gridOptions.api.sizeColumnsToFit();
                                }
                            },100);
                            hideShowProgress(bInitial,false);
                        }, function(reason) {
                           hideShowProgress(bInitial,false);
                            alert('Error : ' + reason.message);
                            throw reason;

                        }, []); 
                }
                
                
                //ag-grid column definition
                var columnDefn = [
                {
                    headerName: "Promotion Name",
                    field: "sName",
                    width: 350,
                    suppressSizeToFit : true,
                    tooltipField: "sName",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agTextColumnFilter",
                    cellClass: 'promotion-name',                    
                    cellRenderer: function(params) {
                        if (params.value == "" || params.value == null)
                            return '-';
                        else 
                        {
                            return $("#promotionImageTemplate").html();
                        }
                    },
                    cellStyle: {'display':'inline-block','line-height':'70px'}
                }, 
                {
                    headerName: "Local Promo code/MAP ID",
                    field: "sLocalPromoCode",
                    tooltipField: "sLocalPromoCode",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agTextColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                }, {
                    headerName: "Territory/Region",
                    field: "sTerritory",
                    tooltipField: "sTerritory",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agSetColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                }, {
                    headerName: "Customer",
                    field: "sCustomer",
                    tooltipField: "sCustomer",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agSetColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                },{
                    headerName: "LOB",
                    field: "sLOB",
                    tooltipField: "sLOB",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agSetColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                },{
                    headerName: "FAD Start Date",
                    field: "dtFAD",
                    tooltipField: "dtFAD",
                    cellRenderer : function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return $('#dateField').html();
                    },
                    filter: "agDateColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filterParams: {
                          comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                  return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                  return -1;
                                }
                                if (cellValue) {
                                  return 1;
                                }
                          },clearButton: true
                    }
                },{
                    headerName: "Marketing Manager",
                    field: "sManager",
                    tooltipField: "sManager",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agSetColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                }, {
                    headerName: "Status",
                    width : 200,
                    suppressSizeToFit : true,
                    field: "sStatus",
                    tooltipField: "sStatus",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agSetColumnFilter",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                } ];
                
                
                //ag-grid options assignment
                $scope.gridOptions = {
                    columnDefs: columnDefn,
                    rowData: null,
                    angularCompileRows: true,
                    domLayout: "autoHeight",
                    rowHeight: 70,
                    rowBuffer: 10000,
                    toolPanelSuppressSideButtons: true,
                    suppressLoadingOverlay:true,
                    suppressColumnVirtualisation: true, 
                    paginationPageSize:25,
                    enableColResize : true,
                    pagination: true,
                    enableFilter: true,
                    enableSorting: true,
                    onGridReady: function(params) {
                    },
                    defaultColDef: {
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filterParams: {clearButton: true}
                    }
                }

               //method to implement export functionality of the ag-gird - starts
                $scope.onButtonExport = function() {
                    var ExcelParams = {
                        fileName: "Search Promotions Results",
                        columnGroups: false,
                        allColumns: true,
                        columnKeys : ['sName','sLocalPromoCode','sTerritory','sCustomer','sLOB','dtFAD','sManager','sStatus']
                    };

                    ExcelParams.processCellCallback = function(params) {
                  
                       var returnval = '';
                      
                       if(params.value !== undefined && params.value !== '')
                       {   
                            returnval = params.value;                            
                            if(params.column.getColId() =='dtFAD'){
                                returnval = $filter('date')(params.value, $scope.sLocaleDateFormat, 'UTC');
                            }                   
                       } 
                       
                       return returnval;
            };            
                    $scope.gridOptions.api.exportDataAsExcel(ExcelParams);
                }
                //method to implement export functionality of the ag-gird - ends

                // call the load data only if this page is tested standalone
                // else call an event on parent to say its loaded
                if(pageName == "HEP_Search_Promotions"){

                    $scope.loadData(true); 
                    $scope.singleLoad = true;
                }
                else{
                    $scope.$emit('sectionLoader', 'HEP_Search_Promotions');
                }
            }
           
        </script>
        </body>
    </html>
</apex:page>