<apex:page applybodytag="false" applyhtmltag="false" controller="HEP_Search_Titles_Controller" doctype="html-5.0" showheader="false" standardstylesheets="false">
    <!--<c:HEP_Navigation_Menu_Component >-->
    <!--</c:HEP_Navigation_Menu_Component>-->
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
            <meta content="width=device-width, initial-scale=1" name="viewport"/>
        </head>
    <body ng-app="PromotionsApp">
        <div class="minwrap-container"  ng-controller="HEP_Search_Titles_Ctrl" ng-cloak="true">
        <div ng-if="singleLoad==true || selectedTab ==true">
        <div class="hep-loaded-content" style="display:none;">
        <div class="search-page">
            <div class="search-section">
                <header>Select Search Criteria</header>
                <select class="search-box left-float" ng-model="search.sKeyword" ng-options="item for item in titlesData.lstKeyWords" ng-change="checkKeywordTitles()">
                </select>
                <select ng-show="!showDatepicker && !showDefaultValue" class="search-box left-float" ng-model="search.sCriteria" ng-options="item for item in titlesData.lstCriteria">
                </select>
                <input ng-show="showDatepicker && !showDefaultValue" class="spec-values form-control date-picker left-float" date-range-picker="true" id="FADpicker" ng-model="dateRange.date" options="dateOptions" type="text"/>
                <input ng-show="showDefaultValue && !showDatepicker" class="search-box readonly left-float" ng-model="search.sCriteria" readonly="readonly" type="text"/>
                <div ng-show="!showDatepicker">
                    <input type="text" class="search-box input-search left-float" ng-class="{'error-border':errorMsg==true}" ng-model="search.sSearchKey"/>
                    <img class="close-icon" ng-click="search.sSearchKey=''; loadData(false)" src="{!URLFOR ($Resource.HEP_SR, 'HEP_SR/images/svg-icons/close.svg')}"/>
                </div>
                <button class="hep-btn srch-page-btn left-float" ng-click="validation()">Search</button>

                <a href="" ng-click="onButtonExport();" class="pull-right pointer-cursor hep-export-btn center-vertical">Export</a>
                <span class="hep-export-icon pull-right center-vertical"></span>  

                <div class="errorMsg lengthErrorMsg" ng-show="errorMsg">Please enter more than 2 characters</div>
            </div>
            <div class="clearfix"></div>
            <header class="header2">Select Results ({{gridOptions.api.getDisplayedRowCount()}} results found)</header>
                    <!-- Adding AgGrid below -->
                    <div class="list-view gheader-wrap">
                        <div ag-grid="gridOptions" class="ag-theme-material search-promo">     </div>
                    </div>
                    <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
            <template id="promotionImageTemplate">
                <img height="50px" ng-click="redirect(data.sId)" ng-src="{{data.sPromotionImageURL}}" width="90px"/>
            </template>
            <template id="titleNameTemplate">
                    <a ng-click="openOrReload(data.sTitleId)">{{data.sName}}</a>
                </template>
            <template id="territoriesTemplate">
                <img height="12px" src="{{data.sTerritoryFlagUrl}}" width="24px"/>
                {{data.sTerritory}}
            </template>
            <template id="territoriesTemplateDummy">
                <img height="12px" src="{{data.sTerritoryFlagUrl}}" width="24px"/>
                India
            </template>
            <template id="favoriteIconTemplate">
                <span class="favorited" ng-if="data.bFavoritePromotion">
                    <img class="pointer-cursor" ng-click="setUserFavorite(data)" src="{!URLFOR ($Resource.HEP_SR, 'HEP_SR/images/Icons/orange-star.png')}"/>
                </span>
                <span ng-if="!data.bFavoritePromotion">
                    <img class="pointer-cursor" ng-click="setUserFavorite(data)" src="{!URLFOR ($Resource.HEP_SR, 'HEP_SR/images/Icons/favorite-empty-star.png')}"/>
                </span>
            </template>
            <template id="dateField">
                <div class="form-group hep-no-margin">
                    <p class="input-group hep-flex">
                        <span>
                            {{data.sUSReleaseDate | date:sLocaleDateFormat:'UTC'}}
                        </span>
                    </p>
                </div>
            </template>
        </div>
        </div>
         <!-- Animation tab starts -->
            <div class="minwrap-container ph-master-anim search-page">
                <div class="row paddingTop27">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paddingZero">
                        <label class="promotionDetailsHeader marginBottom17"><div class="show-anim pd-header"></div></label>

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="form-group">
                            <div class="show-anim pd-header"></div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="form-group">
                            <div class="show-anim pd-header"></div>
                        </div>
                    </div> 
                </div>

                <div class="row">
                    <div class="separator"></div>
                </div>

                <div class="clearfix"></div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                        <div>
                            <div class="ph-master-anim-rights">
                                <table class="table-anim">
                                    <thead>
                                        <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in phData.tableInfo track by $index">
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation tab ends-->
        </div>
        </div>
        <script>
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
            agGrid.initialiseAgGridWithAngular1(angular);
            if(app)
            {}
            else
            var app = angular.module("PromotionsApp", ['agGrid','ui.bootstrap', 'daterangepicker','angular-click-outside']);

           //Start:Service
            function getData_HEP_Search_Titles($q) {

                //Create the Initial JSON to load the Page
                var loadData = function(sLocaleDateFormat, sKeyword, sCriteria, sSearchKey, startDate, endDate) {
                    var deferred = $q.defer();
                    HEP_Search_Titles_Controller.getTitleData(sLocaleDateFormat, sKeyword, sCriteria, sSearchKey,startDate,endDate, function(result, event) {
                            if(event.status)
                            {
                                   deferred.resolve(result);
                            }
                            else
                            {
                               deferred.reject(event);  
                            }
                        }, {
                            escape: false
                        });
                    return deferred.promise;
                }

              
                //Return Methods
                return {
                    loadData: loadData
                    
                }
            }
            //End:Service
            app.factory('getData_HEP_Search_Titles', getData_HEP_Search_Titles);
            app.controller("HEP_Search_Titles_Ctrl",HEP_Search_Titles_Ctrl);
            //Inject Factory
            
            //Angular controller
            function HEP_Search_Titles_Ctrl($scope, $timeout,getData_HEP_Search_Titles,$element) {
                
                //page data initilization - Starts
                $scope.singleLoad = false;
                $scope.selectedTab = false;
                $scope.sLocaleDateFormat = sLocaleDateFormat;
                $scope.localeFilterDateFormat = $scope.sLocaleDateFormat.toUpperCase();
                $scope.search = {
                    sKeyword : '',
                    sCriteria : '',
                    sSearchKey : ''
                };
                
                $scope.dateRange = {
                    "date":{}
                };
                $scope.dateOptions = {
                    startDate: moment(),
                    locale : {
                        format : $scope.localeFilterDateFormat
                    }
                };
                $scope.errorMsg = false;
                //page data initilization - Ends
                
                //dummy data for placeholder animation  
                $scope.phData = {
                    "tableInfo": new Array(9)
                }
                
                //to implement search for the value entered in the nav-bar search-box
                var urlString = window.location.href;
                var url = new URL(urlString);
                if(url.searchParams.get("searchText")){
                $scope.search.sSearchKey = url.searchParams.get("searchText");
                $scope.search.sCriteria = "Contains";  
                }
                
                //Input field validations
                 $scope.validation = function() {
                    if($scope.search.sSearchKey.length >= 3 || $scope.showDatepicker) {
                        $scope.errorMsg = false;
                        $scope.loadData(false);
                    }
                    else
                        $scope.errorMsg = true;
                }
                //method to check the keyword selected and assign values to the criteria accordingly
                $scope.checkKeywordTitles = function() {
                    $scope.dateRange.date = {};
                    var picker = $element.find('#FADpicker').data('daterangepicker');
                    picker.setStartDate(new Date);
                    picker.setEndDate(new Date);
                    $scope.search.sCriteria = $scope.titlesData.lstCriteria[0];
                    $scope.showDefaultValue = false;
                    $scope.showDatepicker = false;
                    if($scope.search.sKeyword == 'Release Year') 
                        $scope.showDatepicker = true;
                    else if($scope.search.sKeyword == 'Financial Title ID') {
                        $scope.showDefaultValue = true;
                        $scope.search.sCriteria = $scope.titlesData.lstCriteria[1];;
                    }
                }
                // one lister event for each child tab that handles 
                // load, save, navigate
                $scope.$on('HEP_Search_Titles', function(event, data) {

                    if(data == 'load'){
                        $scope.loadData(true);
                        $scope.selectedTab = true;
                    }
                    else if(data == 'navigate'){
                        $scope.$emit('navigateNext', '');
                        $scope.selectedTab = false;
                    }
                });
                //Responsiveness check - Starts
                fetchWindowSize();

                $(window).resize(function() {
                    $timeout(function() {
                       fetchWindowSize();
                    });
                });
                //Responsiveness check - ends
                
                // method to redirect to the selected promotion
                $scope.redirect = function(promoId) {
                    window.location.href = '/apex/HEP_Promotion_Details?promoId=' + promoId+'?tab=HEP_Search_Titles';
                }
                
                 
              //this method is used for initial load of data on the page as well as when filters are applied and for lazy loading
                $scope.loadData = function(bInitialLoad) {
                   hideShowProgress(bInitialLoad,  true);
                   if(!(Object.keys($scope.dateRange.date).length===0)) {
                        $scope.startDate = new Date($scope.dateRange.date.startDate).toUTCString();
                        showConsoleLog($scope.startDate);
                        $scope.endDate = new Date($scope.dateRange.date.endDate).toUTCString();
                        showConsoleLog($scope.endDate);
                    }
                    else {
                        $scope.startDate = null;
                        $scope.endDate = null;
                    }
                    var promise = getData_HEP_Search_Titles.loadData($scope.sLocaleDateFormat, $scope.search.sKeyword, $scope.search.sCriteria, $scope.search.sSearchKey,$scope.startDate,$scope.endDate);
                    promise.then(function(obj) {
                       
                        $scope.titlesData = obj;
                        if(bInitialLoad) {
                            // $scope.errorMsg = false;
                            // $scope.dateRange.date = {};
                            // var picker = $element.find('#FADpicker').data('daterangepicker');
                            // picker.setStartDate(new Date);
                            // picker.setEndDate(new Date);
                            // $scope.showDefaultValue = false;
                            // $scope.showDatepicker = false;
                            // $scope.search.sKeyword = $scope.titlesData.lstKeyWords[0];
                            // $scope.search.sCriteria = $scope.titlesData.lstCriteria[0];
                            // $scope.search.sSearchKey = '';
                            
                            if(!$scope.search.sCriteria)
                                $scope.search.sCriteria = $scope.titlesData.lstCriteria[0];
                            if(!$scope.search.sKeyword) {
                                for(i=0;i<$scope.titlesData.lstKeyWords.length;i++) {
                                    if($scope.titlesData.lstKeyWords[i].indexOf('Keyword')!=-1)
                                        $scope.search.sKeyword = $scope.titlesData.lstKeyWords[i];
                                }
                            }
                        }
                        var results = $scope.titlesData.iNoOfResults;
                         angular.forEach($scope.titlesData.lstSearchData,function(record)
                       { if(record.sUSReleaseDate !== undefined){ 
                               //Commented as Date one day less Roshi Rai
                               //record.sUSReleaseDate = new Date(record.sUSReleaseDate);
                               
                           }                        
                       });
                        $scope.gridOptions.api.setRowData($scope.titlesData.lstSearchData);
                        setTimeout(function(){
                            if(window.innerWidth >= 1800) {
                                $scope.gridOptions.api.sizeColumnsToFit();
                            }
                        },100);
                    
                        hideShowProgress(bInitialLoad,  false);
                    }, function(reason) {
                        hideShowProgress(bInitialLoad,  false);
                        alert('Error : ' + reason.message);
                        throw reason;
                    }, []); 
                }
                
                
                $scope.openOrReload = function(promoId) {
                    var url = "/apex/HEP_Title_Details?titleId=" + promoId;
                    var myWindow = window.open(url,promoId);
                    myWindow.focus();
                }
                
                //ag-grid column definition
                var columnDefn = [
                {
                    headerName: "Title Name",
                    field: "sName",
                    filter: "agTextColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    width: 300,
                    cellStyle: {'display':'inline-block','line-height':'70px'},
                    tooltipField:"sName",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                         else {
                             return $("#titleNameTemplate").html();
                         }
                    }
                }, 
                {
                    headerName: "Financial Title ID",
                    field: "sFinancialTitle",
                    filter: "agNumberColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    tooltipField:"sFinancialTitle",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                }, {
                    headerName: "U.S. Release Date",
                    field: "sUSReleaseDate",
                    tooltipField:"sUSReleaseDate",
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return $('#dateField').html();
                    },
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filter: "agDateColumnFilter",
                    filterParams: {
                          comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                  return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                  return -1;
                                }
                                if (cellValue) {
                                  return 1;
                                }
                          },clearButton: true
                    }
                }, {
                    headerName: "Financial Division",
                    field: "sDivision",
                    tooltipField:"sDivision",
                    filter: "agSetColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                },{
                    headerName: "Title Product Type ",
                    field: "sType",
                    tooltipField:"sType",
                    filter: "agSetColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                },{
                    headerName: "Lifecycle Status",
                    field: "sLifecycleStatus",
                    tooltipField:"sLifecycleStatus",
                    filter: "agSetColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                },{
                    headerName: "Director/EP",
                    field: "sDirector",
                    tooltipField:"sDirector",
                    filter: "agTextColumnFilter",
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    cellRenderer: function(params){
                        if(params.value=="" || params.value==null)
                                return '-';
                        else return params.value;
                    }
                }
                ];
                
                
                //ag-grid options assignment
                $scope.gridOptions = {
                    columnDefs: columnDefn,
                    rowData: null,
                    angularCompileRows: true,
                    domLayout: "autoHeight",
                    rowHeight: 70,
                    rowBuffer: 10000,
                    toolPanelSuppressSideButtons: true,
                    paginationPageSize:25,
                    suppressLoadingOverlay:true,
                    pagination: true,
                    enableFilter: true,
                    enableSorting: true,
                    enableColResize: true,
                    onGridReady: function(params) {
                        setTimeout(function(){
                            if(window.innerWidth >= 1800) {
                                $scope.gridOptions.api.sizeColumnsToFit();
                            }
                        },100);
                    },
                    defaultColDef: {
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filterParams: {clearButton: true}
                    }
                }
                
        //function to apply pagination
        $scope.paginationArray = [25,50,100,'All'];
        $scope.selected = 0;
        $scope.onPageSizeChanged = function(newPageSize) {
            if(newPageSize == 'All') {
                var all = $scope.gridOptions.api.paginationGetRowCount();
                $scope.gridOptions.api.paginationSetPageSize(Number(all));
            }
            else
                $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
        }
        //funtion to select active pagination number
        $scope.selectedPaginationOption= function(index) {
            $scope.selected = index; 
        };
        
        //method to implement export functionality of the ag-gird - starts
        $scope.onButtonExport = function() {
            var ExcelParams = {
                fileName: "Search Titles Results",
                columnGroups: false,
                allColumns: true               
            };
            $scope.gridOptions.api.exportDataAsExcel(ExcelParams);
        }
        //method to implement export functionality of the ag-gird - ends
        
        // call the load data only if this page is tested standalone
        // else call an event on parent to say its loaded
       if(pageName == "HEP_Search_Titles"){

            $scope.loadData(true); 
            $scope.singleLoad = true;
        }
        else{
            $scope.$emit('sectionLoader', 'HEP_Search_Titles');
        }

    }
           
        </script>
        </body>
    </html>
</apex:page>