<!-- 
 * Page Name    : HEP_ViewRuleList
 * Description  : Rule List View Page.    
 * Created By   : Nidhin V K
 * Created On   : 08-03-2016

 * Modification Log:  
 * --------------------------------------------------------------------------------------------------------------------------------------
 * Developer                Date        Modification ID      Description 
 * --------------------------------------------------------------------------------------------------------------------------------------
 * Nidhin V K            08-03-2016        1000            Initial version
 *
 -->
<apex:page controller="HEP_ViewRuleListController">
    <apex:form >
        <apex:sectionHeader title="Rules" subtitle="All Rules" />
        <apex:pageBlock >
            <!-- New Rule Button -->
            <apex:pageBlockButtons >
                <a href="/apex/HEP_CreateRule" class="btn"
                    style="text-decoration: none;">New Rule</a>
            </apex:pageBlockButtons>

            <apex:pageBlockTable value="{!rules}" var="rule">
                <!-- Go Back Link -->
                <apex:column >
                    <apex:outputLink value="/{!rule.Id}" id="theLink">{!rule.Name}</apex:outputLink>
                </apex:column>
                <apex:column value="{!rule.HEP_Target_SObject_API_Name__c}" />
                <apex:column value="{!rule.HEP_Priority__c}" />
                <apex:column value="{!rule.HEP_IsActive__c}" />
            </apex:pageBlockTable>

            <apex:pageblockButtons location="bottom">
                <apex:commandButton value="First" action="{!setcon.First}"
                    disabled="{!!setCon.hasPrevious}" />
                <apex:commandButton value="Next" action="{!setcon.Next}"
                    disabled="{!!setCon.hasNext}" />
                <apex:commandButton value="Previous" action="{!setcon.previous}"
                    disabled="{!!setCon.hasPrevious}" />
                <apex:commandButton value="Last" action="{!setcon.last}"
                    disabled="{!!setCon.hasNext}" />
            </apex:pageblockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>