<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" >
	<div ng-app="PromotionsApp" ng-controller="HEP_Promotion_My_Team_Ctrl">
		<div ng-if="singleLoad==true || selectedTab ==true">          
			Promotion My Team page
		</div>
	</div>
	<script>
		var pageName = "{!$CurrentPage.name}";
                
        // load app only if its not already loaded so that its not overwritten
        if(app)
            {}
        else
            var app = angular.module("PromotionsApp", []);
            
        app.controller("HEP_Promotion_My_Team_Ctrl", HEP_Promotion_My_Team_Ctrl);
        function HEP_Promotion_My_Team_Ctrl($scope){
        	$scope.singleLoad = false;
            $scope.selectedTab = false;
            
            // one lister event for each child tab that handles 
            // load, save, navigate
             $scope.$on('HEP_Promotion_My_Team', function(event, data) {
                
                if(data == 'load'){
                    $scope.loadData();
                    $scope.selectedTab = true;
                }
                else if(data == 'navigate'){
                    $scope.$emit('navigateNext', '');
                    $scope.selectedTab = false;
                }
            });
            
            // called on pageload
            $scope.loadData = function(){
                                          
            }

            $scope.saveData = function(bNavigate){
            }
            
           	// call the load data only if this page is tested standalone
            // else call an event on parent to say its loaded
            if(pageName == "HEP_Promotion_My_Team"){
            
                $scope.loadData(); 
                $scope.singleLoad = true;
            }
            else{
                $scope.$emit('sectionLoader', 'HEP_Promotion_My_Team');
            }
        }
	</script>
</apex:page>