<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_Create_Global_Promotion_Controller" action="{!checkPermissions}">
        <html lang="en">
            <head>
                <c:HEP_Navigation_Menu_Component />
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
            </head>
            <body ng-app="PromotionsApp">
                <div class="createPromotionContainer minwrap-container" ng-cloak="true" >
                    <div ng-controller="HEP_GlobalPromotion_Controller_Ctrl" class="marginTop">
                        <div class="row">
                            <div class="CGP-header col-xs-11 col-sm-11 col-md-11 col-lg-11">Create a New Global Promotion</div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 close-btn" tabindex="8" ng-click="openModal()"></div>
                        </div>
                        
                        <div class="separator"></div>
                        
                        <div ng-form="GPForm" novalidate="novalidate" ng-model="globalProm">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="FTID" class="Field-Label">Find and link an existing Financial Title ID (Optional) </label>
                                        <input type="text" class="Input-Field spec-values searchIcon" tabindex="1" placeholder="Search by Name or Financial Title ID" ng-model="details.objFinancialTitleId.sValue" typeahead-on-select="setActiveFTID($item)" typeahead-editable="false" uib-typeahead="x.sValue for x in getFinancialTitleId($viewValue)"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="LOBus" class="Field-Label">*Select a Line of Business</label>
                                        <select class="Input-Field whiteDD" name ="LOB" id="LOBus" tabindex="3" ng-class="{'error-border':(!details.objLineOfBusiness.sKey) && showError == true}" ng-model="details.objLineOfBusiness" ng-required="required" ng-options="LOB.sValue for LOB in details.picklist.lstLineOfBusiness  | orderBy:'sValue'" ng-change="getCombinations()">
                                            <option value="" style="display: none"></option>
                                        </select>
                                        <p class="errorMsg" ng-show="!details.objLineOfBusiness.sKey.length && showError == true" >{{errorMsg.HEP_LOB_Required}}</p>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="LOB" class="Field-Label">*Select a Line of Business</label>
                                        <select class="Input-Field whiteDD" tabindex="3" name="LOBusiness" ng-model="details.objLineOfBusiness.sKey" id="LOB" ng-class="{'error-border':(!details.objLineOfBusiness.sKey) && showError == true}" ng-required="true">
                                            <option value="" style="display: none"></option>
                                            <option ng-repeat="LOB in details.picklist.lstLineOfBusiness" ng-value="LOB.sKey">{{LOB.sValue}}</option>
                                        </select>
                                        <p class="errorMsg" ng-show="!details.objLineOfBusiness.sKey && showError == true" >{{errorMsg.HEP_LOB_Required}}</p>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="FAD" class="Field-Label">*Global FAD</label>
                                        <p class="input-group date-container">
                                            <input alt-input-formats="altDateFormat" tabindex="5" class="Date-Input form-control" ng-class="{'error-border':(!details.sGlobalFAD) && showError == true}" hep-validate-date="true" dateformat="{{localeDateFormat}}" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" datepicker-options="dateOptions" is-open="popup2.opened" id="FAD" ng-model="details.sGlobalFAD" name="globalFAD" ng-required="true" type="text" uib-datepicker-popup="{{localeDateFormat}}" allDateFormats="{{altDateFormat}}" datepicker-append-to-body="true"  ng-model-options="{timezone: 'utc'}"/>
                                            <span class="input-group-btn">
                                                <button class="calendarIcon" tabindex="-1" ng-class="{'error-border-date':(!details.sGlobalFAD) && showError == true}" ng-click="popup2.opened=true" type="button"></button>
                                            </span>
                                        </p>
                                        <p class="errorMsg" ng-show="(!details.sGlobalFAD) && showError == true" >{{errorMsg.HEP_Global_FAD_Required}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="Field-Label">*International Marketing Manager</label>
                                        <select class="Input-Field whiteDD" tabindex="7"  ng-model="details.objInternationalMarketingManager" ng-required="required" ng-options="manager.sValue for manager in details.picklist.lstMarketingManagers | orderBy:'sValue'" ng-class="{'error-border':(!details.objInternationalMarketingManager.sKey) && showError == true}">
                                            <option value="" style="display: none"></option>
                                        </select>
                                        <p class="errorMsg" ng-show="!details.objInternationalMarketingManager.sValue && showError == true">{{errorMsg.HEP_International_Marketing_Manager_Required}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="promotionName" class="Field-Label">*Provide a custom name for your promotion</label>
                                        <input type="text" id="promotionName" autofocus="true" tabindex="2" name="customPromotionName" ng-class="{'error-border':((!details.sPromotionName) || (details.sPromotionName.length && (details.sPromotionName.length < 3))) && showError == true}" ng-model="details.sPromotionName" class="Input-Field" ng-required="true"/>
                                        <p class="errorMsg" ng-show="details.sPromotionName && (details.sPromotionName.length < 3) && showError == true">{{errorMsg.HEP_Min_Length_3_Letters}}</p>
                                        <p class="errorMsg" ng-show="!details.sPromotionName && showError == true">{{errorMsg.HEP_Promotion_Name_Required}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="Field-Label">*Identify which media types will be available</label>
                                        <div class="radioBtnContainer">
                                            <div class="radio">
                                                <input type="radio" name="mediaTypes" tabindex="4" id="digital" value="Digital" ng-model="details.sMediaType" ng-required="true"/> 
                                                <label for="digital" class="radio-label">Digital </label>
                                                
                                                <input type="radio" name="mediaTypes" id="physical" value="Physical" ng-model="details.sMediaType" ng-required="true"/> 
                                                <label for="physical" class="radio-label">Physical</label>
                                                
                                                <input type="radio" name="mediaTypes" id="both" value="Both" ng-model="details.sMediaType" ng-required="true" checked="checked"/> 
                                                <label for="both" class="radio-label">Both</label>
                                            </div>
                                        </div>
                                        <p class="errorMsg" ng-show="!details.sMediaType && showError == true">{{errorMsg.HEP_Media_type_Required}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="marketingManager" class="Field-Label">*Your Local Marketing Manager</label>
                                        <select class="Input-Field whiteDD" tabindex="6" ng-model="details.objDomesticMarketingManager" ng-required="required" ng-options="manager.sValue for manager in details.picklist.lstMarketingManagers | orderBy:'sValue'" ng-class="{'error-border':(!details.objDomesticMarketingManager.sKey) && showError == true}">
                                            <option value="" style="display: none"></option>
                                        </select>
                                        <p class="errorMsg" ng-show="!details.objDomesticMarketingManager && showError == true">{{errorMsg.HEP_Local_Marketing_Manager_Required}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button type="button" tabindex="7" ng-disabled="disableSaveBtn" class="hep-btn createGP-btn" ng-click="saveData()">Create Global Promotion</button>
                                </div>
                            </div>
                            <!-- modal pop up for close button-->
                            <div class="hep-modal-overlay" ng-cloak="true" ng-show="showModal">
                                <div class="hep-modal">
                                    <div class="hep-close-icon" ng-click="showModal=false"></div>
                                    <div class="clearfix"></div>
                                    <div class="hep-add-scroll-bar content-section">
                                        <div>Are you sure you want to Cancel?</div>
                                        <div class="text-right">
                                            <button class="hep-btn-border" ng-click="goBackToLandingPage()">Yes</button>
                                            <button class="hep-btn" ng-click="showModal=false">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal pop up for close button-->
                    </div>
                </div>
                <script>
                var app = angular.module('PromotionsApp', ['ngSanitize', 'ui.bootstrap']);
                //Service
                function getData_HEP_Create_Global_Promotion($q){
                    //Function to load initial Data - Starts
                    var getRecord = function(){
                        var deferred = $q.defer();
                        HEP_Create_Global_Promotion_Controller.fetchGlobalPromotionDefaultValues(function(result, event){
                            if(event.status){
                                deferred.resolve(result);
                            }else{
                                deferred.reject('Error Occurred ' + event.message);
                            }
                        },{escape :false});
                        return deferred.promise;
                    }
                    //Function to load initial Data - ends
                    
                    //Funtion for TypeAhead fields -starts
                    var typeAhead = function(fieldName, objectName,keyword, extraWhere)
                    {
                        var deferred = $q.defer();
                        HEP_Create_Global_Promotion_Controller.getTypeAheadValues(fieldName, objectName,keyword ,extraWhere,  function(result,event){
                            if(event.status)
                            {
                                deferred.resolve(result);
                            }
                            else
                            {
                                deferred.reject('Error Processing the Request :  ' + event.message);
                            }
                        },{escape:false});
                        return deferred.promise;
                    }
                    //Funtion for TypeAhead fields - Ends

                    //Function for checking permissions
                    var checkPermissions = function(){
                        var deferred = $q.defer();
                        HEP_Create_Global_Promotion_Controller.checkPermissions(
                        function(result,event){
                            if(event.status)
                            {
                                deferred.resolve(result);
                            }
                            else
                            {
                                deferred.reject('Error Processing the Request :  ' + event.message);
                            }
                        },{escape:false});
                        return deferred.promise;
                    }
                    
                    //Fetch Financial Title Id function - Starts
                    var getFinancialTitleId = function(titleId)
                    {
                        var deferred = $q.defer();
                        HEP_Create_Global_Promotion_Controller.getFinacialTitleId(titleId,  function(result,event){
                            if(event.status)
                            {
                                deferred.resolve(result);
                            }
                            else
                            {
                                deferred.reject('Error Processing the Request :  ' + event.message);
                            }
                        },{escape:false});
                        return deferred.promise;
                    }
                    //Fetch Financial Title Id function - Ends
                    
                    //Save Promotion
                    var saveData = function(obj){
                        var deferred = $q.defer();
                        HEP_Create_Global_Promotion_Controller.saveGlobalPromotion(obj, function(result,event){
                            if(event.status)
                            {
                                deferred.resolve(result);
                            }
                            else
                            {
                                deferred.reject('Error Processing the Request :  ' + event.message);
                            }
                        },{escape:false});
                        return deferred.promise;
                    }
                    //Return Methods
                    return {
                        getRecord : getRecord,
                        typeAhead : typeAhead,
                        saveData : saveData,
                        getFinancialTitleId : getFinancialTitleId,
                        checkPermissions : checkPermissions
                    }
                }
                
                //Inject Factory
                app.factory('getData_HEP_Create_Global_Promotion', getData_HEP_Create_Global_Promotion);
                app.directive('hepValidateDate', hepValidateDateDirective);
                app.controller("HEP_GlobalPromotion_Controller_Ctrl", createGlobalPromotionController);
                
                //The Angular Controller
                function createGlobalPromotionController($scope, getData_HEP_Create_Global_Promotion, $timeout){
                    
                    $scope.showError = false;
                    $scope.disableSaveBtn = false;
                    $scope.loggedInUserId = '{!$User.Id}';
                    $scope.dateOptions = dateOptions;
                    $scope.numberFormat = sLocaleNumberFormat;
                    $scope.altDateFormat = allDateFormats;
                    $scope.localeDateFormat =  sLocaleDateFormat;
                    $scope.dateOptions.dateDisabled = false;


                    hideShowProgress(false, true);  
                    $scope.checkPermissions = function(){
                        var promise = getData_HEP_Create_Global_Promotion.checkPermissions();
                        promise.then(function(obj) {
                            $scope.returnURL = obj;
                            if($scope.returnURL!==null){                                
                                window.location.href = $scope.returnURL;                                    
                            }                                        
                        }, function(reason) {                           
                            alert('Failed: ' + reason.message);
                            throw reason;
                            
                        }, function(update) {                            
                            alert('');
                            
                        }); 
                    }
                    $scope.checkPermissions();
                    
                    //Menu Component load function
                    $(".hep-navbar").fadeIn();
                    
                    //Responsiveness check - Starts
                    fetchWindowSize();
                    
                    $(window).resize(function() {
                        $timeout(function() {
                            fetchWindowSize();
                        });
                        
                    });
                    //Responsiveness check - Ends
                    
                    //open modal function for close button
                    $scope.openModal=function(){
                        $scope.showModal=true;
                    }
                    
                    // Showing the spinner
                    hideShowProgress(false, true);                    
                    
                    //fetch records on page load - Starts
                    $scope.fetchRecords = function(){
                        
                        var promise = getData_HEP_Create_Global_Promotion.getRecord();
                        promise.then(function(obj){
                            // Hiding the spinner
                            if($scope.returnURL===null){
                                hideShowProgress(false, false);
                            } 
                           
                            // showConsoleLog('#@!#@ : ' + JSON.stringify(obj));
                            $scope.details = obj;
                            $scope.errorMsg = obj.mapErrorMessages;
                            $scope.format = $scope.details.sDateFormat;
                            showConsoleLog('@#!@# ' + JSON.stringify($scope.details.picklist));
                            angular.forEach($scope.details.picklist.lstLineOfBusiness, function(value, key) {
                                if(value.sKey == $scope.details.objLineOfBusiness.sKey) {
                                    $scope.details.objLineOfBusiness = value;
                                } 
                            });
                            angular.forEach($scope.details.picklist.lstMarketingManagers, function(value, key) {
                                if(value.sKey == $scope.loggedInUserId) {
                                    $scope.details.objInternationalMarketingManager = value;
                                    $scope.details.objDomesticMarketingManager = value;
                                } 
                            });
                        }, function(reason){
                            // Hiding the spinner 
                            hideShowProgress(false, false);
                            alert('Error : ' + reason);
                            throw reason;
                        },[]);
                    }
                    $scope.fetchRecords();
                    //fetch records on page load - Ends
                    
                    //function for typeahead fields - Starts
                    $scope.typeAhead = function(fieldName, objectName,keyword, extraWhere){
                        var promise = getData_HEP_Create_Global_Promotion.typeAhead(fieldName, objectName,keyword, extraWhere);
                        
                        promise.then(function(result){
                            return result;
                        },
                                     function(reason){
                                         alert('Error : ' + reason.message);
                                            throw reason;
                                     },
                                     function(message){});
                        return promise;
                    }
                    //function for typeahead fields - Ends
                    
                    //function to get FTID - starts
                    $scope.getFinancialTitleId = function(titleId){
                        var promise = getData_HEP_Create_Global_Promotion.getFinancialTitleId(titleId);
                        promise.then(function(result){
                            return result;
                        },
                                     function(reason){
                                         alert('Error : ' + reason.message);
                                            throw reason;
                                     },
                                     function(message){});
                        return promise;
                    }
                    //function to get FTID - Ends
                    
                    //save promotion details function - starts
                    $scope.saveData = function(){
                        //Required field validations - starts
                        if($scope.details) {
                            if(!$scope.details.objLineOfBusiness.sKey){
                                $scope.showError = true;                        
                            } else if(!$scope.details.sGlobalFAD) {
                                $scope.showError = true; 
                            } else if(!$scope.details.objInternationalMarketingManager.sValue) {
                                $scope.showError = true; 
                            } else if(!$scope.details.sPromotionName) {
                                $scope.showError = true; 
                            } else if($scope.details.sPromotionName.length && $scope.details.sPromotionName.length < 3) {
                                $scope.showError = true; 
                            } else if(!$scope.details.sMediaType) {
                                $scope.showError = true; 
                            } else if(!$scope.details.objDomesticMarketingManager.sValue) {
                                $scope.showError = true; 
                            } else {
                                $scope.showError = false; 
                            }
                        }
                        //Required field validations - ends
                        
                        if($scope.showError == false) {
                            hideShowProgress(false, true);
                            $scope.disableSaveBtn = true;
                            $scope.detailsCopy = angular.copy($scope.details);
                            $scope.detailsCopy.dGlobalFAD = new Date($scope.detailsCopy.sGlobalFAD).toUTCString();
                            showConsoleLog('----> ' + JSON.stringify($scope.detailsCopy));
                            var promise = getData_HEP_Create_Global_Promotion.saveData(JSON.parse(angular.toJson($scope.detailsCopy)));
                            promise.then(function(obj){
                                showConsoleLog('234567890 ----> ' + obj);
                                //hideShowProgress(false, false);
                                if(obj.indexOf('Error') == -1){
                                    var promotionId = obj;
                                    if(obj != null)
                                        window.location.href = '/apex/HEP_Promotion_Details?promoId='+promotionId;
                                    else
                                        window.location.href = '/apex/HEP_AccessDenied';
                                }else{
                                    hideShowProgress(false, false);
                                     $scope.disableSaveBtn = false;
                                    toastr.options.positionClass = "toast-top-center";
                                    toastr.options.timeOut = 2000;
                                    toastr.error(obj);
                                }
                            }, function(reason){
                                hideShowProgress(false,false);
                                alert('Error : ' + reason.message);
                                            throw reason;
                                $scope.disableSaveBtn = false;
                            }, function(update){
                                hideShowProgress(false,false);
                            });
                        }
                    }
                    //save promotion details function - ends
                    
                    //Set Promotion Name by default when FTID is added
                    $scope.setActiveFTID = function(item) {
                        $scope.details.objFinancialTitleId.sKey = item.sKey;
                        // var bracketedValue = $scope.details.objFinancialTitleId.sValue;
                        // var removedBracketedValue = bracketedValue.split("]")[0].replace("[","").trim(); 
                        // $scope.details.sPromotionName = removedBracketedValue;

                        var actualGlobalPromValue = item.sValue;
                        var lastIndex = actualGlobalPromValue.lastIndexOf("-");
                        var neededGlobalValue = actualGlobalPromValue.substring(0, lastIndex).trim();
                        $scope.details.sPromotionName = neededGlobalValue;
                    }
                    
                    //modal close button functionality
                    $scope.goBackToLandingPage = function() {
                        window.location.href = '/apex/HEP_Promotions_LandingPage';
                    }
                }
                
                </script>
            </body>
        </html>
    </apex:page>