<!------------------------------------Fox HEP---------------------------------------------
This VF Page is used to show the HEP_Catalog_Details
------------------------------------------------------------------------------------------
Created: 22-MAR-2018 by NIDHIN
------------------------------------------------------------------------------------------
Change Log:
------------------------------------------------------------------------------------------
v1.0    22-MAR-2018    Created by NIDHIN
-------------------------------------------------------------------------------------------->
<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0"  
        standardStylesheets="false" controller="HEP_CatalogDetailsController" action="{!checkPermissions}">
    <c:HEP_Navigation_Menu_Component />

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>

    <body class="hep-header-fxr" ng-app="PromotionsApp">
        <apex:form >
            <apex:actionFunction name="uploadFile" action="{!uploadFile}" reRender="false" oncomplete="getImageUrl();" status="showStatus">
                <apex:param name="curParId" assignTo="{!sCatalogId}" value="" />
                <apex:param name="attBody" assignTo="{!sBinaryData}" value="" />
                <apex:param name="filename" assignTo="{!sFileName}" value="" />
                <apex:param name="descDoc" assignTo="{!sDocumentDescription}" value="" />
                <apex:param name="fileType" assignTo="{!sFileType}" value="" />

            </apex:actionFunction>
        </apex:form>
        <apex:actionStatus onstop="hideShowProgress(false, false)" onstart="hideShowProgress(false, true)" id="showStatus">

        </apex:actionStatus>
        <div ng-controller="HEP_Catalog_Master_Ctrl" ng-cloak="true">
            <div class="minwrap-container promotions-master hep-loaded-content" style="display:none">
                <div class="promotion-trailer promo-trailer-collapsed"  ng-show="headerInfo">
                    <div class="font-title"><b>Catalog</b> - {{objHeader.sCatalogName.toUpperCase()}} - Catalog # {{objHeader.sCatalogNumber}}</div>
                    <div ng-click="headerInfo=!headerInfo" class="exp-hdr font-regular pointer-cursor">Expand</div>
                    </div>
                <div class="promotion-trailer" ng-hide="headerInfo">
                    <div class="promotion-video">
                        <div ng-hide="showPlayer">
                            <div class="dp-block">
                                <div class="edit-image font-regular">
                                    Edit Image<input type="file" onchange="uploadFilePage('fileinputComp')" Id="fileinputComp" accesskey="" alt="" class="" dir="" accept="image/*" />
                                </div>
                                <img ng-src="{{objHeader.sImageUrl}}" class="img-responsive" />
                            </div>

                        </div>

                    </div>

                    <div class="promotion-info">
                        <div class="prom-title">
                            <div class="font-title left-float"><b>Catalog</b> - {{objHeader.sCatalogName.toUpperCase()}} - Catalog # {{objHeader.sCatalogNumber}}</div>
                            <div class="right-float font-regular pointer-cursor clps-header" ng-click="headerInfo=!headerInfo">Collapse</div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Catalog Master Header starts here -->
                        <div class="prom-data">
                            <div class="prom-data-block">
                                <div class="font-small">Catalog #</div>
                                <div ng-class="{'hyphen-adjuster':objHeader.sCatalogNumber=='' || objHeader.sCatalogNumber==null}">{{objHeader.sCatalogNumber.length>0?objHeader.sCatalogNumber:'-'}}</div>
                            </div>
                            <div class="prom-data-block">
                                <div class="font-small">Catalog Name</div>
                                <div ng-class="{'hyphen-adjuster':objHeader.sCatalogName=='' || objHeader.sCatalogName==null}">{{objHeader.sCatalogName.length>0?objHeader.sCatalogName:'-'}}</div>
                            </div>
                            <div class="prom-data-block">
                                <div class="font-small">Catalog Type</div>
                                <div ng-class="{'hyphen-adjuster':objHeader.sCatalogType=='' || objHeader.sCatalogType==null}">{{objHeader.sCatalogType.length>0?objHeader.sCatalogType:'-'}}</div>
                            </div>
                            <div class="prom-data-block">
                                <div class="font-small">Territory</div>
                                <div ng-class="{'hyphen-adjuster':objHeader.sTerritoryName=='' || objHeader.sTerritoryName==null}">{{objHeader.sTerritoryName.length>0?objHeader.sTerritoryName:'-'}}</div>
                            </div>
                        </div>
                        <!-- Catalog Master Header ends here -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--Tab Layout for screens >=1440px and < 1024px -->
                <div class="hep-multi-tabs">
                    <ul class="list-inline font-regular hep-list">
                        <li ng-repeat="x in objHeader.lstTabs track by $index" ng-class="{'active-tab':$first==true}">
                            <span ng-click="changeTab(x.sPageName,$event)" class="hep-tab-name" tabIndex="{{$index}}">{{x.sTabName}}</span>
                            <span ng-class="{'show-chevron':x.lstSubTabs!=null && x.lstSubTabs.length!=0}" tabIndex="{{$index}}" ng-click="changeTab(x.sPageName,$event)"></span>
                        </li>
                    </ul>
                    <div class="hep-tab-line hep-tab-ease" ng-hide="objHeader.lstTabs.length==0"></div>
                </div>

            </div>
             <div class="minwrap-container promotions-master ph-master-anim" style="display:none">
                <div class="loading-bar"></div>
                <div class="promotion-trailer">
                    <div class="promotion-video show-anim"></div>
                    <div class="promotion-info">
                        <div class="prom-title">
                            <div class="left-float show-anim cp-promheader-1"></div>
                            <div class="left-float show-anim cp-promheader-2"></div>
                            <div class="left-float show-anim cp-promheader-2"></div>
                            <div class="left-float show-anim cp-promheader-3"></div>
                            <div class="left-float show-anim cp-promheader-4"></div>
                            <div class="clearfix"></div>
                            <div class="prom-territory show-anim cp-promheader-5"></div>
                        </div>
                        <div class="prom-data">
                            <div class="prom-data-block"
                                ng-repeat="x in phData.promInfo track by $index">
                                <div class="font-small left-float">
                                    <div class="show-anim left-float cp-promheader-6"></div>
                                    <div class="show-anim left-float cp-promheader-7"></div>
                                    <div class="show-anim left-float cp-promheader-8"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="show-anim left-float cp-promheader-9"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hep-multi-tabs">
                    <ul class="list-inline font-regular">
                        <li ng-repeat="x in phData.tabInfo track by $index"
                            class="show-anim cp-promheader-10"></li>
                    </ul>
                </div>
            </div>
            <!-- Including the visualforce pages as per the user access -->
          <div ng-if="currentTab != '' && currentTab != null">
                <apex:include pageName="HEP_Catalog_Details_SubTab"
                    rendered="{!mapPageAccess['HEP_Catalog_Details_SubTab'] == 'TRUE'}"/>

                <apex:include pageName="HEP_Catalog_Components" 
                    rendered="{!mapPageAccess['HEP_Catalog_Components'] == 'TRUE'}"/>

                <apex:include pageName="HEP_Catalog_RightsCheck" 
                    rendered="{!mapPageAccess['HEP_Catalog_RightsCheck'] == 'TRUE'}"/>

                <apex:include pageName="HEP_Catalog_Promotions" 
                    rendered="{!mapPageAccess['HEP_Catalog_Promotions'] == 'TRUE'}"/>
				<apex:include pageName="HEP_Catalog_SKUs" 
                    rendered="{!mapPageAccess['HEP_Catalog_SKUs'] == 'TRUE'}"/>
                <apex:include pageName="HEP_Catalog_Customer_Mapping" 
                    rendered="{!mapPageAccess['HEP_Catalog_Customer_Mapping'] == 'TRUE'}"/>
            </div>
        </div>
        <script>
            // Copying the values of parameters
            var sCatalogId = "{!$CurrentPage.parameters.catId}";
            var sCurrencyFormat = 'abc';
            //initialising ag-grid and the angular module
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey);
            agGrid.initialiseAgGridWithAngular1(angular);
            
            
            if (typeof app !== 'undefined') {
            
                app.requires.push('ngSanitize');
                app.requires.push('ui.bootstrap');
                app.requires.push('angular-click-outside');
                app.requires.push('agGrid');
            } else
                var app = angular.module("PromotionsApp", ['ngSanitize', 'ui.bootstrap', 'angular-click-outside', 'agGrid']);
            
            /**
             * Method that is called when a image is uploaded by the user
             **/
            function uploadFilePage(id) {
                $('#' + id).click();
            }
            
            /**
             * Method that is called after the image has been uploaded to get the new image's URL
             **/
            function getImageUrl() {
                angular.element($('[ng-controller="HEP_Catalog_Master_Ctrl"]')).scope().getImageUrl();
            }
            
            /**
             * Method that is called to compress the uploaded promotion image
             **/
            $(function() {
                if (window.File && window.FileReader && window.FileList && window.Blob) {
            
                    $('#fileinputComp').bind('change', compressHandler);
            
                } else {
                    alert('The File APIs are not fully supported in this browser.');
                }
            });
            
            // Initialization
            const compress = new Compress();
            
            /**
             * Method that compresses the uploaded promotion image
             **/
            function compressHandler(evt) {
                const files = [...evt.target.files];
                compress.compress(files, {
                    size: 4, // the max size in MB, defaults to 2MB
                    quality: .75, // the quality of the image, max is 1,
                    maxWidth: 1920, // the max width of the output image, defaults to 1920px
                    maxHeight: 1920, // the max height of the output image, defaults to 1920px
                    resize: true, // defaults to true, set false if you do not want to resize the image width and height
                }).then((data) => {
            
                    var filename = data[0].alt;
                    var fileNameSplit = filename.split(".");
                    var fileExtn = fileNameSplit[fileNameSplit.length - 1];
                    fileExtn = fileExtn.toLowerCase();
            
                    var type = data[0].ext;
                    var attsize = data[0].endSizeInMb;
            
                    curParId = sCatalogId;
                    var attBody = data[0].data;
                    var descDoc = 'temp';
                    if (fileExtn == "jpg" || fileExtn == "jpeg" || fileExtn == "png") {
                        if (attsize <= 4) {
                            uploadFile(curParId, attBody, filename, descDoc, type);
                        } else {
            
                            getImageUrl();
                        }
                    } else {
                        alert('Cannot upload a file with extension ".' + fileExtn + '". Please try to upload a file with ".jpeg", ".jpg", ".png" extension.');
                    }
                })
            }
            
            // Defining the angular controller  
            app.controller("HEP_Catalog_Master_Ctrl", HEP_Catalog_Master_Ctrl);
            // Adding the filter to format the numbers as per user locale
            app.filter('hepFormatNumber', hepFormatNumberFilter);
            // Adding the filter to format the currency data as per user locale
            app.filter('hepFormatCurrency', hepFormatCurrencyFilter);
            app.directive('myDirective', function() {
                return {
                    restrict: 'E',
                    templateUrl: function(iElement, iAttrs) {
                        if (!iAttrs.pagename) throw new Error("my-replace: template url must be provided");
            
                        return "HEP_Promotion_Activities";
                    }
                }
            });
            
            
            /**
             * Defining the service
             **/
            function getData_HEP_Catalog_Details($q) {
            
                /**
                 * Method to get the details of the header
                 **/
                var getHeaderDetails = function() {
                    var deferred = $q.defer();
            
                    // Calling the apex controller method to get the order details
                    HEP_CatalogDetailsController.getHeaderDetails(sCatalogId, sLocaleDateFormat,
                        function(result, event) {
                            if (event.status) {
                                deferred.resolve(angular.fromJson(result));
                            } else {
                                deferred.reject(event);
                            }
                        }, {
                            buffer : false, escape: false
                        });
                    return deferred.promise;
                }
            
                /**
                 * Method to get url of the promotion image
                 **/
                var getImageUrl = function(sCatalogId) {
                    var deferred = $q.defer();
            
                    // Calling the apex controller method to get url of the promotion image
                    HEP_CatalogDetailsController.getImageUrl(sCatalogId,
                        function(result, event) {
                            if (event.status) {
                                deferred.resolve(angular.fromJson(result));
                            } else {
                                deferred.reject(event);
                            }
                        }, {
                            escape: false
                        });
                    return deferred.promise;
                }
            
                return {
                    getHeaderDetails: getHeaderDetails,
                    getImageUrl: getImageUrl
                };
            }
            
            // Defining factory which will be used for communication with apex controller
            app.factory('getData_HEP_Catalog_Details', getData_HEP_Catalog_Details);
            
            function HEP_Catalog_Master_Ctrl($scope, $timeout, getData_HEP_Catalog_Details , $rootScope) {
            
                $scope.currentTab = 'HEP_Catalog_Details_SubTab';
                $scope.objHeader = {};
                $scope.sCurrencyFormat = '';
                $scope.sPromotionId = "{!$CurrentPage.parameters.promoId}";
                $scope.BackButtonUrl = 'HEP_Search';
                $scope.getBackButtonUrl = function(){
                    if($scope.sPromotionId!=null &&  $scope.sPromotionId!==undefined && $scope.sPromotionId!=''){
                        $scope.BackButtonUrl = 'HEP_Promotion_Details?promoId='+$scope.sPromotionId+'&tab=HEP_Promotion_Products';
                    }
                }
                $scope.getBackButtonUrl();
                $scope.numberFormat = sLocaleNumberFormat;
                //$scope.numberCurrencyFormat = sLocaleNumberFormat;
                //$scope.numberCurrencyFormat.iNoOfDecimalPlaces = $scope.sCurrencyFormat.iNoOfDecimalPlaces;
                $scope.localeDateFormat = sLocaleDateFormat;
            
                $scope.favProm = false;
            
                /**
                 *Dummy data for placeholder css
                 **/
                $scope.phData = {
                    "promInfo": new Array(5),
                    "tabInfo": new Array(9)
                }
            
                /**
                 * Boolean variables to switch between different tab layouts for responsive behaviour
                 **/
                $scope.windowLengths = {
                    "windowLength1": true,
                    "windowLength2": false,
                    "windowLength3": false
                };
            
                /**
                 * Method to calculate the window size for responsive behaviour
                 **/
                $scope.fetchTabLayout = function() {
                    var screenVar = $(window).innerWidth();
                    if (screenVar < 1024 || screenVar >= 1440) {
                        if (screenVar < 1024) $(".minwrap-container").css("width", "1440px");
                        else if (screenVar >= 1440) $(".minwrap-container").css("width", "100%");
            
                        $scope.windowLengths = {
                            "windowLength1": true,
                            "windowLength2": false,
                            "windowLength3": false
                        };
                    } else if (screenVar >= 1024 && screenVar < 1280) {
                        $(".minwrap-container").css("width", "100%");
                        $scope.windowLengths = {
                            "windowLength1": false,
                            "windowLength2": false,
                            "windowLength3": true
                        };
                    } else if (screenVar >= 1280 && screenVar < 1440) {
                        $(".minwrap-container").css("width", "100%");
                        $scope.windowLengths = {
                            "windowLength1": false,
                            "windowLength2": true,
                            "windowLength3": false
                        };
                    }
                }
            
                $scope.fetchTabLayout();
            
                /**
                 * Method called on window resize 
                 **/
                $(window).resize(function() {
                    $timeout(function() {
                        $(".hep-sub-tabs").hide();
                        $scope.fetchTabLayout();
                    });
            
                });
            
            
                $scope.closeSubLinks = function() {
                    angular.element(".hep-sub-tabs").css("display", "none");
            
                }
            
                $scope.showActiveSubtab = false;
            
            
                // lister event to listen to see if the child controllers are loaded
                // once loaded to call its load data if its the selected tab to be displayed
                $scope.$on('sectionLoader', function(event, data) {
            
                    if ($scope.currentTab == data) {
                        $scope.$broadcast(data, 'load');

                        // Loading the header data on initial load
                        $scope.loadData(true);
                    }
                });
            
                // this is the return event called after save on child
                // if user moves from tab A to B. A event is called for save.
                // if the save is successfull it calls back this event in parent
                $scope.$on('navigateNext', function(event, data) {
            
                    $scope.currentTab = $scope.selectedTab;
                    $scope.$broadcast($scope.currentTab, 'load');
                });
            
                /**
                 * Event listener so that if anything changes in the child tabs,
                 * the header can be refreshed with the latest data
                 **/
                $scope.$on('reloadHeader', function(event, data) {
            
                    $scope.loadData(false);
                });
            
            
                $scope.changeTab = function(selectedTab, event) {
                    
                    var eventCopy = event.currentTarget.innerText;
            
                    $scope.selectedTab = selectedTab;
            
                    // if the user moves to a diffrent tab
                    // calles the event on child with param to navigate
                    if ($scope.currentTab != $scope.selectedTab) {
                        $scope.$broadcast($scope.currentTab, 'navigate');
            
                    }
            
                }
            
                /**
                 * Method to get the data for header
                 **/
                $scope.loadData = function(bInitialLoad) {
                    showConsoleLog('hello');
                    // Showing animation or spinner depending on whether its initial load or not
                    hideShowProgress(bInitialLoad, true);
            
                    var promise = getData_HEP_Catalog_Details.getHeaderDetails();
            
                    promise.then(function(obj) {
            
                        $scope.objHeader = obj;
                        
                        
                        $scope.objHeader.lstTabs = {!sHeaderTabs};
                        //console.log("header", $scope.objHeader);
            
                        // If there are tabs
                        if ($scope.objHeader.lstTabs != null && $scope.objHeader.lstTabs.length > 0) {
                            $scope.currentTab = $scope.objHeader.lstTabs[0].sPageName;
                        }
                        // Hiding animation or spinner depending on whether its initial load or not
                        hideShowProgress(bInitialLoad, false);
                       
            
                    }, function(reason) {
                        // Hiding animation or spinner depending on whether its initial load or not
                        hideShowProgress(bInitialLoad, false);
            
                        alert('Error : ' + reason.message);
                            throw reason;
                    }, function(update) {
                        // Hiding animation or spinner depending on whether its initial load or not
                        hideShowProgress(bInitialLoad, false);
                        alert('Got notification: ' + update);
                    });
                    var checkIE = document.documentMode;
                    var checkEdge = (navigator.appVersion).indexOf("Edge");
                    if (checkIE != undefined || checkEdge != -1) {
                        toastr.options = {
                            positionClass: "toast-top-center",
                            timeOut: "0",
                            extendedTimeOut: "0"
                        }
                        toastr.success('The page opened is not IE compatible. Please open it in either  Chrome/Safari/Firefox');
                    }
            
                }
            
             
             /* object to capture the back button redirection data */
              $scope.displayBackButton={
                 "redirectionPage": $scope.BackButtonUrl,
                 "displayText":"New Search"
             }
             
             /* broadcast an event to display the back button chevron on the navigation bar */
             //angular.element("[ng-controller='hepNavComponentCtrl']").scope().$broadcast('displayBackButton',$scope.displayBackButton); 
             $rootScope.$broadcast('displayBackButton',$scope.displayBackButton); 
             
            
            
                /**
                 * Method to get the URL for the promotion image
                 **/
                $scope.getImageUrl = function() {
                    // Showing the spinner 
                    hideShowProgress(false, true);
                    var promise = getData_HEP_Catalog_Details.getImageUrl($scope.objHeader.sCatalogId);
            
                    promise.then(function(obj) {
                        $scope.objHeader.sImageUrl = obj;
            
                        // Hiding the spinner 
                        hideShowProgress(false, false);
                    }, function(reason) {
                        // Hiding the spinner
                        hideShowProgress(false, false);
                        alert('Error : ' + reason.message);
                            throw reason;
                    }, function(update) {
                        // Hiding the spinner
                        hideShowProgress(false, false);
                        alert('Got notification: ' + update);
                    });
                    
                   
                }
            
            
             
                
            }
            
            // directive to implement the multi tabs functionality     
            app.directive('hepMultiTabs', function($timeout) {
                return {
                    restrict: 'C',
                    link: function(scope, elem, attrs) {
                        var listMenu = elem.find("ul.hep-list");
                        $timeout(function() {
            
                            var lineItem = elem.find(".hep-tab-line"),
                                liIndex = 0,
                                liIndexCopy = 0;
            
                            //tabItems.on('click', function(e) {
            
            
                            $("ul.hep-list").on('click', 'li span.show-chevron', function(e) {
                                elem.find(".show-chevron").removeClass("active-chevron");
                                angular.element(this).addClass("active-chevron");
                                var tabItems = listMenu.children();
            
            
                                tabItems.removeClass("active-tab");
                                var leftValue = parseInt(0);
                                if (tabItems.length > 0) {
                                    for (x in tabItems) {
                                        if (x == e.target.tabIndex) {
                                            break;
                                        }
                                        //adding the margin-right value (22px)
                                       var marginRight=parseInt((angular.element(this).closest("li").css("margin-right")).split("px")[0]);
                                        leftValue += tabItems[x].clientWidth + marginRight;  
                                    }
                                }
                                angular.element(this).closest("li").addClass("active-tab");
                                var elemWidth = angular.element(this).closest("li").width();
                                lineItem.css({
                                    "left": leftValue + 40,
                                    "width": elemWidth
                                });
            
            
                                var currentSubTab1 = angular.element(this).next(".hep-sub-tabs");
                                listMenu.find(".hep-sub-tabs").hide();
                                if (currentSubTab1.is(":visible") == false) {
            
                                    if (currentSubTab1.find("ul").children().length) {
            
                                        currentSubTab1.fadeIn(400);
            
                                        return false;
                                    }
            
                                }
                            });
            
                            $("ul.hep-list").on('click', 'li span.hep-tab-name', function(e) {
            
                                elem.find(".show-chevron").removeClass("active-chevron");
                                var tabItems = listMenu.children();
                                tabItems.removeClass("active-tab");
                                var leftValue = parseInt(0);
                                if (tabItems.length > 0) {
                                    for (x in tabItems) {
                                        if (x == e.target.tabIndex) {
                                            break;
                                        }
                                        //adding the margin-right value (22px)
                                        var marginRight=parseInt((angular.element(this).closest("li").css("margin-right")).split("px")[0]);
	                                    leftValue += tabItems[x].clientWidth + marginRight;  
                                    }
                                }
                                angular.element(this).closest("li").addClass("active-tab");
                                var elemWidth = angular.element(this).closest("li").width();
                                lineItem.css({
                                    "left": leftValue + 40,
                                    "width": elemWidth
                                });
            
                            });
                        }); // $timeout method
                    }
                };
            });
            
            //filter to retrieve the tabs which doesn't have sub links so that the tab names are displayed under more
            
            app.filter('tabLinks', function() {
                return function(input, start) {
                    if (input) {
                        var inputArray = [],
                            input = input.slice(start);
            
                        for (x = 0; x < input.length; x++) {
                            if (!(input[x] && input[x].subTabName && input[x].subTabName.length > 0)) {
                                inputArray.push(input[x]);
                            }
                        }
            
                        //input=inputArray;
                        return inputArray;
                    }
                    return [];
                }
            });
            
            //filter to retrieve the tabs which  have sub links so that only the sub links are displayed under 'more' 
            
            app.filter('tabsubLinks', function() {
                return function(input, start) {
                    if (input) {
                        var inputArray = [],
                            input = input.slice(start);
            
                        for (x in input) {
                            if (input[x] && input[x].subTabName && input[x].subTabName.length) {
                                inputArray.push(input[x]);
                            }
                        }
            
                        input = inputArray;
                        return input;
                    }
                    return [];
                }
            });
           
        
       
       

           
        </script>
    </body>
</apex:page>