<apex:page showheader="false" sidebar="false" cache="false" contenttype="text/html" controller="HEP_BoxAuth" >
    <apex:form >
    <br/>
    <br/>
    <apex:commandbutton id="connectToBox" value="Connect to Box" action="{!boxConnect}"> </apex:commandbutton>
    <br/>
    <apex:outputtext id="outputText" value="{!valueToShow}"> </apex:outputtext>
    <br/>
    <apex:outputLabel >Access Token :</apex:outputLabel>
    <apex:outputtext id="access" value="{!accessToken}"> </apex:outputtext>
    <br/>
    <apex:outputLabel >Root Folder id :</apex:outputLabel>
    <apex:outputtext id="folderId" value="{!folderId}"> </apex:outputtext>
        
    <br/>
    <apex:outputLabel >Finance Root Folder id :</apex:outputLabel>
    <apex:outputtext id="finFolderId" value="{!financeFolderId}"> </apex:outputtext>
    
    </apex:form>
</apex:page>