<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_Promotion_MyApprovalsController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body ng-app="PromotionsApp"  >
    <div ng-controller="HEP_Promotion_MyApprovalsUnlockDates_Ctrl" class="minwrap-container approvalUnlockDates approval-dates" ng-cloak="true">
        <div ng-if="singleLoad==true || selectedTab ==true" class="mainContainerApprovals">        
            <div class="hep-loaded-content"  style="display: none;">
                <div ng-hide="noApprovals">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingZero">
                            <span class="warningImage"></span><label class="subHeader">{{objPendingApprovalsData.iNoOfPendingApprovals}} Pending Approvals assigned to you</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 paddingZero text-right marginBottom5 hep-flex-right">
                            <button type="button" ng-disabled="!selectedRows.length" class="marginRight15" ng-class="!selectedRows.length ? 'hep-disabled' : 'hep-btn-border'" ng-show= "bShowReject == 'TRUE'" ng-click="openRejectModal()">Reject</button>
                            <button type="button" class="marginRight15" ng-disabled="!selectedRows.length" ng-class="!selectedRows.length ? 'hep-disabled' : 'hep-btn'" ng-show="bShowApprove == 'TRUE'" ng-click="openApproveModal()">Approve</button>

                            <span><a class="pull-right pointer-cursor" ng-click="onButtonExport();">Export </a><span class="hep-export-icon pull-right"></span></span>

                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div ag-grid="gridOptions" class="ag-theme-material RA-table-top"></div>
                        </div>
                    </div>
                    <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
                </div> 
                <div ng-show="noApprovals">
                    <div class="zero-state">
                    <div>
                        <span class="glink-icon"></span><span>There are no pending approvals assigned to you</span>
                    </div>
                    </div>
                </div> 
            </div> 

            <!-- Animation tab starts -->
            <div class="minwrap-container ph-master-anim">
                    <div class="row paddingTop27">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paddingZero">
                            <label class="promotionDetailsHeader marginBottom17"><div class="show-anim pd-header"></div></label>
                           
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                            <div class="form-group">
                                <div class="show-anim pd-header"></div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                            <div class="form-group">
                                <div class="show-anim pd-header"></div>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="separator"></div>
                    </div>
            
                    <div class="clearfix"></div>
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div>
                            <div class="ph-master-anim-rights">
                                <table class="table-anim">
                                    <thead>
                                        <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in phData.tableInfo track by $index">
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Animation tab ends-->

            <!-- modal pop up for approve button-->
                <div class="hep-modal-overlay" ng-cloak="true" ng-show="showUnlockDatesApproveModal">
                    <div class="hep-modal">
                        <div class="hep-close-icon" ng-click="closeApproveModal()"></div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            <div>Are you sure you want to approve these Unlock Date requests<b ng-repeat="x in selectedRows"> {{x.sRequestSerialId}}, </b>?</div>
                            <div class="text-right marginTop">
                                 <a class="pointer-cursor cancelLink marginRight15" ng-click="closeApproveModal()">Cancel</a>
                                <button class="hep-btn" ng-click="approveReject(true);closeApproveModal()">Yes, Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- modal pop up for aprrove button-->

            <!-- modal pop up for reject button-->
                <div class="hep-modal-overlay" ng-cloak="true" ng-show="showUnlockDatesRejectModal">
                    <div class="hep-modal" ng-form="rejectModalForm">
                        <div class="hep-close-icon" ng-click="closeRejectModal()"></div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            <div>You are rejecting Unlock Date requests <b ng-repeat="x in selectedRows"> {{x.sRequestSerialId}}, </b></div>
                            <div class="marginTop">*Please add a reason below</div>
                            <textarea name="rejectCommentsArea" ng-required="true" ng-model="objPendingApprovalsData.sRejectComments" class="form-control hep-comments" rows="5" ></textarea>
                            <div class="text-right marginTop">
                                 <a class="pointer-cursor cancelLink marginRight15" ng-click="closeRejectModal();">Cancel</a>
                                <button ng-disabled="rejectModalForm.$invalid" ng-class="rejectModalForm.$invalid ? 'hep-disabled' : 'hep-btn'" ng-click="approveReject(false);closeRejectModal();">Yes, Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- modal pop up for reject button--> 
           
           <!-- Comments modal pop up -->
            <template id="commentsModal">
                <a ng-click="openCommentsModal(data.sComments);" class="pointer-cursor" ng-bind-html="data.sCommentsPresent"></a>

                
            </template>
            <div class="hep-modal-overlay" ng-cloak="true" ng-show="showCommentsModal">
                    <div class="hep-modal">
                        <div class="marginBottom17">
                            <div class="subHeader left-float">Comments</div>
                            <div class="right-float">
                                <div class="hep-close-icon marginTop10 left-float" ng-click="closeCommentsModal()"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            {{commentsDesc}}
                        </div>
                    </div>
                </div>
            <!-- Comments modal pop up -->
            
        </div>    
    </div>
    
   
  <script>
    //initialising ag-grid and the angular module
    agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
    agGrid.initialiseAgGridWithAngular1(angular);
    var sReqNo = "{!$CurrentPage.parameters.reqId}";
    var pageName = "{!$CurrentPage.name}";
    if (app) {
        } 
    else        
    var app = angular.module('PromotionsApp', ['agGrid','ngAnimate', 'ngSanitize', 'ui.bootstrap']);
    
    app.controller("HEP_Promotion_MyApprovalsUnlockDates_Ctrl", HEP_Promotion_MyApprovalsUnlockDates_Ctrl);
    /**
      * Defining the service
      **/
     function getData_HEP_Promotion_MyApprovalsUnlockDates($q) {
     
        /* Method to get approval records */
         var getApprovalRecords = function() {
             var deferred = $q.defer();
            
             HEP_Promotion_MyApprovalsController.getPendingApprovalRecordsData('Unlock',
                 function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }
     
         /*Method to set or unset promotions*/
         var approveRejectRecords = function(approveReject, setIds, Comments) {
             var deferred = $q.defer();
             
             HEP_Promotion_MyApprovalsController.approveRejectRecords(approveReject, setIds, Comments, 
              function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }
         
                 
         return {
             getApprovalRecords: getApprovalRecords,
             approveRejectRecords: approveRejectRecords
         };
     }

    // Defining factory which will be used for communication with apex controller
    app.factory('getData_HEP_Promotion_MyApprovalsUnlockDates', getData_HEP_Promotion_MyApprovalsUnlockDates);
    //Controller method
    function HEP_Promotion_MyApprovalsUnlockDates_Ctrl($scope, getData_HEP_Promotion_MyApprovalsUnlockDates,$timeout, $filter){
        $scope.singleLoad = false;
        $scope.selectedTab = false;
        $scope.showCommentsModal=false;
        $scope.localeDateFormat =  sLocaleDateFormat;
        $scope.numberCurrencyFormat = sLocaleNumberFormat;
        $scope.paginationArray = [25,50,100,'All'];
        $scope.noApprovals = false;
        $scope.selected = 0;
        
        // one lister event for each child tab that handles 
        // load, save, navigate
         $scope.$on('HEP_Promotion_MyApprovalsUnlockDates', function(event, data) {
            
            if(data == 'load'){
                $scope.loadData(true);
                $scope.selectedTab = true;
            }
            else if(data == 'navigate'){
                $scope.$emit('navigateNext', '');
                $scope.selectedTab = false;
            }
        });

        //dummy data for placeholder animation  
        $scope.phData = {
            "tableInfo": new Array(9)
        }

        //Responsiveness check - Starts
        fetchWindowSize();

        $(window).resize(function() {
            $timeout(function() {
                fetchWindowSize();
            });

        });
        //Responsiveness check - Ends

        //function to apply fliter for requestId
        $scope.selectRequestId = function(reqId){
            var requestIdFilterComponent = $scope.gridOptions.api.getFilterInstance('sRequestSerialId');
            requestIdFilterComponent.setModel({
                type: 'equals',
                filter: reqId,
                filterTo: null
            });
            $scope.gridOptions.api.onFilterChanged();
        }


        //Export functionality on AG_GRID

        $scope.processCellHtml = function(cellValue){
            var search = '';
            var returnval = '';
            if(cellValue!== undefined && cellValue!=''){
                
                 search = cellValue;
                 if(!search.includes("<") && !search.includes(">")){
                        returnval =  cellValue;
                 }
                 else{
                    while(search.includes("<") ||search.includes(">") ){
                        if(search.includes("<")){
                            search = search.replace("<"," --");
                        }
                        if(search.indexOf("<")!=-1 && search.indexOf(">")!= -1) {  
                            returnval += search.substring(search.indexOf(">")+1,search.indexOf("<"));
                            search = search.replace(">"," --");
                        }
                        else if(search.indexOf("<")==-1 && search.indexOf(">")!= -1){
                            returnval += search.substring(search.indexOf(">")+1,search.length);   
                            search = search.replace(">"," --")
                        }
                    }
                    //showConsoleLog('------>'+returnval);  
                 }
            }
            return returnval;
        }
        


        $scope.onButtonExport = function() {
            var ExcelParams = {
                fileName: "My Approvals UnlockDates",
                columnGroups: false,
                allColumns: true,
               // skipGroups: true,
            };

                ExcelParams.processHeaderCallback = function(params) {
                    
                       var returnval =params.column.getColDef().headerName;
                       if(params.column.getColId() =='dtRequestDate'){
                        returnval =  $scope.processCellHtml(returnval);
                       }
                       return returnval;
                };

                ExcelParams.processCellCallback = function(params) {                      
                       var returnval = '';
                      
                       if(params.value !== undefined && params.value !== '')
                       {   
                            returnval = params.value;                            
                            if(params.column.getColId() =='dtRequestDate'){
                                returnval = $filter('date')(params.value, $scope.localeDateFormat, 'UTC');                        
                            }
                            if(params.column.getColId() =='dtDesiredDate'){
                                returnval = $filter('date')(params.value, $scope.localeDateFormat, 'UTC');                        
                            }
                            //returnval =  $scope.processCellHtml(search);                     
                       } 
                       
                       return returnval;
                };
            

            $scope.gridOptions.api.exportDataAsExcel(ExcelParams);
        }


        //EXPORT ENDS


        
         // loadData function 
        $scope.loadData = function(bFirstTime){
                hideShowProgress(bFirstTime, true);
                $scope.selectedRows = {};
                var promise = getData_HEP_Promotion_MyApprovalsUnlockDates.getApprovalRecords();
        
                promise.then(function(obj) {
                    $scope.objPendingApprovalsData = obj;
                    if($scope.objPendingApprovalsData.lstApprovalRecords.length == 0) {
                        hideShowProgress(bFirstTime, false);
                        $scope.noApprovals = true;
                        $scope.$emit('unlockDatesApprovalCount', $scope.objPendingApprovalsData.iNoOfPendingApprovals);
                    } else {
                        $scope.noApprovals = false;
                        $scope.bShowApprove = $scope.objPendingApprovalsData.mapCustomPermissionsUnlock['WRITE'];
                        $scope.bShowReject = $scope.objPendingApprovalsData.mapCustomPermissionsUnlock['WRITE'];
                        $scope.$emit('unlockDatesApprovalCount', $scope.objPendingApprovalsData.iNoOfPendingApprovals);
                        
                        angular.forEach($scope.objPendingApprovalsData.lstApprovalRecords, function(value, key) {
                            if (value.dtRequestDate != null && value.dtRequestDate != undefined) {
                                value.dtRequestDate = new Date(value.dtRequestDate);
                            }
                            if (value.dtCurrentDate != null && value.dtCurrentDate != undefined) {
                                value.dtCurrentDate = new Date(value.dtCurrentDate);
                            }
                            if (value.dtDesiredDate != null && value.dtDesiredDate != undefined) {
                                value.dtDesiredDate = new Date(value.dtDesiredDate);
                            }
                            if (value.dtGlobalFAD != null && value.dtGlobalFAD != undefined) {
                                value.dtGlobalFAD = new Date(value.dtGlobalFAD);
                            }
                            if (value.dtProjectedDate != null && value.dtProjectedDate != undefined) {
                                value.dtProjectedDate = new Date(value.dtProjectedDate);
                            }
                            if (value.dtReleaseDate != null && value.dtReleaseDate != undefined) {
                                value.dtReleaseDate = new Date(value.dtReleaseDate);
                            }
                        });
                                    
                        $scope.gridOptions.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                        if(window.innerWidth >= 1600) {
                            $scope.gridOptions.api.sizeColumnsToFit();
                        }
                        hideShowProgress(bFirstTime, false);

                        if(bFirstTime){
                            if(sReqNo != undefined && sReqNo != null && sReqNo != ''){
                                $scope.selectRequestId(sReqNo);
                            }
                        }
                    }
                }, function(reason) {
                    hideShowProgress(bFirstTime,false);
                    alert('Error : ' + reason.message);
                    throw reason;
                }, function(update) {
                    hideShowProgress(bFirstTime,false);
                });
        }
        
        //service call to approve and reject approvals 
        $scope.approveReject = function(bApproveReject){
            hideShowProgress(false, true);
            var selectedIds = [];
            var rejectComments = '';
            if(!bApproveReject){
                rejectComments = $scope.objPendingApprovalsData.sRejectComments;
            }
            for (x = 0; x < $scope.gridOptions.api.getSelectedRows().length; x++) {                        
                    selectedIds.push($scope.gridOptions.api.getSelectedRows()[x].sRequestId);                       
            }

            var promise = getData_HEP_Promotion_MyApprovalsUnlockDates.approveRejectRecords(bApproveReject, selectedIds,rejectComments);
        
            promise.then(function(obj) {
                $scope.loadData(false);
                hideShowProgress(false, false);
            }, function(reason) {
                alert('Error : ' + reason.message);
                throw reason;
                hideShowProgress(false, false);
            }, function(update) {
                hideShowProgress(false, false);
            });
        }

        //function to open comments modal
        $scope.openCommentsModal = function(sComments){
            $scope.showCommentsModal=true;
            $scope.commentsDesc = sComments;
        }

        //function to open reject modal
        $scope.openRejectModal = function(){
            $scope.showUnlockDatesRejectModal=true;
        }

        //function to open approve modal
        $scope.openApproveModal = function(){
            $scope.showUnlockDatesApproveModal=true;
        }


        //function to close comments modal
        $scope.closeCommentsModal = function() {
            $scope.showCommentsModal=false;
        }

        //function to close reject modal
        $scope.closeRejectModal = function() {
            $scope.showUnlockDatesRejectModal=false;
        }

        //function to close approve modal
        $scope.closeApproveModal = function() {
            $scope.showUnlockDatesApproveModal=false;
        }
       
       //ag-grid column definition
        var columnDefs = [
            {
                            headerName: "",
                            headerCheckboxSelection: true,
                            headerCheckboxSelectionFilteredOnly: true,
                            checkboxSelection: true,
                            width:75,
                            suppressFilter: true,
                            suppressMenu: true,
                        },{ headerName: "Request Date", 
              field: "dtRequestDate",
              width: 140,
              tooltipField: "dtRequestDate",
              filterParams: {
                    comparator: function(filterLocalDateAtMidnight, cellValue) {
                        if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                            return 0;
                        }
                        if (cellValue < filterLocalDateAtMidnight) {
                            return -1;
                        }
                        if (cellValue) {
                            return 1;
                        }
                    },
                    clearButton: true
                },
                menuTabs:['filterMenuTab','generalMenuTab'],
                cellRenderer: function(params){
                    if(params.value=="" || params.value==null)
                        return '-';
                    else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                    else 
                        return '<span ng-bind-html="data.dtRequestDate|date:localeDateFormat: \'UTC\' "></span>';
                },
              filter: "agDateColumnFilter"},
             {headerName: "Request ID", field: "sRequestSerialId",width:130,tooltipField: "sRequestSerialId",
            filter: "agTextColumnFilter",
            menuTabs:['filterMenuTab','generalMenuTab'],
            },
            {headerName: "Pending Approver", field: "sPendingApprover",tooltipField: "sPendingApprover",width: 205, filter: "agTextColumnFilter",menuTabs:['filterMenuTab','generalMenuTab']},
            {headerName: "Promotion Name", field: "sPromotionName",width: 240,tooltipField: "sPromotionName",
            menuTabs:['filterMenuTab','generalMenuTab'],
                cellRenderer: function(params){
                            if(params.value=="" || params.value==null)
                                    return '-';
                            else return '<a href="/apex/HEP_Promotion_Details?promoId=' + params.data.sPromotionId + '&tab=HEP_Promotion_Dates_Dating">' + params.value + '</a>';
                        },
                filter: "agTextColumnFilter"                     
            },
            {headerName: "Weeks to release", field: "iWeeksToRelease",width: 135,tooltipField: "iWeekToRelease", menuTabs:['filterMenuTab','generalMenuTab'],filter: "agSetColumnFilter"},
            {headerName: "Date Type", field: "sDateType",width: 180,tooltipField: "sDateType", menuTabs:['filterMenuTab','generalMenuTab'],filter: "agSetColumnFilter"},
            {headerName: "Region", field: "sRegion",width: 125,tooltipField: "sRegion",menuTabs:['filterMenuTab','generalMenuTab'],filter: "agSetColumnFilter"},
            {headerName: "Language", field: "sLanguage",width: 135,tooltipField: "sLanguage", menuTabs:['filterMenuTab','generalMenuTab'],filter: "agTextColumnFilter"},
            {headerName: "Catalog", field: "sCatalog",width: 120,tooltipField: "sCatalog", menuTabs:['filterMenuTab','generalMenuTab'],filter: "agTextColumnFilter"},
            {headerName: "Current Date", field: "dtDesiredDate",tooltipField: "dtDesiredDate",width: 150,
                filterParams: {
                                comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                                },
                                clearButton: true
                            }, 
              cellRenderer: function(params){
                                if(params.value=="" || params.value==null)
                                    return '-';
                                else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                                else 
                                    return '<span ng-bind-html="data.dtDesiredDate|date:localeDateFormat: \'UTC\' "></span>';
                            },
                            menuTabs:['filterMenuTab','generalMenuTab'],
                filter: "agDateColumnFilter"
            },
            {headerName: "Comments", field: "sCommentsPresent",tooltipField: "sCommentsPresent",width: 120,
            menuTabs:['filterMenuTab','generalMenuTab'],
                cellRenderer: function(params){
                      return $("#commentsModal").html();
                },
                filter: "agSetColumnFilter"
            },
            {headerName: "Requestor", field: "sRequestor",tooltipField: "sRequestor",width: 160, menuTabs:['filterMenuTab','generalMenuTab'],filter: "agSetColumnFilter"}
        ];

        //grid options for the ag grid
        $scope.gridOptions = {
            defaultColDef: {
                filterParams: {clearButton: true}
            },
            domLayout: 'autoHeight',
            rowHeight: 40,
            rowBuffer:10000,
            enableColResize: true,
            enableFilter: true,
            enableSorting : true,
            angularCompileRows: true,
            suppressRowClickSelection: true,
            suppressColumnVirtualisation: true,
            rowSelection: 'multiple',
            popupParent: document.querySelector('body'),
            columnDefs: columnDefs,
            toolPanelSuppressSideButtons: true,
            pagination: true,
            paginationPageSize: 25,
            getRowClass : function(params) {
                if (params.node.rowIndex % 2 != 0) {
                    return 'even-row';
                }
            },
            onGridReady: function() {
                if(window.innerWidth >= 1600) {
                    $scope.gridOptions.api.sizeColumnsToFit();
                }
            },
            onSelectionChanged: onSelectionChanged
        };
        

        //function to capture selected rows
        function onSelectionChanged() {
            $scope.selectedRows = $scope.gridOptions.api.getSelectedRows();
            $scope.gridOptions.api.redrawRows();
        } 

        //function to apply pagination
        $scope.onPageSizeChanged = function(newPageSize) {
            if(newPageSize == 'All') {
                var all = $scope.gridOptions.api.paginationGetRowCount();
                $scope.gridOptions.api.paginationSetPageSize(Number(all));
            }
            else
                $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
        }

        //funtion to select active pagination number
        $scope.selectedPaginationOption= function(index) {
            $scope.selected = index; 
        };

        // call the load data only if this page is tested standalone
        // else call an event on parent to say its loaded
        if(pageName == "HEP_Promotion_MyApprovalsUnlockDates"){
        
            $scope.loadData(true); 
            $scope.singleLoad = true;
        }
        else{
            $scope.$emit('sectionLoader', 'HEP_Promotion_MyApprovalsUnlockDates');
        }

    }
    
  </script>
 
  </body>
</apex:page>