<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false"
    docType="html-5.0" standardStylesheets="false"
    controller="HEP_Approvals_Controller">
    <c:HEP_Navigation_Menu_Component /> 
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body ng-app="PromotionsApp" class="hep-header-fxr">
     <div ng-controller="ApprovalsAppCtrl" ng-cloak="true">
        <div class="minwrap-container approvals-main promotions-master">
             <!--Tab Layout for screens >1280px  -->
            <div class="hep-multi-tabs hep-loaded-content"  ng-if="windowLengths.windowLength1">
                
                    <ul class="list-inline font-regular hep-list">
                        <li ng-class="{'active-tab':activeTab=='masterTab{{$index}}'}" ng-repeat="x in objPendingApprovalsData.lstTabs track by $index">
                            <span class="hep-tab-name" ng-class="{'active-tabline':activeTab=='masterTab{{$index}}'}" tabindex="{{$index}}" ng-click="changeTab(x.sPageName,$event)">{{x.sTabName}}
                             <span class="notifications-cnt" ng-if="x.sTabName=='Budgets'">{{objPendingApprovalsData.iPendingBudget}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Dates'">{{objPendingApprovalsData.iPendingUnlock}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='FAD Override'">{{objPendingApprovalsData.iPendingFAD}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Product Request'">{{objPendingApprovalsData.iPendingProductRequests}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Products'">{{objPendingApprovalsData.iPendingUnlockProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='National Promotions (TPR)'">{{objPendingApprovalsData.iPendingNationalPromoProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Customer Promotions (TPR)'">{{objPendingApprovalsData.iPendingCustomerPromoProducts}}</span>
                            </span> 
                           
                            <span ng-class="{'show-chevron':x.lstSubTabs!=null && x.lstSubTabs.length!=0}"
                            tabIndex="{{$index}}" ng-click="changeTab(x.sPageName,$event)"></span>
                        </li>
                    </ul>
                    <div class="hep-tab-line hep-tab-ease" ng-hide="objPendingApprovalsData.lstTabs.length==0"></div>
                </div>
            

            <!--Tab Layout for screens >=1024px and <= 1280px -->
            <div class="hep-multi-tabs" ng-if="windowLengths.windowLength2 || windowLengths.windowLength3">
                    
                    <ul class="list-inline font-regular hep-list"> 
                        <li
                            ng-repeat="x in objPendingApprovalsData.lstTabs | limitTo:5 track by $index "
                            ng-class="{'active-tab':activeTab=='masterTab{{$index}}'}">
                            <span ng-class="{'active-tabline':activeTab=='masterTab{{$index}}'}" ng-click="changeTab(x.sPageName,$event)" class="hep-tab-name" tabindex="{{$index}}">{{x.sTabName}}
                            <span class="notifications-cnt" ng-if="x.sTabName=='Budgets'">{{objPendingApprovalsData.iPendingBudget}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Dates'">{{objPendingApprovalsData.iPendingUnlock}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='FAD Override'">{{objPendingApprovalsData.iPendingFAD}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Product Request'">{{objPendingApprovalsData.iPendingProductRequests}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Products'">{{objPendingApprovalsData.iPendingUnlockProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='National Promotions (TPR)'">{{objPendingApprovalsData.iPendingNationalPromoProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Customer Promotions (TPR)'">{{objPendingApprovalsData.iPendingCustomerPromoProducts}}</span>
                            </span>
                           
                           
                        </li>
                        <li ng-show="objPendingApprovalsData.lstTabs.length>5" ng-class="{'active-tab':tabIndexOnload>=5}"> 
                         <span class="hep-tab-name" tabIndex="5" ng-class="{'active-tabline':tabIndexOnload>=5}" >More </span>
                        <span class="show-chevron" tabIndex="5"></span>
                            <div class="hep-sub-tabs more-links" style="display: none"
                                click-outside="closeSubLinks()" outside-if-not="hep-sub-tabs">
                                <ul>
                                    <li
                                        ng-repeat="x in objPendingApprovalsData.lstTabs | tabLinks:5 track by $index"
                                        ng-class="{'show-active-st':selectedTab==x.sPageName}">
                                        <span ng-click="changeTab(x.sPageName,$event);showActiveSt=!showActiveSt">{{x.sTabName}}
                                        <span class="notifications-cnt" ng-if="x.sTabName=='Budgets'">{{objPendingApprovalsData.iPendingBudget}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Dates'">{{objPendingApprovalsData.iPendingUnlock}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='FAD Override'">{{objPendingApprovalsData.iPendingFAD}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Product Request'">{{objPendingApprovalsData.iPendingProductRequests}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Unlock Products'">{{objPendingApprovalsData.iPendingUnlockProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='National Promotions (TPR)'">{{objPendingApprovalsData.iPendingNationalPromoProducts}}</span>
                            <span class="notifications-cnt" ng-if="x.sTabName=='Customer Promotions (TPR)'">{{objPendingApprovalsData.iPendingCustomerPromoProducts}}</span>
                                        </span></li>
                                </ul>
                            </div>
                        </li> 
                    </ul> 
                    <div class="hep-tab-line hep-tab-ease" ng-hide="objHeader.lstTabs.length==0"></div>
                </div>
                
                <div ng-show="noApprovals">
                    <div class="zero-state">
                        <div>
                            <span class="glink-icon"></span><span>There are no pending approvals assigned to you</span>
                        </div>
                    </div>
                </div>
                
            <div ng-if="currentTab != '' && currentTab != null">

                <apex:include pageName="HEP_Promotion_MyApprovalsBudget"
                    rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsBudget'] == 'TRUE'}" />
                <apex:include pageName="HEP_Promotion_MyApprovalsUnlockDates"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsUnlockDates'] == 'TRUE'}" />
                <apex:include pageName="HEP_Promotion_MyApprovalsFADDates"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsFADDates'] == 'TRUE'}" />
                <apex:include pageName="HEP_Promotion_MyApprovalsProductRequests"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsProductRequests'] == 'TRUE'}" /> 
                <apex:include pageName="HEP_Promotion_MyApprovalsUnlockProducts"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsUnlockProducts'] == 'TRUE'}" />
                <apex:include pageName="HEP_Promotion_MyApprovalsNational"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsNational'] == 'TRUE'}" />
                <apex:include pageName="HEP_Promotion_MyApprovalsCustomer"
                        rendered="{!mapPageAccess['HEP_Promotion_MyApprovalsCustomer'] == 'TRUE'}" />
            </div>
            </div>
            <div class="minwrap-container promotions-master ph-master-anim">
                <div class="loading-bar"></div>
                <div class="hep-multi-tabs">
                    <ul class="list-inline font-regular">
                        <li ng-repeat="x in phData.tabInfo track by $index"
                            class="show-anim cp-promheader-10"></li>
                    </ul>
                </div>
            </div>

          
        </div>
        <script>
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
            agGrid.initialiseAgGridWithAngular1(angular);
            var tabName = "{!$CurrentPage.parameters.tab}";
            
            var recId = "{!$CurrentPage.parameters.RecId}";
            
            if (typeof app !== 'undefined') { 
        
                app.requires.push('ngSanitize');
                app.requires.push('ui.bootstrap');
                app.requires.push('angular-click-outside');
                app.requires.push('agGrid');
            } else
                var app = angular.module("PromotionsApp", ['ngSanitize', 'ui.bootstrap', 'angular-click-outside', 'agGrid']);
            
            //var app = angular.module("PromotionsApp", ['ngSanitize', 'ui.bootstrap', 'angular-click-outside','agGrid']);
            app.controller("ApprovalsAppCtrl", approvalsAppCtrl);

            /*Defining the service*/
            function getData_HEP_Approvals($q) {
                /*Method to get the details of the header*/
                var loadData = function() {
                    var deferred = $q.defer();
                    
                    // Calling the apex controller method to get the order details
                    HEP_Approvals_Controller.getPendingApprovalRecordsData(
                        function(result, event) {
                            if (event.status) {
                                deferred.resolve(result);
                            } else {
                                deferred.reject(
                                    'Error Processing the Request :  ' +
                                    event.message);
                            }
                        }, {
                            escape: false
                        });
                    return deferred.promise;
                }
            return {
                loadData: loadData,
            };
        }

        app.factory('getData_HEP_Approvals', getData_HEP_Approvals);

        function approvalsAppCtrl($scope,$filter, getData_HEP_Approvals,$timeout,$rootScope){
            //Menu Component load function
            $(".hep-navbar").fadeIn();
            
            $scope.displayBackButton={
                 "displayText":"My Approvals"
             }
            
            $rootScope.$broadcast('displayBackButton',$scope.displayBackButton);
            
            $scope.activeTabName = tabName == '' ? 'Budgets': tabName;
            $scope.noApprovals = false;
            /*Dummy data for placeholder css*/
            $scope.phData = {
                "promInfo": new Array(5),
                "tabInfo": new Array(7)
            }
            
            /**
             * Boolean variables to switch between different tab layouts for responsive behaviour
             **/
            $scope.windowLengths = {
                "windowLength1": true,
                "windowLength2": false,
                "windowLength3": false
            };
            
            /**
             * Method to calculate the window size for responsive behaviour
             **/
            $scope.fetchTabLayout = function() {
                var screenVar = $(window).innerWidth(); 
                if (screenVar < 1024 || screenVar >= 1440) {
                    if (screenVar < 1024) $(".minwrap-container").css("width", "1440px");
                    else if (screenVar >= 1440) $(".minwrap-container").css("width", "100%");
        
                    $scope.windowLengths = {
                        "windowLength1": true,
                        "windowLength2": false,
                        "windowLength3": false
                    };
                } else if (screenVar >= 1024 && screenVar < 1280) {
                    $(".minwrap-container").css("width", "100%");
                    $scope.windowLengths = {
                        "windowLength1": false,
                        "windowLength2": false,
                        "windowLength3": true
                    };
                } else if (screenVar >= 1280 && screenVar < 1440) {
                    $(".minwrap-container").css("width", "100%");
                    $scope.windowLengths = {
                        "windowLength1": false,
                        "windowLength2": true,
                        "windowLength3": false
                    };
                }       
            }
            
             /**
             * Method called on window resize 
             **/
            $(window).resize(function() {
                $timeout(function() {
                    $(".hep-sub-tabs").hide();
                    $scope.fetchTabLayout();
                });
        
            }); 
            if(tabName != undefined && tabName != null && tabName != ''){
                if(tabName == 'Budgets'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsBudget';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsBudget';
                }
                else if(tabName == 'Unlock Dates'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsUnlockDates';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsUnlockDates';
                    
                }
                else if(tabName == 'FAD Dates'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsFADDates';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsFADDates';
                    
                }
                else if(tabName == 'Product Request'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsProductRequests';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsProductRequests';
                    
                }
                else if(tabName == 'Unlock Products'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsUnlockProducts';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsUnlockProducts';
                }
                else if(tabName == 'National Promotions (TPR)'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsNational';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsNational';
                }
                else if(tabName == 'Customer Promotion (TPR)'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsCustomer';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsCustomer';
                }
            }
            else {
                var listOfTabs = {!sHeaderTabs};
                
                if(listOfTabs[0] == 'Budgets'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsBudget';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsBudget';
                }
                else if(listOfTabs[0] == 'Unlock Dates'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsUnlockDates';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsUnlockDates';
                    
                }
                else if(listOfTabs[0] == 'FAD Dates'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsFADDates';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsFADDates';
                    
                }
                else if(listOfTabs[0] == 'Product Request'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsProductRequests';
                    $scope.selectedTab = 'HEP_Promotion_MyApprovalsProductRequests';
                    
                }
                else if(listOfTabs[0] == 'Unlock Products'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsUnlockProducts';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsUnlockProducts';
                }
                else if(listOfTabs[0] == 'National Promotions (TPR)'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsNational';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsNational';
                }
                else if(listOfTabs[0] == 'Customer Promotion (TPR)'){
                    $scope.currentTab = 'HEP_Promotion_MyApprovalsCustomer';
                $scope.selectedTab = 'HEP_Promotion_MyApprovalsCustomer';
                }
            } 
                
            $scope.fetchTabLayout();
            $scope.loadData=function(bInitialLoad){

                    // Showing animation or spinner depending on whether its initial load or not
                hideShowProgress(bInitialLoad, true);

                 var promise = getData_HEP_Approvals.loadData();

                 promise.then(function(obj) {
                    showConsoleLog(obj);
                    $scope.objPendingApprovalsData = obj;
                    $scope.objPendingApprovalsData.lstTabs = {!sHeaderTabs};
                    if($scope.objPendingApprovalsData.lstTabs.length == 0)
                        $scope.noApprovals = true;

                     // If there are tabs
                    if ($scope.objPendingApprovalsData.lstTabs != null && $scope.objPendingApprovalsData.lstTabs.length > 0 && bInitialLoad && tabName=='') {
                        $scope.currentTab = $scope.objPendingApprovalsData.lstTabs[0].sPageName;
                    }
                     //$scope.gridOptions.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                    
                    // Hiding animation or spinner depending on whether its initial load or not
                    hideShowProgress(bInitialLoad, false);
                    $scope.loadTabOnload();
                },function(reason){
                            alert('Error : ' + reason);
                            throw reason;
                            
                     },[]); 


            }   
            
             /**
             * Method to close the tab sub links on outside click
             **/
            $scope.closeSubLinks = function() {
                angular.element(".hep-sub-tabs").css("display", "none");
        
            }
            
             $scope.loadTabOnload=function(){
                                    
                    if($scope.objPendingApprovalsData.lstTabs!=null && $scope.objPendingApprovalsData.lstTabs.length > 0){
                       var flagCheck=false,
                           tabOnLoad='',
                           tabIndexOnload=0;
                        angular.forEach($scope.objPendingApprovalsData.lstTabs,function(value,index){
                              
                              if(value.sPageName==$scope.currentTab && !flagCheck){ 
                                  flagCheck=true;
                                  tabOnLoad=value.sTabName;
                                  tabIndexOnload=index;
                                 
                              }
                          }); 
                        $scope.activeTab='masterTab'+tabIndexOnload;
                        $scope.tabIndexOnload=tabIndexOnload;
                         
                           
                    }
            }
                
            $scope.loadData(true);
                
            // lister event to listen to see if the child controllers are loaded
            // once loaded to call its load data if its the selected tab to be displayed
            $scope.$on('sectionLoader', function(event, data) {
                if ($scope.currentTab == data) {
                    $scope.$broadcast(data, 'load');
                }
            });
                
            // this is the return event called after save on child
            // if user moves from tab A to B. A event is called for save.
            // if the save is successfull it calls back this event in parent
            $scope.$on('navigateNext', function(event, data) {
                $scope.currentTab = $scope.selectedTab;
                $scope.$broadcast($scope.currentTab, 'load');
            });    
            
            //to get the pending approval count for each tab -starts
            $scope.$on('budgetApprovalCount', function (event, data) {
                $scope.objPendingApprovalsData.iPendingBudget = data;
            });

            $scope.$on('unlockDatesApprovalCount', function (event, data) {
                $scope.objPendingApprovalsData.iPendingUnlock = data;
            });

            $scope.$on('FADDatesApprovalCount', function (event, data) {
                $scope.objPendingApprovalsData.iPendingFAD = data;
            });
            
            $scope.$on('unlockProductsApprovalCount', function (event, data) {
                $scope.objPendingApprovalsData.iPendingUnlockProducts = data;
            });

            $scope.$on('productRequestsApprovalCount', function (event, data) {
                $scope.objPendingApprovalsData.iPendingProductRequests = data;
            });
            
            $scope.$on('nationalApprovalCount',function(event, data){
                $scope.objPendingApprovalsData.iPendingNationalPromoProducts = data;
            });
            $scope.$on('customerApprovalCount',function(event, data){
                $scope.objPendingApprovalsData.iPendingCustomerPromoProducts = data;
            });

            
            //to get the pending approval count for each tab -ends
            
            $scope.changeTab = function(selectedTab,event) {
               var eventCopy=event.currentTarget.innerText;
             
                $scope.selectedTab = selectedTab;
               
                // if the user moves to a diffrent tab
                // calles the event on child with param to navigate
                if ($scope.currentTab != $scope.selectedTab) {
                    $scope.$broadcast($scope.currentTab, 'navigate');
                 
                }
             
            }       
                
        }
                 

        // directive to implement the multi tabs functionality     
        app.directive('hepMultiTabs', function($timeout) {
            return {
                restrict: 'C',
                link: function(scope, elem, attrs) {
                    var listMenu = elem.find("ul.hep-list");
                    //$timeout(function() {
                     
                        
                      
                        var lineItem = elem.find(".hep-tab-line");
                           lineItem.css("display","none");
                          
                        $("ul.hep-list").on('click','li span.show-chevron',function(e){
                              
                              var lineItemOL=$(".active-tabline").offset().left;
                                   lineItem.css({
                                       "left":lineItemOL
                                   });
                               $(".active-tabline").css("border-bottom","none");
                              lineItem.css("display","block");
                             elem.find(".show-chevron").removeClass("active-chevron");
                            angular.element(this).addClass("active-chevron");
                              var tabItems = listMenu.children();
                                 
                        
                            tabItems.removeClass("active-tab");
                            var leftValue = parseInt(0);
                            if (tabItems.length > 0) {
                                for (x in tabItems) {
                                    if (x == e.target.tabIndex) {
                                        break;      
                                    }
                                    //adding the margin-right value 
                                     var marginRight=parseInt((angular.element(this).closest("li").css("margin-right")).split("px")[0]);
                                    leftValue += tabItems[x].clientWidth + marginRight;      
                                }
                            }
                          
                            angular.element(this).closest("li").addClass("active-tab");
                            var elemWidth = angular.element(this).closest("li").width();  
                            lineItem.css({
                                "left": leftValue + 40,
                                "width": elemWidth
                            });
                           
                       
                             var currentSubTab1=angular.element(this).next(".hep-sub-tabs");
                                listMenu.find(".hep-sub-tabs").hide();
                              if (currentSubTab1.is(":visible") == false) {
                                
                                if (currentSubTab1.find("ul").children().length) {
                                   
                                    currentSubTab1.fadeIn(400);
                                    
                                   return false;
                                }
                             
                            }
                         });
                        
                        $("ul.hep-list").on('click', 'li span.hep-tab-name', function(e) {
                             

                            var lineItemOL=$(".active-tabline").offset().left;
                        lineItem.css({
                            "left":lineItemOL
                            });
                          $(".active-tabline").css("border-bottom","none");
                          lineItem.css("display","block");            
                           elem.find(".show-chevron").removeClass("active-chevron");
                            var tabItems = listMenu.children();
                            tabItems.removeClass("active-tab");
                            var leftValue = parseInt(0);
                            if (tabItems.length > 0) {
                                for (x in tabItems) {
                                    if (x == e.target.tabIndex) {
                                        break;      
                                    }
                                    //adding the margin-right value (22px)
                                      var marginRight=parseInt((angular.element(this).closest("li").css("margin-right")).split("px")[0]);
                                    leftValue += tabItems[x].clientWidth + marginRight;       
                                }
                            }
                          angular.element(this).closest("li").addClass("active-tab");
                            var elemWidth = angular.element(this).closest("li").width(); 
                            lineItem.css({
                                "left": leftValue + 40,
                                "width": elemWidth
                            });
           
                        });
                   // }); // $timeout method
                }
            };      
        });
        
         //filter to retrieve the tabs which doesn't have sub links so that the tab names are displayed under more
        
        app.filter('tabLinks', function() {
            return function(input, start) {
                if (input) {
                    var inputArray = [],
                        input = input.slice(start);
        
                    for (x = 0; x < input.length; x++) {
                        if (!(input[x] && input[x].subTabName && input[x].subTabName.length > 0)) {
                            inputArray.push(input[x]);
                        }       
                    }
        
                    //input=inputArray;
                    return inputArray;
                }
                return [];      
            }
        });
        
    </script>
    </body>
</apex:page>