<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_Promotion_MyApprovalsController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body ng-app="PromotionsApp">
    <div ng-controller="HEP_Promotion_MyApprovalsProductRequest_Ctrl" class="minwrap-container approvalProductReq approval-dates" ng-cloak="true">
        <div ng-if="singleLoad==true || selectedTab ==true" class="mainContainerApprovals">        
            <div class="hep-loaded-content"  style="display: none;">
                <div ng-hide="noApprovals">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingZero">
                            <span class="warningImage"></span><label class="subHeader">{{objPendingApprovalsData.iNoOfPendingApprovals}} Pending Approvals assigned to you</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  paddingZero text-right marginBottom5 hep-flex-right">
                            <button ng-click="editMode=true;" ng-hide="editMode" class="hep-btn" ng-show="bShowEdit == 'TRUE'">Edit</button>
                            <button class="marginLeft15" ng-hide="editMode" ng-if="typeSelected == 'Shared'" ng-class="!selectedRows.length ? 'hep-disabled' : 'hep-btn'" ng-disabled="selectedRows.length==0" ng-click="openApproveModal()" ng-show="bShowApprove == 'TRUE'">Approve</button>
                            <button class="marginLeft15" ng-hide="editMode" ng-if="typeSelected == 'Shared'" ng-class="!selectedRows.length ? 'hep-disabled' : 'hep-btn-border'" ng-disabled="selectedRows.length==0" ng-click="openRejectModal()" ng-show="bShowReject == 'TRUE'">Reject</button>
                            <span class="marginLeft10" ng-show="!editMode && typeSelected == 'Shared'"><a class="pull-right pointer-cursor" ng-click="onSharedButtonExport();">Export </a><span class="hep-export-icon pull-right"></span></span>
                            <span class="marginLeft10" ng-show="!editMode && typeSelected == 'Price'"><a class="pull-right pointer-cursor" ng-click="onPriceButtonExport();">Export </a><span class="hep-export-icon pull-right"></span></span>
                            <a class="pointer-cursor cancelLink marginRight15" ng-show="editMode" ng-click="editMode=false; loadData(false)">Cancel</a>
                            <button type="button" class="hep-btn-border" ng-show="editMode" ng-click="saveData(objPendingApprovalsData); loadData(true); editMode=false">Save</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right paddingZero">
                            <div class="marginBottom10"><span ng-repeat="type in types track by $index" class="totalItems pointer-cursor" ng-class="{active: typeSelected == type,  typeSeparator: ($index !==  (types.length - 1) )  }" ng-click="typeChange(type)">{{type}}</span></div>
                        </div>
                    </div>
                    <div class="row" ng-show="typeSelected == 'Boxset Component'">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div ag-grid="gridOptionsBoxset" class="ag-theme-material RA-table-top"></div>
                            <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
                        </div>
                    </div>
                    <div class="row" ng-show="typeSelected == 'Price'">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div ag-grid="gridOptions" class="ag-theme-material RA-table-top"></div>
                            <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
                        </div>
                    </div>
                    <div class="row" ng-show="typeSelected == 'Shared'">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div ag-grid="gridOptionsShared" class="ag-theme-material RA-table-top"></div>
                            <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
                        </div>
                    </div>
                </div> 
                <div ng-show="noApprovals">
                    <div class="zero-state">
                    <div>
                        <span class="glink-icon"></span><span>There are no pending approvals assigned to you</span>
                    </div>
                    </div>
                </div> 
            </div> 

            <!-- Animation tab starts -->
            <div class="minwrap-container ph-master-anim">
                    <div class="row paddingTop27">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paddingZero">
                            <label class="promotionDetailsHeader marginBottom17"><div class="show-anim pd-header"></div></label>
                           
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                            <div class="form-group">
                                <div class="show-anim pd-header"></div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                            <div class="form-group">
                                <div class="show-anim pd-header"></div>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="separator"></div>
                    </div>
            
                    <div class="clearfix"></div>
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <div>
                            <div class="ph-master-anim-rights">
                                <table class="table-anim">
                                    <thead>
                                        <th class=""><span class="dgs-anim-2 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        <th class=""><span class="dgs-anim-1 show-anim nmrgn-right"></span><span class="dgs-anim-2 show-anim mrgn-spcfr"></span></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in phData.tableInfo track by $index">
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            <td class=""><span class="dgs-anim-3 show-anim"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Animation tab ends-->

            <!-- modal pop up for approve button-->
                <div class="hep-modal-overlay" ng-cloak="true" ng-show="showUnlockDatesApproveModal">
                    <div class="hep-modal">
                        <div class="hep-close-icon" ng-click="closeApproveModal()"></div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            <div>Are you sure you want to approve these <b ng-repeat="x in selectedRows"> {{x.sRequestSerialId}}, </b> ?</div>
                            <div class="text-right marginTop">
                                <a class="pointer-cursor cancelLink marginRight15" ng-click="closeApproveModal()">Cancel</a>
                                <button class="hep-btn" ng-click="approveReject(true);closeApproveModal()">Yes, Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- modal pop up for aprrove button-->

            <!-- modal pop up for reject button-->
                <div class="hep-modal-overlay" ng-cloak="true" ng-show="showUnlockDatesRejectModal">
                    <div class="hep-modal" ng-form="rejectModalForm">
                        <div class="hep-close-icon" ng-click="closeRejectModal()"></div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            <div>You are rejecting Product request<b ng-repeat="x in selectedRows"> {{x.sRequestSerialId}}, </b></div>
                            <div class="marginTop">*Please add a reason below</div>
                            <textarea name="rejectCommentsArea" ng-required="true" ng-model="objPendingApprovalsData.sRejectComments" class="form-control hep-comments" rows="5" ></textarea>
                            <div class="text-right marginTop">
                                <a class="pointer-cursor cancelLink marginRight15" ng-click="closeRejectModal();">Cancel</a>
                                <button ng-disabled="rejectModalForm.$invalid" ng-class="rejectModalForm.$invalid ? 'hep-disabled' : 'hep-btn'" ng-click="approveReject(false);closeRejectModal();">Yes, Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- modal pop up for reject button--> 
           
           <!-- Comments modal pop up -->
            <template id="commentsModal">
                <a ng-click="openCommentsModal(data.sComments);" class="pointer-cursor">{{data.sCommentsPresent}}</a>

                
            </template>
            <div class="hep-modal-overlay" ng-cloak="true" ng-show="showCommentsModal">
                    <div class="hep-modal">
                        <div class="marginBottom17">
                            <div class="subHeader left-float">Comments</div>
                            <div class="right-float">
                                <div class="hep-close-icon marginTop10 left-float" ng-click="closeCommentsModal()"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hep-add-scroll-bar content-section">
                            {{commentsDesc}}
                        </div>
                    </div>
                </div>
            <!-- Comments modal pop up -->
            
            <!-- template to make price grade editable-->
            <template id="priceGrade">
                <span ng-if="!editMode" title="{{data.objPriceGradeRecord.sValue}}">{{data.objPriceGradeRecord.sValue}}</span>
                <select ng-model="data.objPriceGradeRecord.sKey" ng-if="editMode" class="width100 agGridSelectPadding hep-tabbing" ng-change="data.bIsEdited=true;updateModel(data.objPriceGradeRecord,data);" >
                    <option title="{{option.sValue}}" ng-repeat="option in data.lstfinalPriceGrade track by $index" value="{{option.sKey}}">{{option.sValue}}</option>
               </select>
            </template>
            
            <!-- template for sku picklist of boxset component-->
            <template id="modelSKUTemplate">
                <span ng-if="!editMode" title="{{data.sModelSKUValue }}">{{data.sModelSKUValue }}</span>
                <select ng-if="editMode" class="Input-Field  pointer-cursor hep-tabbing" style="padding : 0px 10px;" ng-model="data.sModelSKUIdBoxset" ng-change="onModelSKUChange(data)">
                    <option value="" style="display:none;"></option>
                    <option ng-selected="data.sModelSKUIdBoxset  == option.Id" ng-repeat="option in data.lstModelSku" 
                    value="{{option.Id}}">{{option.modelValue}}</option>
                </select>
            </template>
            
            <!-- template to make units editable-->
            <template id="units">
                <input ng-if="editMode" type="text" class="Input-Field Input-Field-agGrid hep-tabbing" ng-change="data.bIsEdited=true" ng-model="data.sUnits" show-decimals ="false" hep-validate-number="true" is-Currency="false"  />
                <span ng-if="!editMode">{{data.sUnits}}</span>
            </template>
            
            <!-- template to make SKU # editable-->
            <template id="SKUNumber">
                <span>{{data.sSKUNumber}}</span>
                <!--<input ng-if="editMode" type="text" class="Input-Field Input-Field-agGrid" ng-change="data.bIsEdited=true" ng-model="data.sSKUNumber" />-->
            </template>
            
            <!-- template to make SKU Name editable-->
            <template id="SKUName">
                <input ng-if="editMode" type="text" class="Input-Field Input-Field-agGrid hep-tabbing" ng-change="data.bIsEdited=true" ng-model="data.sSKUName"  />
                <span ng-if="!editMode">{{data.sSKUName}}</span>
            </template>
            
            <!-- template to make Model SKU # editable-->
            <template id="ModelSKUNumber">
                <span ng-if="!editMode">{{data.sModelSKUNumber}}</span>
                <!--<input ng-if="editMode" type="text" class="Input-Field Input-Field-agGrid" ng-change="data.bIsEdited=true" ng-model="data.sModelSKUNumber" />-->
                <input ng-if="editMode" type="text"
                         class="Input-Field Input-Field-agGrid pointer-cursor hep-tabbing" ng-model="data.sModelSKUNumber" 
                        required="required" typeahead-on-select="onSKUNumberChange($item,data);data.bIsEdited=true" typeahead-editable="false" typeahead-append-to-body="true"
                        uib-typeahead="x.sModelSKUNumber for x in typeAheadSKUNumber($viewValue,data)" typeahead-min-length="3"/>
            </template>
            
            <!-- template to make Same Base UPC editable-->
            <template id="SameBaseUPC">
                <span ng-if="!editMode">{{data.sSameBaseUPC}}</span>
                <select ng-if="editMode" ng-model="data.sSameBaseUPC" ng-change="data.bIsEdited=true" class="Input-Field Input-Field-agGrid paddingZero hep-tabbing">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </template>
            
            <!-- template to make Channel editable-->
            <template id="Channel">
                <span ng-if="!editMode">{{data.sChannel}}</span>
                <select class="Input-Field pointer-cursor paddingZero hep-tabbing" ng-change="data.bIsEdited=true;onChannelChange(data)" ng-if="editMode" ng-model="data.sChannel">
                    <option ng-repeat="option in data.lstChannels track by $index" value="{{option.sValue}}">{{option.sValue}}</option>
                    <option ng-repeat="x in getInactiveMap('FOX_CHANNEL',data.sChannel) |filter:{sName:data.sChannel} : true" value="{{x.sName}}" disabled="true">{{x.sValue}}</option>
                </select>
            </template>
            
            <!-- template to make Format editable-->
            <template id="Format">
                <span ng-if="!editMode">{{data.sFormat}}</span>
                <select ng-if="editMode" class="Input-Field pointer-cursor paddingZero hep-tabbing" ng-change="data.bIsEdited=true" ng-model="data.sFormat">
                    <option ng-repeat="option in data.lstFormatsTemp track by $index" value="{{option.sValue}}">{{option.sValue}}</option>
                </select>
            </template>
            
            <!-- template to make SKU COnfg editable-->
            <template id="SKUConfig">
                <span ng-if="!editMode">{{data.sSKUConfig}}</span>
                <select class="Input-Field pointer-cursor paddingZero hep-tabbing" ng-if="editMode" ng-change="data.bIsEdited=true" ng-model="data.sSKUConfig">
                    <option ng-repeat="option in data.lstConfigurations track by $index" value="{{option.sKey}}">{{option.sValue}}</option>
                    <option ng-repeat="x in getInactiveMap('FOX_SKU_CONFIGURATION',data.sSKUConfig)|filter:{sValue:data.sSKUConfig} : true" value="{{x.sValue}}" disabled="true">{{x.sName}}</option>
                </select>
            </template>
            
            <!-- template to make Revenue Share editable-->
            <template id="RevenueShare">
                <span ng-if="!editMode">{{data.sRevenueShare}}</span>
                <select ng-if="editMode" ng-model="data.sRevenueShare" ng-change="data.bIsEdited=true" class="Input-Field Input-Field-agGrid paddingZero hep-tabbing">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </template>
            
            <!-- template to make Customer editable-->
            <template id="Customer">
                <span ng-if="!editMode">{{data.sCustomers}}</span>
                <script type="text/ng-template" id="myPopoverTemplateEST">
                <div>
                <div><input type="text" class="search-input marginBottom5 hep-tabbing" ng-model="regionObj.searchInputText" placeholder="{{regionObj.placeholder}}"/></div>
                    <div class="multiselect-popover hep-add-scroll-bar" click-outside="data.ESTModal = !data.ESTModal" outside-if-not="hep-multi-select,remove-value,search-input">
                        <div ng-repeat="x in data.lstCustomerPicklist | filter: {sValue:regionObj.searchInputText} as filteredRegions track by $index" >
                            <input type="checkbox" tabindex="3" id="region_{{$index}}" ng-checked="x.bSelected" ng-model="x.bSelected" ng-change="customerList(data.lstCustomerPicklist);data.bIsEdited=true"/>
                            <label for="region_{{$index}}" hepregion="{{x}}">{{x.sValue}}</label>
                        </div>
                        <div ng-if="filteredRegions.length==0">No Matching Results found</div>
                    </div>
                </div>
                </script>
                <div  ng-if="editMode" class="form-control" popover-style="hep-add-scroll-bar" popover-placement="bottom" ng-click="data.ESTModal = !data.ESTModal" popover-append-to-body="true"  uib-popover-template="'myPopoverTemplateEST'" popover-is-open="data.ESTModal">
                    <!--<div class="selected-value-list">-->
                    
                        <div ng-repeat="x in customersList = (data.lstCustomerPicklist  | filter:{bSelected:true}) track by $index">
                        <!--<span class="remove-value" selectedRegion="{{x}}" ng-click="popUpRegion(x)"><span>-->
                        </div>
                        <span class="product-ct" title="{{title}}">{{customersList.length | number }} customers selected</span>
                    <!--</div>  -->
                    
                 </div>   
            </template>
            
            <!-- template to make Compilation editable-->
            <template id="SKUCompilation">
                <span ng-if="!editMode">{{data.sSKUCompilation}}</span>
                <select class="Input-Field pointer-cursor paddingZero hep-tabbing" ng-if="editMode" ng-change="data.bIsEdited=true" ng-model="data.sSKUCompilation">
                    <option ng-selected="data.sSKUCompilation == option.sValue" ng-repeat="option in data.lstCompilations track by $index" 
                    value="{{option.sKey}}">{{option.sValue}}</option>
                    <option ng-repeat="x in getInactiveMap('FOX_SKU_COMPILATION',data.sSKUCompilation)|filter:{sValue:data.sSKUCompilation} : true" value="{{x.sValue}}" disabled="true">{{x.sName}}</option>
                </select>
            </template>
            
            <!-- template to make sSKUPermanentRange editable-->
            <template id="SKUPermanentRange">
                <span ng-if="!editMode">{{data.sSKUPermanentRange}}</span>
                <select class="Input-Field pointer-cursor paddingZero hep-tabbing" ng-if="editMode" ng-change="data.bIsEdited=true" ng-model="data.sSKUPermanentRange">
                    <option ng-selected="data.sSKUPermanentRange == option.sValue" ng-repeat="option in data.lstPermanentRanges track by $index" 
                    value="{{option.sKey}}">{{option.sValue}}</option>
                    <option ng-repeat="x in getInactiveMap('FOX_SKU_PERMANENT_RANGE',data.sSKUPermanentRange)|filter:{sValue:data.sSKUPermanentRange} : true" value="{{x.sValue}}" disabled="true">{{x.sName}}</option>
                </select>
            </template>
            
            
        </div>    
    </div>
    
   
  <script>
    //initialising ag-grid and the angular module
    agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey); 
    agGrid.initialiseAgGridWithAngular1(angular);
    var sReqNo = "{!$CurrentPage.parameters.reqId}";
    var pageName = "{!$CurrentPage.name}";
    if (app) {
        } 
    else        
    var app = angular.module('PromotionsApp', ['agGrid','ngAnimate', 'ngSanitize', 'ui.bootstrap']);

    app.directive('hepValidateNumber', hepValidateNumberDirective);
    app.controller("HEP_Promotion_MyApprovalsProductRequest_Ctrl", HEP_Promotion_MyApprovalsProductRequest_Ctrl);
  
    /**
      * Defining the service
      **/
     function getData_HEP_Promotion_MyApprovalsProductRequests($q) {
     
        /* Method to get approval records */
         var getApprovalRecords = function() {
             var deferred = $q.defer();
            
             HEP_Promotion_MyApprovalsController.getPendingApprovalRecordsData('Product Request',
                 function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }
     
         /*Method to set or unset promotions*/
         var approveRejectRecords = function(approveReject, setIds, Comments) {
             var deferred = $q.defer();
             
             HEP_Promotion_MyApprovalsController.approveRejectRecords(approveReject, setIds, Comments, 
              function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }

         //search with sku number
            var searchSKUs = function(sSearchString, sTerritoryId) {
                var deferred = $q.defer();
                HEP_Promotion_MyApprovalsController.searchSKUs(sSearchString, sTerritoryId, function(result, event) {
                    if (event.status) {
                        deferred.resolve(result);
                    } else {
                        deferred.reject('Error Occurred ' + event.message);
                    }
                }, {
                    escape: false
                });
                return deferred.promise;
            }
         
         //Save Records
            var saveData = function(objApprovalRecordSave){
                var deferred = $q.defer();
                HEP_Promotion_MyApprovalsController.saveData(objApprovalRecordSave , function(result,event){
                    if(event.status)
                    {
                        deferred.resolve(result);
                    }
                    else
                    {
                        deferred.reject('Error Processing the Request :  ' + event.message);
                    }
                },{escape:false});
                
                return deferred.promise;
            }
                 
         return {
             getApprovalRecords: getApprovalRecords,
             approveRejectRecords: approveRejectRecords,
             searchSKUs: searchSKUs,
             saveData: saveData
         };
     }

     app.factory('getData_HEP_Promotion_MyApprovalsProductRequests', getData_HEP_Promotion_MyApprovalsProductRequests);
    //controller method
    function HEP_Promotion_MyApprovalsProductRequest_Ctrl($scope,$timeout,getData_HEP_Promotion_MyApprovalsProductRequests){
        $scope.singleLoad = false;
        $scope.selectedTab = false;
        $scope.showCommentsModal=false;
        $scope.localeDateFormat =  sLocaleDateFormat;
        $scope.numberFormat = sLocaleNumberFormat;
        $scope.numberFormat.iNoOfDecimalPlaces = 0;
        //$scope.sCurrencyFormat = sCurrencyFormat; 
        //$scope.numberFormat = sLocaleNumberFormat; 
        $scope.paginationArray = [25,50,100,'All'];
        $scope.types = ['Shared','Price','Boxset Component']
        $scope.noApprovals = false;
        $scope.selected = 0;
        $scope.typeSelected = 'Shared';
        $scope.editMode = false;
        $scope.selectedRows = 0;
        $scope.lstSKUModel = [];
        $scope.inactiveSelectOptions = mapInactiveLOVSelectOptions;
        // one lister event for each child tab that handles 
        // load, save, navigate
         $scope.$on('HEP_Promotion_MyApprovalsProductRequests', function(event, data) {
            
            if(data == 'load'){
                $scope.loadData(true);
                // $timeout(function(){
                //     $scope.loadBoxsetData();
                // });
                $scope.selectedTab = true;
            }
            else if(data == 'navigate'){
                $scope.$emit('navigateNext', '');
                $scope.selectedTab = false;
            }
        });

        //dummy data for placeholder animation  
        $scope.phData = {
            "tableInfo": new Array(9)
        }

        //Responsiveness check - Starts
        fetchWindowSize();

        $(window).resize(function() {
            $timeout(function() {
                fetchWindowSize();
            });

        });
        //Responsiveness check - Ends
        
        
        //function match priceGrade
        $scope.selectPriceGrade = function(data) {
            angular.forEach(data.lstTerritoryPriceGrades,function(record){
                if(data.sPriceRegionFilter == record.Price_Filter__c){
                    var object = {"sKey":record.Id,"sValue":record.PriceGrade__c};
                    data.lstfinalPriceGrade.push(object);
                }
                
            });
        }
        
        //assigning inactive values of LOV object for the particular region
        $scope.getInactiveMap = function(type,channel){
            var objectName = type+channel;
   		    return $scope.inactiveSelectOptions[objectName];
    	}
    	
    	
        	
        //to update object price grade
        $scope.updateModel = function(selectionPriceGrade,data) {
            angular.forEach(data.lstfinalPriceGrade,function(record){
                if(record.sKey == selectionPriceGrade.sKey){
                    data.objPriceGradeRecord = record;
                }
            });
        }
        /* multiselect */
        $scope.regionObj={
            "searchInputText":"",
            "placeholder":"Type here to search customers"
        } 

        $scope.popUpRegion=function(region){
            region.bSelected=!region.bSelected;
        }
        $scope.closeMultiselect=function(){
            $(".multiselect-popover").hide();
            $scope.regionObj.searchInputText = "";
        }
        
        $scope.customerList = function(customerList) {
            $scope.title = "";
            angular.forEach(customerList,function(record){
                if(record.bSelected == true)
                    $scope.title += record.sValue + ', ';
            });
            
        }
        /* multiselect ends */
        
        //Number Formatting
        $scope.formatNumber = function(num) {
            //$scope.sCurrencyFormat = sCurrencyFormat;                    $
            //$scope.numberCurrencyFormat = sLocaleNumberFormat;
            //$scope.numberCurrencyFormat.iNoOfDecimalPlaces = 0;
            return formatNumberOnLoad(num, $scope.numberFormat);
        }
                
        //call on page load - load data funtion
        $scope.loadData = function(bFirstTime){
                hideShowProgress(bFirstTime, true);
                $scope.selectedRows = {};
                var promise = getData_HEP_Promotion_MyApprovalsProductRequests.getApprovalRecords();
        
                promise.then(function(obj) {
                    $scope.objPendingApprovalsData = obj;
                    $scope.lstApprovalRecords = $scope.objPendingApprovalsData.lstApprovalRecords;
                    
                    //to create formatlists
                    angular.forEach($scope.lstApprovalRecords, function(data){
                       $scope.onChannelChange(data); 
                    });
                    
                    //to create the final price grade list
                    angular.forEach($scope.objPendingApprovalsData.lstPriceGrades,function(data){
                        $scope.selectPriceGrade(data);
                        if (data.dtPromotionStartDate != null && data.dtPromotionStartDate != undefined) {
                                data.dtPromotionStartDate = new Date(data.dtPromotionStartDate);
                        }
                        
                        data.sUnits = $scope.formatNumber(data.sUnits);
                    });
                    
                      var lstBoxset = $scope.objPendingApprovalsData.lstBoxsetComponents;
                      angular.forEach(lstBoxset,function(boxset,index){
                          boxset.serialNumber = index + 1;
                          if (boxset.dtPromotionStartDate != null && boxset.dtPromotionStartDate != undefined) {
                                boxset.dtPromotionStartDate = new Date(boxset.dtPromotionStartDate);
                            }
                          angular.forEach(boxset.lstModelSku,function(model,i){
                              model.modelValue = '';  
                              if(model.SKU_Number__c) {
                                  model.modelValue = model.SKU_Number__c + '/';
                              }
                              if(model.SKU_Title__c) {
                                 model.modelValue = model.modelValue + model.SKU_Title__c + '/';
                              } 
                              if(model.Format__c) {
                                 model.modelValue = model.modelValue + model.Format__c + '/';
                              }
                              if(model.Channel__c) {
                                  model.modelValue = model.modelValue + model.Channel__c + '/';
                              }
                              if(model.Territory__r.Name) {
                                  model.modelValue = model.modelValue + model.Territory__r.Name;
                              }
                          });
                          var none = {
                              SKU_Title__c : 'None',
                              modelValue : 'None',
                              Id : null
                          }
                          boxset.lstModelSku.push(none);
                      });
                        $scope.gridOptionsBoxset.api.setRowData(lstBoxset);
                        // $timeout(function(){
                            $scope.gridOptionsBoxset.api.sizeColumnsToFit();
                        // },100)
                    if($scope.objPendingApprovalsData.lstApprovalRecords.length == 0) {
                        hideShowProgress(bFirstTime, false);
                        $scope.noApprovals = true;
                        $scope.$emit('productRequestsApprovalCount', $scope.objPendingApprovalsData.iNoOfPendingApprovals);
                    } else {
                       $scope.noApprovals = false;
                       $scope.bShowEdit = $scope.objPendingApprovalsData.mapCustomPermissionProductRequets['WRITE'];
                       $scope.bShowApprove = $scope.objPendingApprovalsData.mapCustomPermissionProductRequets['WRITE'];
                       $scope.bShowReject = $scope.objPendingApprovalsData.mapCustomPermissionProductRequets['WRITE'];
                        $scope.$emit('productRequestsApprovalCount', $scope.objPendingApprovalsData.iNoOfPendingApprovals);
                        
                        angular.forEach($scope.objPendingApprovalsData.lstApprovalRecords, function(value, key) {
                            if (value.dtRequestDate != null && value.dtRequestDate != undefined) {
                                value.dtRequestDate = new Date(value.dtRequestDate);
                            }
                            if (value.dtPromoStartDate != null && value.dtPromoStartDate != undefined) {
                                value.dtPromoStartDate = new Date(value.dtPromoStartDate);
                            }
                        });
                                    
                        if(bFirstTime){
                            $scope.gridOptionsShared.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                            if(window.innerWidth >= 2200) {
                                $scope.gridOptionsShared.api.sizeColumnsToFit();
                            }
                        } else {
                           //if($scope.typeSelected == 'Price'){
                                    $scope.gridOptions.api.setRowData($scope.objPendingApprovalsData.lstPriceGrades);
                                    $scope.gridOptions.api.sizeColumnsToFit();
                                 
                            //} else if($scope.typeSelected == 'PIS') {
                                //$scope.gridOptionsPIS.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                           // } else {
                                $scope.gridOptionsShared.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                                if(window.innerWidth >= 2200) {
                                    $scope.gridOptionsShared.api.sizeColumnsToFit();
                                }
                             //   }
                        }
                         
                        
                        hideShowProgress(bFirstTime, false);

                        if(bFirstTime){
                            if(sReqNo != undefined && sReqNo != null && sReqNo != ''){
                                $scope.selectRequestId(sReqNo);
                            }
                        }
                    }
                }, function(reason) {
                    hideShowProgress(bFirstTime,false);
                    alert('Error : ' + reason.message);
                    throw reason;
                }, function(update) {
                    hideShowProgress(bFirstTime,false);
                });
        }
        
        // $scope.loadBoxsetData = function () {
        //         var lstBoxset = $scope.objPendingApprovalsData.lstBoxsetComponents;

        //         $scope.gridOptionsBoxset.api.setRowData(lstBoxset);
        //         $timeout(function(){
        //             $scope.gridOptionsBoxset.api.sizeColumnsToFit();
        //         },100)
        //     };
        
         //function to apply default filter for request ID
        $scope.selectRequestId = function(reqId){
            var requestIdFilterComponent = $scope.gridOptionsShared.api.getFilterInstance('sRequestSerialId');
            requestIdFilterComponent.setModel({
                type: 'equals',
                filter: reqId,
                filterTo: null
            });
            $scope.gridOptionsShared.api.onFilterChanged();
        }

        //model sku change
        $scope.typeAheadSKUNumber = function(viewValue,data) {
                var promise = getData_HEP_Promotion_MyApprovalsProductRequests.searchSKUs(viewValue, 
                                            data.sSKUMasterTerritory);
                promise.then(function(obj) {
                    $scope.lstSKUModel = obj;
                    return obj;
                }, function(reason) {
                    alert('Error : ' + reason);
                }, []);
                return promise;
            };

            /**
            * onSKUNumberChange -- On SKU Number change, populate all other fields.
            */
            $scope.onSKUNumberChange = function(item,data) {
                if(isBlank(item.sModelSKUNumber)){
                    data.bIsModelSKU = false;
                    return;
                }
                angular.forEach($scope.lstSKUModel, function(objSKUModel, key) {
                    if(objSKUModel.sModelSKUNumber === item.sModelSKUNumber){
                        //data.sSKUId = objSKUModel.sSKUId;
                        data.sModelSKUId = objSKUModel.sSKUId;
                        data.sSKUNumber = objSKUModel.sModelSKUNumber;
                        data.sSKUName = objSKUModel.sModelSKUName;
                        data.sCatalogId = objSKUModel.sCatalogId;
                        data.sCatalogName = objSKUModel.sCatalogName;
                        data.sCatalogNumber = objSKUModel.sCatalogNumber;
                        data.sBarcode = objSKUModel.sBarcode;
                        data.sChannel = objSKUModel.sChannel;
                        //data.sFormat = objSKUModel.sFormat;
                        data.sModelSKUNumber = objSKUModel.sModelSKUNumber;
                        data.sModelSKUName = objSKUModel.sModelSKUName;
                        data.sLicensorType = objSKUModel.sLicensorType;
                        data.sLicensor = objSKUModel.sLicensor;
                        //data.sRentalReady = objSKUModel.sRentalReady;
                        data.sSameBaseUPC = objSKUModel.sRevenueShare;
                        data.sRevenueShare = objSKUModel.sRevenueShare;
                        //data.bIsModelSKU = objSKUModel.bIsModelSKU;
                    }
                });
                //$scope.onFormatChange();
            }
            
        $scope.getNumberFromCurrency = function(numberToChange){
            return getNumber(numberToChange, $scope.numberCurrencyFormat);
        }
            
        //function called on click of Save button
        $scope.saveData = function(objPendingApprovalsData){
            $scope.objSaveData = angular.copy($scope.objPendingApprovalsData);
            $scope.objSaveData.lstApprovalRecords = [];
            $scope.objSaveData.lstPriceGrades = [];
            $scope.objSaveData.lstBoxsetComponents = [];
            angular.forEach($scope.objPendingApprovalsData.lstBoxsetComponents,function(record){
                if(record.bIsEdited) {
                    if(record.dtPromoStartDate!==undefined && record.dtPromoStartDate != '' && record.dtPromoStartDate !== null){
                        record.dtPromoStartDate = null;//new Date(record.dtPromoStartDate).toUTCString();
                    }
                    $scope.objSaveData.lstBoxsetComponents.push(record);
                }
            });
            angular.forEach($scope.objPendingApprovalsData.lstApprovalRecords, function(record){
                if(record.bIsEdited){
                    if(record.dtPromoStartDate!==undefined && record.dtPromoStartDate != '' && record.dtPromoStartDate !== null){
                        record.dtPromoStartDate = null;//new Date(record.dtPromoStartDate).toUTCString();  
                    }
                  $scope.objSaveData.lstApprovalRecords.push(record);
                }
                
            });

            angular.forEach($scope.objPendingApprovalsData.lstPriceGrades, function(record){
                record.sUnits = $scope.getNumberFromCurrency(record.sUnits);
                if(record.bIsEdited){
                   if(record.dtPromotionStartDate!==undefined && record.dtPromotionStartDate != '' && record.dtPromotionStartDate !== null){
                        record.dtPromotionStartDate = null;//new Date(record.dtPromotionStartDate).toUTCString();  
                    } 
                  $scope.objSaveData.lstPriceGrades.push(record);
                }
                
            });

            if($scope.objSaveData.lstApprovalRecords.length > 0 || $scope.objSaveData.bIsEdited){
                 hideShowProgress(false,true);
                            var promise = getData_HEP_Promotion_MyApprovalsProductRequests.saveData(angular.toJson($scope.objSaveData));
                            promise.then(function(obj) {
                                //$scope.editMode = false;
                                //$scope.showConfirmDateModal = false;
                                 $scope.loadData(false);
                                
                                  //hideShowProgress(false,false);
                              }, function(reason) {
                                  hideShowProgress(false,false);
                                  alert('Failed: ' + reason.message);
                                  throw reason;
                              }, function(update) {
                                  hideShowProgress(false,false);
                                  alert('');
                              });
            }

            if($scope.objSaveData.lstPriceGrades.length > 0 || $scope.objSaveData.bIsEdited){
                 hideShowProgress(false,true);
                            var promise = getData_HEP_Promotion_MyApprovalsProductRequests.saveData(angular.toJson($scope.objSaveData));
                            promise.then(function(obj) {
                                $scope.editMode = false;
                                //$scope.showConfirmDateModal = false;
                                 $scope.loadData(false);
                                //hideShowProgress(false,false);
                              }, function(reason) {
                                  hideShowProgress(false,false);
                                  alert('Failed: ' + reason.message);
                                  throw reason;
                              }, function(update) {
                                  hideShowProgress(false,false);
                                  alert('');
                              });
            }
            
            if($scope.objSaveData.lstBoxsetComponents.length > 0 || $scope.objSaveData.bIsEdited){
                 hideShowProgress(false,true);
                            var promise = getData_HEP_Promotion_MyApprovalsProductRequests.saveData(angular.toJson($scope.objSaveData));
                            promise.then(function(obj) {
                                $scope.editMode = false;
                                //$scope.showConfirmDateModal = false;
                                 $scope.loadData(false);
                                //hideShowProgress(false,false);
                              }, function(reason) {
                                  hideShowProgress(false,false);
                                  alert('Failed: ' + reason.message);
                                  throw reason;
                              }, function(update) {
                                  hideShowProgress(false,false);
                                  alert('');
                              });
            }
            
            showConsoleLog($scope.objPendingApprovalsData);
        }
        
        
        //function called on click of approve or reject buttons in modal pop ups
        $scope.approveReject = function(bApproveReject){
            var selectedIds = [];
            var rejectComments = '';
            if(!bApproveReject){
                rejectComments = $scope.objPendingApprovalsData.sRejectComments;
            }
            for (x = 0; x < $scope.gridOptionsShared.api.getSelectedRows().length; x++) {                        
                    selectedIds.push($scope.gridOptionsShared.api.getSelectedRows()[x].sRequestId);                       
            }
            hideShowProgress(false,true);
            var promise = getData_HEP_Promotion_MyApprovalsProductRequests.approveRejectRecords(bApproveReject, selectedIds,rejectComments);
        
            promise.then(function(obj) {
                hideShowProgress(false,false);
                $scope.loadData(false);
            }, function(reason) {
                hideShowProgress(false,false);
                alert('Error : ' + reason.message);
                throw reason;
            }, function(update) {
                hideShowProgress(false,false);
            });
        }
        
        //function called on click of down arrow in each ag grid row
        $scope.fetchTable=function(row,tableId){
                       
                     
                  row.bIsCollapsed = true;
                  var bIsCollapsed = row.bIsCollapsed;
                 
                  angular.forEach($scope.objPendingApprovalsData.lstApprovalRecords,function(record,index){
                      record.bIsCollapsed=true;
                  })
                  row.bIsCollapsed=!bIsCollapsed;
            }

            $scope.onChannelChange = function(data) {
                $scope.lstFormatsTemp = data.mapChannelToFormats[data.sChannel];
                data.lstFormatsTemp = [];
                angular.forEach($scope.lstFormatsTemp, function(value, key) {
                    angular.forEach(data.lstFormats, function(actualVal, actualKey) {
                        if(actualVal.sKey == value)
                            data.lstFormatsTemp.push({"sKey":actualVal.sKey,"sValue":actualVal.sValue});
                    });
                });
                if(data.lstFormatsTemp.length!=0){
                    data.sFormat = data.lstFormatsTemp[0].sValue;
                }
                
                //$scope.onFormatChange();
            }
        
        //function to open comments modal
        $scope.openCommentsModal = function(sComments){
            $scope.showCommentsModal=true;
            $scope.commentsDesc = sComments;
        }

        //function to open reject modal
        $scope.openRejectModal = function(){
            $scope.showUnlockDatesRejectModal=true;
        }

        //function to open approve modal
        $scope.openApproveModal = function(){
            $scope.showUnlockDatesApproveModal=true;
        }


        //function to close comments modal
        $scope.closeCommentsModal = function() {
            $scope.showCommentsModal=false;
        }

        //function to close reject modal
        $scope.closeRejectModal = function() {
            $scope.showUnlockDatesRejectModal=false;
        }

        //function to close approve modal
        $scope.closeApproveModal = function() {
            $scope.showUnlockDatesApproveModal=false;
        }
       
       $scope.onPriceButtonExport = function() {
            var ExcelParams = {
                fileName: "Product Request Approval Price View",
                columnGroups: false,
                allColumns: true,
                columnKeys : ['sSKUNumber','sSKUName','sRegion','objPriceGradeRecord','sDLP','sUnits'],
               // skipGroups: true,
            };

            ExcelParams.processCellCallback = function(params) {
                        
                        if(params.column.getColId() =='objPriceGradeRecord'){
                            var priceGrade = params.value.sValue;
                            return priceGrade;
                        }
                        return params.value;
                };

            $scope.gridOptions.api.exportDataAsExcel(ExcelParams);
        }
       
       //ag-grid column definition - Price
        var columnDefs = [
            {headerName: "Promotion Name", field: "sPromotionName",width:200,tooltipField: "sPromotionName",filter: "agTextColumnFilter"},
            {headerName: "Promotion Start Date", field: "dtPromotionStartDate",tooltipField: "dtPromotionStartDate",width: 160,
                filterParams: {
                                comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                                },
                                clearButton: true
                            }, 
              cellRenderer: function(params){
                                if(params.value=="" || params.value==null)
                                    return '-';
                                else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                                else 
                                    return '<span ng-bind-html="data.dtPromotionStartDate|date:localeDateFormat: \'UTC\' "></span>';
                            },
                            menuTabs:['filterMenuTab','generalMenuTab'],
                filter: "agDateColumnFilter"
            },          
            { headerName: "SKU#",field: "sSKUNumber",tooltipField: "sSKUNumber"},
             {headerName: "SKU Name", field: "sSKUName",width:200,tooltipField: "sSKUName",filter: "agTextColumnFilter"},
             {headerName: "Region", field: "sRegion",width:182,tooltipField: "sRegion",filter: "agTextColumnFilter"},
            {headerName: "Price Grade", field: "objPriceGradeRecord",filter: "agTextColumnFilter",
                cellRenderer:function(params){
                                return $("#priceGrade").html();
                            }
            },
            {headerName: "DLP", field: "sDLP",tooltipField: "sDLP", filter: "agTextColumnFilter"},
            {headerName: "Units", field: "sUnits",tooltipField: "sUnits", filter: "agTextColumnFilter",
                cellRenderer:function(params){
                                return $("#units").html();
                            }
            },
           
        ];





        //grid options for the ag grid -Price
        $scope.gridOptions = {
            domLayout: 'autoHeight',
            defaultColDef :{
                menuTabs:['filterMenuTab','generalMenuTab'],
                filterParams: {clearButton: true}
            },
            rowHeight: 40,
            rowBuffer:10000,
            enableColResize: true,
            enableFilter: true,
            enableSorting : true,
            angularCompileRows: true,
            suppressRowClickSelection: true,
            rowSelection: 'multiple',
            columnDefs: columnDefs,
            toolPanelSuppressSideButtons: true,
            suppressColumnVirtualisation: true,
            pagination: true,
            paginationPageSize: 25,
            onCellFocused: function(params) {
              if($scope.editMode) {
                const renderers = params.api.getCellRendererInstances();
                let renderer = renderers.filter(function(r) {
                  return r.params.rowIndex === params.rowIndex 
                    && r.params.column.colId === params.column.colId;
                })[0];
                if(renderer) {
                  renderer.params.eGridCell.querySelector('.hep-tabbing').focus();
                }
              }
            },
            onGridReady: function() {
               //$scope.gridOptions.api.setRowData($scope.objPendingApprovalsData);
               $scope.gridOptions.api.sizeColumnsToFit();
            }
        };
    

$scope.onSharedButtonExport = function() {
            var ExcelParams = {
                fileName: "Product Request Approval Shared View",
                columnGroups: false,
                allColumns: true,
                columnKeys : ['sSKUNumber','sSKUName','sRequestSerialId','sUPCCode','sModelSKUNumber','sModelSKUName','sSameBaseUPC','sCatalogNumber','sCatalogName','sLicensor','sChannel','sFormat','sSKUConfig','sRevenueShare','sCustomer','sSKUCompilation','sSKUPermanentRange','sCommentsPresent'],
               // skipGroups: true,
            };

            ExcelParams.processCellCallback = function(params) {
                        return params.value;
                };

            $scope.gridOptionsShared.api.exportDataAsExcel(ExcelParams);
        }

         //ag-grid column definition - shared
        var columnDefsShared = [
           {
                            headerName: "",
                            headerCheckboxSelection: true,
                            headerCheckboxSelectionFilteredOnly: true,
                            checkboxSelection: true,
                            width:75,
                            suppressFilter: true,
                            suppressMenu: true,
                            cellClass:'pdng-spacer'
                        },
             {headerName: "Promotion Name", field: "sPromotionName",width:150,tooltipField: "sPromotionName",
            filter: "agTextColumnFilter",
            },
            {headerName: "Promotion Start Date", field: "dtPromoStartDate",tooltipField: "dtPromoStartDate",width: 160,
                filterParams: {
                                comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                                },
                                clearButton: true
                            }, 
              cellRenderer: function(params){
                                if(params.value=="" || params.value==null)
                                    return '-';
                                else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                                else 
                                    return '<span ng-bind-html="data.dtPromoStartDate|date:localeDateFormat: \'UTC\' "></span>';
                            },
                            menuTabs:['filterMenuTab','generalMenuTab'],
                filter: "agDateColumnFilter"
            },           
            { headerName: "SKU#",field: "sSKUNumber",tooltipField: "sSKUNumber",width: 140,
                cellRenderer:function(params){
                                return $("#SKUNumber").html();
                            }
            },
             {headerName: "SKU Name", field: "sSKUName",width:150,tooltipField: "sSKUName",width: 200,filter: "agTextColumnFilter",
                 cellRenderer:function(params){
                                return $("#SKUName").html();
                            }
             },
             {headerName: "Request ID", field: "sRequestSerialId",width:150,tooltipField: "sRequestSerialId",
            filter: "agTextColumnFilter",
            },
             {headerName: "Bar code", field: "sUPCCode",tooltipField: "sUPCCode",width: 160,filter: "agTextColumnFilter"},
            {headerName: "Model SKU #", field: "sModelSKUNumber",tooltipField: "sModelSKUNumber",width: 200,filter: "agTextColumnFilter",
                cellRenderer:function(params){
                                return $("#ModelSKUNumber").html();
                            }
            },
            {headerName: "Model SKU Name", field: "sModelSKUName",tooltipField: "sModelSKUName", width: 160,filter: "agSetColumnFilter"},
            {headerName: "Same Base UPC", field: "sSameBaseUPC",tooltipField: "sSameBaseUPC", width: 160,filter: "agSetColumnFilter",
                cellRenderer:function(params){
                                return $("#SameBaseUPC").html();
                            }
            },
             {headerName: "Catalog#", field: "sCatalogNumber",tooltipField: "sCatalogNumber", width: 160,filter: "agSetColumnFilter"},
              {headerName: "Catalog Name", field: "sCatalogName",tooltipField: "sCatalogName", width: 160,filter: "agSetColumnFilter"},
               {headerName: "Licensor", field: "sLicensor",tooltipField: "sLicensor", width: 130,filter: "agSetColumnFilter"},
               {headerName: "Channel", field: "sChannel",tooltipField: "sChannel", width: 140,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#Channel").html();
                            }
               },
               {headerName: "Format", field: "sFormat",tooltipField: "sFormat", width: 160,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#Format").html();
                            }
               },
               {headerName: "SKU Configuration", field: "sSKUConfig",tooltipField: "sSKUConfig", width: 160,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#SKUConfig").html();
                            }
               },
               {headerName: "Revenue Share", field: "sRevenueShare",tooltipField: "sRevenueShare", width: 160,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#RevenueShare").html();
                            }
               },
               {headerName: "Customer", field: "sCustomers",tooltipField: "sCustomers", width: 200,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#Customer").html();
                            }
               },
               {headerName: "SKU Compilation", field: "sSKUCompilation",tooltipField: "sSKUCompilation", width: 160,filter: "agSetColumnFilter",
                   cellRenderer:function(params){
                                return $("#SKUCompilation").html();
                            }
               },
            {headerName: "SKU Permanent Range", field: "sSKUPermanentRange",tooltipField: "sSKUPermanentRange", width: 160,filter: "agSetColumnFilter",
                cellRenderer:function(params){
                                return $("#SKUPermanentRange").html();
                            }
            },
            {headerName: "Comments", field: "sCommentsPresent",width:120,
            cellRenderer: function(params){
                                return $("#commentsModal").html();
                            }
            }
           
        ];

        //grid options for the ag grid -shared
        $scope.gridOptionsShared = {
            defaultColDef: {
                menuTabs:['filterMenuTab','generalMenuTab'],
                filterParams: {clearButton: true}
            },
            domLayout: 'autoHeight',
            rowHeight: 40,
            rowBuffer:10000,
            enableColResize: true,
            enableFilter: true,
            enableSorting : true,
            angularCompileRows: true,
            suppressRowClickSelection: true,
            rowSelection: 'multiple',
            columnDefs: columnDefsShared,
            toolPanelSuppressSideButtons: true,
            suppressColumnVirtualisation: true,
            popupParent: document.querySelector('body'),
            pagination: true,
            paginationPageSize: 25,
            onCellFocused: function(params) {
                      if($scope.editMode) {
                        const renderers = params.api.getCellRendererInstances();
                        let renderer = renderers.filter(function(r) {
                          return r.params.rowIndex === params.rowIndex 
                            && r.params.column.colId === params.column.colId;
                        })[0];
                        if(renderer) {
                          renderer.params.eGridCell.querySelector('.hep-tabbing').focus();
                        }
                      }
                    },
            onGridReady: function() {
               //$scope.gridOptionsShared.api.setRowData($scope.objPendingApprovalsDataShared);
            //$scope.gridOptions.api.sizeColumnsToFit();
            if(window.innerWidth >= 2200) {
                    $scope.gridOptionsShared.api.sizeColumnsToFit();
                }
            },
            onSelectionChanged: onSelectionChanged
        };
        
        $scope.onModelSKUChange = function(data) {
            data.bIsEdited = true;
        }
        
        var boxsetColumnDefinition = [
                {
                    headerName : "Promotion Name",
                    field : "sPromotionName",
                    filter: "agTextColumnFilter",
                },
                {headerName: "Promotion Start Date", field: "dtPromoStartDate",tooltipField: "dtPromoStartDate",width: 160,
                filterParams: {
                                comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                                },
                                clearButton: true
                            }, 
              cellRenderer: function(params){
                                if(params.value=="" || params.value==null)
                                    return '-';
                                else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                                else 
                                    return '<span ng-bind-html="data.dtPromoStartDate|date:localeDateFormat: \'UTC\' "></span>';
                            },
                            menuTabs:['filterMenuTab','generalMenuTab'],
                filter: "agDateColumnFilter"
            },
                {
                    headerName : "SKU #",
                    field : "sSKUNumber",
                    filter: "agTextColumnFilter",
                },
                {
                    headerName : "SKU Name",
                    field : "sSKUName",
                    filter: "agTextColumnFilter",
                },
                {
                    headerName : "Component",
                    field : "iComponent",
                    filter: "agNumberColumnFilter",
                },
                {
                    headerName : "Catalog #",
                    field : "sCatalogNumber",
                    filter: "agTextColumnFilter",
                },
                {
                    headerName : "Catalog Name",
                    field : "sCatalogName",
                    filter: "agTextColumnFilter",
                },
                {
                    headerName : 'Model SKU# / SKU Name / Format / Channel / Region',
                    field : "sModelSKUIdBoxset",
                    filter: "agTextColumnFilter",
                    width : 300,
                    cellRenderer : function(params)
                    {  
                        return $('#modelSKUTemplate').html();
                    }
                }
        ];
        
        $scope.gridOptionsBoxset = {
                columnDefs: boxsetColumnDefinition,
                defaultColDef: {
                    menuTabs:['filterMenuTab','generalMenuTab'],
                    filterParams: {clearButton: true}
                },
                domLayout: 'autoHeight',
                rowHeight: 46,
                rowBuffer: 10000,
                suppressClickEdit: true,
                enableColResize: true,
                enableSorting: true,
                enableFilter: true,
                suppressLoadingOverlay:true,
                angularCompileRows: true,
                suppressMovableColumns: true,
                rowSelection: 'multiple',
                suppressRowClickSelection: true,
                popupParent: document.querySelector('body'),
                pagination: true,
                paginationPageSize: 25,
                onCellFocused: function(params) {
                  if($scope.editMode) {
                    const renderers = params.api.getCellRendererInstances();
                    let renderer = renderers.filter(function(r) {
                      return r.params.rowIndex === params.rowIndex 
                        && r.params.column.colId === params.column.colId;
                    })[0];
                    if(renderer) {
                      renderer.params.eGridCell.querySelector('.hep-tabbing').focus();
                    }
                  }
                },
                toolPanelSuppressSideButtons: true,
                onGridReady: function() {
                    $scope.gridOptionsBoxset.api.sizeColumnsToFit();
                }
        };
        
        //function called on selection of the rows
         function onSelectionChanged() {
            $scope.selectedRows = $scope.gridOptionsShared.api.getSelectedRows();
            $scope.gridOptionsShared.api.redrawRows();
        } 
        
        //function to apply pagination
        $scope.onPageSizeChanged = function(newPageSize) {
            if(newPageSize == 'All') {
                var all = $scope.gridOptions.api.paginationGetRowCount();
                $scope.gridOptions.api.paginationSetPageSize(Number(all));
            }
            else
                $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
        }

        //funtion to select active pagination number
        $scope.selectedPaginationOption= function(index) {
            $scope.selected = index; 
        };

        //function to update selected type

        $scope.typeChange = function(type){
            $scope.typeSelected = type;
            if($scope.typeSelected == 'Price'){
                $scope.gridOptions.api.setRowData($scope.objPendingApprovalsData.lstPriceGrades);
                $scope.gridOptions.api.sizeColumnsToFit();
                 
            }  else if($scope.typeSelected === 'Boxset Component') {
                $scope.gridOptionsBoxset.api.setRowData($scope.objPendingApprovalsData.lstBoxsetComponents);
                $scope.gridOptionsBoxset.api.sizeColumnsToFit();
            }else {
                $scope.gridOptionsShared.api.setRowData($scope.objPendingApprovalsData.lstApprovalRecords);
                if(window.innerWidth >= 2200) {
                    $scope.gridOptionsShared.api.sizeColumnsToFit();
                }
            }
        };

        // call the load data only if this page is tested standalone
        // else call an event on parent to say its loaded
        if(pageName == "HEP_Promotion_MyApprovalsProductRequests"){
            $scope.loadData(true); 
            $scope.singleLoad = true;
        }
        else{
            $scope.$emit('sectionLoader', 'HEP_Promotion_MyApprovalsProductRequests');
        }

    }
    
    //directive to prevent user form entering invalid 
    app.directive('preventKey', function ($timeout) {

        return {
            restrict: 'A',
            link: function ($scope, element, attrs, ngModel) {
        
                element.bind('keydown', function (e, inputs) {
        
                    var code = e.keyCode || e.which;
                    var val = element[0].value;
        
                    var current = document.activeElement;
                 //Enter all Charcodes u want where u want to prevent keypress
                    if (code > 31 && (code < 48 || code > 57) && (code < 95 || code > 105)) {
                            e.preventDefault();
                    }
                })
            }
          }
        });
    
  </script>
 
  </body>
</apex:page>