<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0"
    standardStylesheets="false" controller="HEP_Catalog_Details_SubTab_Controller">
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        </head>
        <body ng-app="PromotionsApp">               
            <div class="minwrap-container" ng-cloak="true">
                <div ng-controller="HEP_Catalog_Details_SubTab_Ctrl">
                    <div ng-if="singleLoad==true || selectedTab ==true">
                        <div ng-form="CatalogDetailsForm" class="promotionDetailsContainer hep-catalog-main-container PromotionDetailsFormContainer hep-loaded-content" style="display: none;">
                            <div class="row paddingTop27">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 paddingZero">
                                    <label class="promotionDetailsHeader">Catalog Details</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingZero text-right marginBottom5" ng-show="showHideBtnsContainer">
                                    <button type="button" class="hep-btn" ng-show="showHideBtns && catalogDetails.sTerritory!='Global' " id="editBtn" ng-click="editDetails()">Edit</button>
                                    <button type="button" class="hep-btn-border withoutBorderBtn" ng-hide="showHideBtns"
                                        id="cancelBtn" ng-click="cancelDetails()">Cancel</button>
                                    <button type="button" class="hep-btn" ng-hide="showHideBtns" id="saveBtn" ng-click="saveDetails()">Save</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                                    <div class="form-group">
                                        <div class="separator"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Catalog Details Start -->
                            <div class="row LOBSectionContainer hep-loaded-content">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="CatalogName" class="Field-Label">Catalog Name</label>
                                        <input type="text" class="form-control Input-Field" tabindex="1" ng-model="catalogDetails.sCatalogName.toUpperCase()"
                                            id="CatalogName" ng-disabled="true"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="LocalCatalogName" class="Field-Label">Local Catalog Name</label>
                                        <input type="text" maxlength="100" class="form-control Input-Field" tabindex="4" ng-model="catalogDetails.sLocalCalatogName"
                                            id="LocalCatalogName" ng-disabled="disableLocalCatalog"
                                        />
                                    </div>

                                     <div class="form-group">
                                        <label for="LicensorType" class="Field-Label">Licensor Type</label>
                                        <select class="Input-Field" tabindex="8" ng-model="catalogDetails.objLicensorType.sKey"
                                            id="LicensorType" ng-required="true" ng-disabled="disabled"
                                            ng-options="LT.sValue as LT.sValue for LT in catalogDetails.picklist.lstLicensorType" ng-change="getSelectedValue(catalogDetails.objLicensorType.sKey)">
                                                
                                            </select>
                                      </div>

                                       <div class="form-group">
                                        <label for="FinancialTitleId" class="Field-Label">Financial Title ID</label>
                                        <input type="text" class="form-control Input-Field" ng-model="catalogDetails.sFinancialTitleID"
                                            tabindex="11" id="FinancialTitleId" ng-disabled="true" />
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="CatalogPound" class="Field-Label">Catalog #</label>
                                        <input type="text" tabindex="2" class="form-control Input-Field" ng-model="catalogDetails.sCatalogNumber"
                                            id="CatalogPound" ng-disabled="true" />
                                    </div>
                                   

                                     <div class="form-group">
                                        <label for="Territory" class="Field-Label">Territory</label>
                                        <input type="text" class="form-control Input-Field" tabindex="10" ng-model="catalogDetails.sTerritory"
                                            id="Territory" ng-disabled="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="LicensorGroup" class="Field-Label">Licensor Group</label>
                                        <input type="text" class="form-control Input-Field" ng-model="catalogDetails.sLicensorGroup" tabindex="9" id="LicensorGroup" ng-disabled="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ProductionYear" class="Field-Label">Production Year</label>
                                        <input type="text" class="form-control Input-Field" ng-model="catalogDetails.sProductionYear" tabindex="12" id="ProductionYear" ng-disabled="true" />
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="CatalogType" class="Field-Label">Catalog Type</label>
                                        <input type="text" class="form-control Input-Field" tabindex="3" ng-model="catalogDetails.sCatalogType"
                                            id="CatalogType" ng-disabled="true" />
                                    </div>
                                   
                                   <div class="form-group">
                                        <label for="Licensor" class="Field-Label">Licensor</label>
                                        <select class="Input-Field" tabindex="7" ng-model="catalogDetails.objLicensor.sKey"
                                            id="Licensor" ng-required="true" ng-disabled="disabled"
                                            ng-options="L.sKey as L.sValue for L in catalogDetails.picklist.lstLicensor"></select>
                                    </div>

                                     <div class="form-group">
                                        <label for="FinancialTitleName" class="Field-Label">Financial Title Name</label>
                                        <input type="text" class="form-control Input-Field" tabindex="10" ng-model="catalogDetails.sFinancialTitleName"
                                            id="FinancialTitleName" ng-disabled="true"
                                        />
                                    </div>

                                   
                                    <div class="form-group">
                                        <label for="genre" class="Field-Label">Genre</label>
                                        <div class="hep-multi-select hep-add-scroll-bar" ng-hide="disableMultiselect">
                                           <!--Section to display selected values-->
                                        <div class="selected-value-list">
                                          <div class="selected-value" ng-repeat="x in genreList as filteredList track by $index ">
                                          <span>{{x.sValue}}
                                          </span>
                                          <span class="remove-value" selectedRegion="{{x}}" ng-click="popUpRegion(x)">
                                          </span>
                                          </div>
                                      </div>  
                                      <!--Section to display selected values-->
                                        <input type="text" id="genre" ng-disabled="disableMultiselect" class="form-control Input-Field" ng-model="regionObj.searchInputText" placeholder="{{filteredList.length>0 ?'' :'Search for Genre' }}"/>
                                       
                                      <div class="multiselect-popover hep-add-scroll-bar" click-outside="closeMultiselect()" outside-if-not="hep-multi-select,remove-value" style="display:none">
                                          <div ng-repeat="x in catalogDetails.picklist.lstGenre  |orderBy:'sValue' | filter: {sValue:regionObj.searchInputText} as filteredRegions track by $index" >
                                          <input type="checkbox" id="region_{{$index}}" ng-checked="x.bSelected" ng-model="x.bSelected" ng-click="checkUncheckValue(x)"/> 
                                          <label for="region_{{$index}}" hepregion="{{x}}">{{x.sValue}}
                                          </label>
                                          </div>
                                          <div ng-if="filteredRegions.length==0">No Matching Results found
                                          </div>
                                      </div>
                                    </div>
                                     <div class="readonly-block Input-Field block-cursor" ng-show="disableMultiselect">
                                       <span class="hep-ws"> 
                                       <span ng-repeat="x in catalogDetails.picklist.lstGenre |orderBy:'iOrderNumber'| filter:{bSelected:true} track by $index">
                                            {{x.sValue}}<span ng-hide="$last">,</span>
                                        </span>
                                        </span> 
                                   </div>
                                    </div>
                                    

                                </div>
                            </div>
                            <!-- Catalog Details End -->

                        </div>
                        
                        <!-- Animation tab -->
                        <div class="promotionDetailsContainer minwrap-container promotions-master ph-master-anim">
                            <div class="row paddingTop27">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 paddingZero">
                                    <div class="show-anim pd-header"></div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero text-right">
                                    <div class="show-anim pd-button"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                                    <div class="form-group">
                                        <div class="seperator"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row LOBSectionContainer ">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Animation tab -->
                       
                    </div>
                </div>
               
            </div>
        <script>
        var pageName = "{!$CurrentPage.name}";                
        // load app only if its not already loaded so that its not overwritten
        if(app)
            {}
        else
            var app = angular.module("PromotionsApp", []);

           //Services getData_HEP_Promotion_Details_SubTab
          /**
           * Defining the service
          **/
          function getData_HEP_Catalog_Details_SubTab($q) {

             /**
                     * Method to get the data for Detail Page
                     **/
                    var getRecords = function() {
                        var deferred = $q.defer();
                        var CatlogID =
                            "{!$Currentpage.parameters.catId}";
                        HEP_Catalog_Details_SubTab_Controller.extractHepCatalogDetailsData(
                            CatlogID,
                            function(result, event) {
                                if (event.status) {
                                    deferred.resolve(result);
                                } else {
                                    deferred.reject('Error Occurred ' +
                                        event.message);
                                }
                            }, {
                                escape: false
                            });
                        return deferred.promise;
                    }

                    var getCatalogsLicensor = function(LicensorType) {
                        var deferred = $q.defer();
                        HEP_Catalog_Details_SubTab_Controller.extractLicensor(
                            LicensorType,
                            function(result, event) {
                                if (event.status) {

                                    deferred.resolve(result);
                                } else {
                                    deferred.reject(
                                        'Error Processing the Request :  ' +
                                        event.message);
                                }
                            }, {
                                escape: false
                            });
                        return deferred.promise;
                    }

                    //Save Data
                    /**
                     * Method to update and save the data for Detail Page
                     **/
                    var updateCatalogsDetails = function(obj) {
                        var CatlogID ="{!$Currentpage.parameters.catId}";
                        

                        var deferred = $q.defer();
                         
                        HEP_Catalog_Details_SubTab_Controller.saveCatalogDetails(
                            obj, CatlogID, 
                            function(event) {
                                deferred.resolve();
                            }, {
                                escape: false
                            });
                        return deferred.promise;
                    }

                    return {
                        getRecords: getRecords,
                        getCatalogsLicensor: getCatalogsLicensor,
                        updateCatalogsDetails : updateCatalogsDetails
                        
                    };

          }



        // Defining factory which will be used for communication with apex controller
          app.factory('getData_HEP_Catalog_Details_SubTab', getData_HEP_Catalog_Details_SubTab);
        app.controller("HEP_Catalog_Details_SubTab_Ctrl", HEP_Catalog_Details_SubTab_Ctrl);
        function HEP_Catalog_Details_SubTab_Ctrl($scope,getData_HEP_Catalog_Details_SubTab,$timeout){
            $scope.singleLoad = false;
            $scope.selectedTab = false;
            /*Buttons functionality starts here*/
           $scope.showHideBtnsContainer = true;
           $scope.showHideBtns = true;
           $scope.disabled = true;
           $scope.disableLocalCatalog = true;
           $scope.disableMultiselect = true;
          //Responsiveness check - Starts
            fetchWindowSize();

            $(window).resize(function() {
                $timeout(function() {
                    fetchWindowSize();
                });

            });
            //Responsiveness check - Ends
            
            //Edit Button Functionality
              $scope.editDetails = function() {
                  $scope.disableMultiselect = false;
                  $scope.disabled = false;
                  $scope.detailsCopy = angular.copy($scope.catalogDetails);
                 
                  if($scope.catalogDetails.sTerritory != "Global"){
                     $scope.disableLocalCatalog = false;
                  }
                  $scope.showHideBtns = false;
                  $("#cancelBtn,#saveBtn").fadeIn();
              }

              //Cancel Button Functionality
              $scope.cancelDetails = function() {
                  hideShowProgress(false, true);
                  $scope.catalogDetails = angular.copy($scope.detailsCopy);
                  $scope.genreList = angular.copy($scope.genreListCopy);
                  $(document).ready(function() {
                      $("#cancelBtn,#saveBtn").fadeOut(
                          1000);
                  });
                  $timeout(function() {
                      $scope.disabled = true;
                      $scope.disableMultiselect = true;
                      $scope.disableLocalCatalog = true;
                      $scope.showHideBtns = true;
                     hideShowProgress(false, false);
                  }, 1000);
              }
          /*Buttons functionality ends here*/
           /* multiselect */
           $scope.genreList = [];
            $scope.regionObj={
                "searchInputText":"",
                "placeholder":"Type here to search Genre"
            } 
            
            $scope.popUpRegion=function(val){
                
                val.bSelected=!val.bSelected;
                
                    var genrelength=$scope.genreList.length;
                     showConsoleLog(' $scope.genreList -11---> ' +  $scope.genreList);
                    for(x=0;x<genrelength;x++){
                        if($scope.genreList[x].sKey==val.sKey){
                            $scope.genreList.splice(x,1);
                            break;
                        }
                    }
                
                
            }
            $scope.closeMultiselect=function(){
                $(".multiselect-popover").hide();
                $scope.regionObj.searchInputText = "";
            }
            
            
          $scope.checkUncheckValue=function(val){
                
                if(val.bSelected){
                    $scope.genreList.push(val);
                     showConsoleLog(' $scope.genreList ----> ' +  $scope.genreList);
                  
                   $scope.regionObj.searchInputText=""; 
                    
                }else{
                    var genrelength=$scope.genreList.length;

                    showConsoleLog('genrelength ----> ' + genrelength);
                   
                    for(x=0;x<genrelength;x++){
                        if($scope.genreList[x].sKey==val.sKey){
                            $scope.genreList.splice(x,1);
                            break;
                        }
                    }
                }
              
            }
            /* multiselect ends */


            // one lister event for each child tab that handles 
            // load, save, navigate
             $scope.$on('HEP_Catalog_Details_SubTab', function(event, data) {
                
                if(data == 'load'){
                    $scope.fetchRecords(true);
                    $scope.selectedTab = true;
                }
                else if(data == 'navigate'){
                    $scope.$emit('navigateNext', '');
                    $scope.selectedTab = false;
                }
            });
            
            $scope.getSelectedValue = function(val){
             
                var promise =getData_HEP_Catalog_Details_SubTab.getCatalogsLicensor(val);
                        promise.then(function(result) {
                            $scope.catalogDetails.sLicensorGroup = result;
                            //return result;
                            },
                            function(reason) {
                                alert('Error : ' + reason.message);
                                throw reason;
                            },
                            function(message) {});
                        return promise;
          }

            // called on pageload
            $scope.fetchRecords = function(bInitialLoad){
              
              //calling Service from Page
              
              hideShowProgress(bInitialLoad, true);
              
              var promise = getData_HEP_Catalog_Details_SubTab.getRecords();
              promise.then(function(obj) {
              hideShowProgress(bInitialLoad, false);
           
              $scope.catalogDetails = obj;
              $scope.genreList = [];
              angular.forEach($scope.catalogDetails.picklist.lstGenre,function(listItem) {
                    if(listItem.bSelected == true) 
                        $scope.genreList.push(listItem);
              });
              $scope.genreList.sort($scope.compareValues('iOrderNumber'));
              $scope.genreListCopy = angular.copy($scope.genreList);
              $scope.showHideBtnsContainer = $scope.catalogDetails.bShowEditButton;
            },

             function(reason) {
                  hideShowProgress(false, false);              
                  alert('Error : ' + reason);
              }, []);
            }
            
            $scope.compareValues = function(key,order='asc') {
                return function(a, b) {
                    if(!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
                      // property doesn't exist on either object
                        return 0; 
                    }
                
                    var varA = a[key];
                    var varB = b[key];
                
                    var comparison = 0;
                    if (varA > varB) {
                      comparison = 1;
                    } else if (varA < varB) {
                      comparison = -1;
                    }
                    return comparison;
                  };
            }

            //Save Button Functionality -starts
                    /**
                     * Method to Save the data for Detail Page
                     **/
                    
                    $scope.saveDetails = function() {
                      hideShowProgress(false, true);
                        $scope.disabled = true;
                        $scope.showHideBtns = true;
                       $scope.catalogDetails.picklist.lstGenre = angular.copy($scope.genreList);
                        $scope.CatalogDetailsCopy = angular.copy($scope.catalogDetails);
                     
                        var promise = getData_HEP_Catalog_Details_SubTab.updateCatalogsDetails(
                                JSON.parse(angular.toJson($scope.CatalogDetailsCopy))
                            );
                            promise.then(function(obj) {
                                // Hiding the spinner 
                                  hideShowProgress(false, false);
                                $scope.fetchRecords(false);
                                $scope.$emit('reloadHeader',
                                    'HEP_Catalog_Details_SubTab'
                                );
                               
                                $scope.redirectedFromSetup = true;
                                 $scope.disableLocalCatalog = true;
                                $scope.disableMultiselect = true;
                           
                            }, function(reason) {
                                // Hiding the spinner 
                                 hideShowProgress(false, false);
                                 alert('Error : ' + reason.message);
                                throw reason;
                            }, function(update) {});

                            
                    }
                    //Save Button Functionality - ends
            
            // call the load data only if this page is tested standalone
            // else call an event on parent to say its loaded
            if(pageName == "HEP_Catalog_Details_SubTab"){            
                $scope.fetchRecords(true); 
                $scope.singleLoad = true;
            }
            else{
                $scope.$emit('sectionLoader', 'HEP_Catalog_Details_SubTab');
            }
        }

          //directive to handle multiselect
                app.directive('hepMultiSelect', function($timeout) {
                    return {
                        restrict: 'C',
                        link: function(scope, elem, attrs) {
                            var inputElem=elem.find(".search-input");
                               
                            inputElem.focus();
                            
                            $timeout(function() {
                                elem.on('click',function(e){
                                    var dropdownWidth =$(".hep-multi-select").outerWidth();
                           $(".multiselect-popover").css("width",dropdownWidth);
                            inputElem.focus();
                            
                            var topValue=angular.element(".hep-multi-select").position().top+angular.element(".hep-multi-select").height();
                            
                            $(".multiselect-popover").show();
                            $(".multiselect-popover").css("top",topValue);
                            
                                });
                                
                            });
                        }
                    };     
                });
            </script>
        </body>

        </html>
</apex:page>