<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_SKU_Details_Controller">
 <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!--<c:HEP_Navigation_Menu_Component />-->
    </head>
    <body ng-app="PromotionsApp">
    <div  ng-controller="HEP_SKU_Details_SubTab_Ctrl">
        <div ng-if="singleLoad==true || selectedTab ==true">          
            <!--Main content starts here-->
               <div ng-form="SKUDetailsForm" class="promotionDetailsContainer PromotionDetailsFormContainer hep-loaded-content" style="display: none;">
                      <div class="row paddingTop27">
                          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 paddingZero">
                              <label class="promotionDetailsHeader">Product Details</label>
                          </div>
                          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingZero text-right marginBottom5" ng-show="showHideBtnsContainer">
                              <span ng-show="showEdit == 'TRUE'">
                                  <button type="button" ng-if="!SKUDetails.bIsDomestic" class="hep-btn" ng-show="showHideBtns"  id="editBtn" ng-click="editDetails()">Edit</button>

                                  <button type="button" class="hep-btn-border no-border" ng-hide="showHideBtns"
                                      id="cancelBtn" ng-click="cancelDetails()">Cancel</button>
                                  <button type="button" class="hep-btn" ng-hide="showHideBtns" id="saveBtn" ng-click="saveDetails(showEdit)">Save</button>
                              </span>
                           
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                              <div class="form-group">
                                  <div class="separator"></div>
                              </div>
                          </div>
                      </div>

                      <!-- Catalog Details Start -->
                      <div class="row LOBSectionContainer hep-loaded-content font-regular">
                           

                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <div class="form-group">
                                  <label for="CatalogNumber" class="Field-Label">Catalog #</label>
                                  <select class="Input-Field" tabindex="11" ng-model="SKUDetails.sCatalogNumber" ng-disabled="disabled">
                                    <option ng-value="SKUDetails.sCatalogNumber">{{SKUDetails.sCatalogNumber}}</option>    
                                  </select>
                              </div>
                               <div class="form-group">
                                  <label for="Region" class="Field-Label">Territory</label>
                                  <input type="text" class="form-control Input-Field" tabindex="4" ng-model="SKUDetails.sRegion"
                                      id="Region" ng-disabled="disabled"
                                  />
                              </div>
                               <div class="form-group">
                                  <label for="SKUConfiguration" class="Field-Label">SKU Configuration</label>
                                  <!--<input type="text" class="form-control Input-Field" ng-model="SKUDetails.sSKUConfiguration"-->
                                  <!--    tabindex="7" id="SKUConfiguration" ng-disabled="disabled" />-->
                                  <select class="Input-Field" tabindex="7" ng-model="SKUDetails.sSKUConfiguration"
                                  id="SKUConfiguration" ng-required="true" ng-disabled="enableOnEdit">
                                    <option ng-repeat = "item in SKUDetails.lstSKUCongigurationPickVals" value="{{item.sKey}}">{{item.sValue}}</option>
                                    <!--<option ng-repeat="x in inactiveSelectOptions.FOX_SKU_CONFIGURATION |filter:{sValue:SKUDetails.sSKUConfiguration} : true" value="{{x.sValue}}" disabled="true">{{x.sName}}</option>-->
                                   <option ng-repeat="x in inactivePicklistFunction('FOX_SKU_CONFIGURATION',SKUDetails.sSKUConfiguration) |filter:{sType:'FOX_SKU_CONFIGURATION',sName:SKUDetails.sSKUConfiguration} : true" value="{{x.sName}}" disabled="true">{{x.sValue}}</option>
                                </select>
                              </div>
                              <div class="form-group">
                                     
                                        <label for="CurrentReleaseDate" class="Field-Label">Current Release Date</label>
                                        <p class="input-group">
                                            <input tabindex="10" required="required" class="Date-Input form-control "  placeholder="{{localeDateFormat.toUpperCase()}}"  id="CurrentReleaseDate" name="startDate" ng-model="SKUDetails.sReleaseDate" type="text"   ng-disabled="disabled" ng-required="required" hep-validate-date="true" dateformat="{{localeDateFormat}}" allDateFormats="{{altDateFormat}}" /> <!--ng-model-options="{timezone: 'utc'}" -->
                                            <span class="input-group-btn">
                                                <button class="calendarIcon" ng-click="popup1900.opened=true" type="button" ng-disabled="disabled"></button>
                                            </span>
                                        </p>
                                    </div>
                           
                              

                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                             <div class="form-group">
                                  <label for="CatalogName" class="Field-Label">Catalog Name</label>
                                  <input type="text" class="form-control Input-Field" tabindex="2" ng-model="SKUDetails.sCatalogName"
                                      id="CatalogName" ng-disabled="disabled"/>
                              </div>
                             
                              <div class="form-group">
                                  <label for="SKUStatus" class="Field-Label">SKU Status</label>
                                  <input type="text" tabindex="5" class="form-control Input-Field" ng-model="SKUDetails.sSKUStatus"
                                      id="SKUStatus" ng-disabled="disabled" />
                              </div>
                             

                             

                              <div class="form-group" ng-hide="SKUDetails.bIsDomestic">
                                  <label for="SKUPermanentRange" class="Field-Label">SKU Permanent Range</label>
                                  <select class="Input-Field" tabindex="11" ng-model="SKUDetails.sSKUPermanentRange" ng-disabled="enableOnEdit" ng-hide="SKUDetails.bIsDomestic">
                                   <option ng-repeat = "item in SKUDetails.lstPermanentRangePickVals" value = "{{item.sKey}}">{{item.sValue}}</option>
                                   <!--<option ng-repeat="x in inactiveSelectOptions.FOX_SKU_PERMANENT_RANGE|filter:{sValue:SKUDetails.sSKUPermanentRange} : true" value="{{x.sValue}}" disabled="true">{{x.sName}}</option>-->
                                   <option ng-repeat="x in inactivePicklistFunction('FOX_SKU_PERMANENT_RANGE',SKUDetails.sSKUPermanentRange) |filter:{sType:'FOX_SKU_PERMANENT_RANGE',sName:SKUDetails.sSKUPermanentRange} : true" value="{{x.sName}}" disabled="true">{{x.sValue}}</option>
                                   </select>
                              </div>
                              
                               <div class="form-group">
                                  <label for="Customer" class="Field-Label">Customer</label>
                                
                                  
                             <div ng-if="!enableOnEdit && !SKUDetails.bIsDomestic" class="hep-multi-select hep-add-scroll-bar Input-Field mrgn-adjuster" >
                                    <div class="selected-value-list" >
                                        <div class="selected-value" ng-repeat="x in SKUDetails.lstCustomersSelected | filter:{bSelected:true} as filteredCount track by $index">
                                            <span>{{x.sKey}}</span>
                                            <span class="remove-value" selectedRegion="{{x}}" ng-click="popUpRegion(x)"></span> 
                                     </div>
                    
                                    </div>
               
                <input type="text" class="search-input" ng-model="langObj.searchInputText" placeholder="{{filteredCount.length>0?'':'Search for customers'}}"/>
                <div class="clearfix"></div> 
                <div class="multiselect-popover hep-add-scroll-bar" click-outside="closeMultiselect()" outside-if-not="hep-multi-select,remove-value" style="display:none">
                    <div ng-repeat="x in SKUDetails.lstCustomersSelected | filter: {sKey:langObj.searchInputText} as filteredRegions track by $index" > 
                        <input type="checkbox" id="customer_{{$index}}" ng-checked="x.bSelected" ng-model="x.bSelected" />
                        <label for="customer_{{$index}}" hepregion="{{x}}">{{x.sKey}}</label>
                       
                    </div>
                    <div ng-if="filteredRegions.length==0">No Matching Results found</div>
                </div>
            </div>
           
            <div ng-show="SKUDetails.bIsDomestic || enableOnEdit" class="readonly-block Input-Field block-cursor">
                   <span class="hep-ws">
                   <span ng-repeat="x in SKUDetails.lstCustomersSelected | filter:{bSelected:true} track by $index">
                        {{x.sKey}}<span ng-hide="$last">,</span>
                    </span>
                    </span> 
               </div>
                              </div>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                             <div class="form-group">
                                  <label for="LicensorType" class="Field-Label">Licensor Type</label>
                                  <select class="Input-Field" tabindex="3" ng-model="SKUDetails.sLicensorType"
                                      id="LicensorType" ng-required="true" ng-disabled="disabled">
                                      <option ng-value="SKUDetails.sLicensorType">{{SKUDetails.sLicensorType}}</option>
                                      </select>
                              </div>
                               <div class="form-group">
                                  <label for="StockInWarehouse" class="Field-Label">Stock in Warehouse</label>
                                  <input type="text" class="form-control Input-Field" ng-model="SKUDetails.sWareshouseStock" tabindex="6" id="StockInWarehouse" ng-disabled="disabled" />
                              </div>
                               <div class="form-group">
                                  <label for="RentalReady" class="Field-Label">Rental Ready</label>
                                  <input type="text" class="form-control Input-Field" ng-model="SKUDetails.sRentalReady"
                                      tabindex="9" id="RentalReady" ng-disabled="disabled" />
                              </div>
                              <div class="form-group" ng-hide="SKUDetails.bIsDomestic">
                                  <label for="SKUCompletion" class="Field-Label">SKU Compilation</label>
                                  <select class="Input-Field" tabindex="11" ng-model="SKUDetails.sSKUCompilation"
                                      id="SKUCompletion" ng-required="true" ng-disabled="enableOnEdit" ng-hide="SKUDetails.bIsDomestic">
                                     <option ng-repeat = "item in SKUDetails.lstSKUCompilationPickVals" value="{{item.sKey}}">{{item.sValue}}</option>
                                     <!--<option ng-repeat="x in inactiveSelectOptions.FOX_SKU_COMPILATION|filter:{sName:SKUDetails.sSKUCompilation} : true" value="{{x.sName}}" disabled="true">{{x.sValue}}</option>-->
                                     <option ng-repeat="x in inactivePicklistFunction('FOX_SKU_COMPILATION',SKUDetails.sSKUCompilation) |filter:{sType:'FOX_SKU_COMPILATION',sName:SKUDetails.sSKUCompilation} : true" value="{{x.sName}}" disabled="true">{{x.sValue}}</option>
                                  </select>
                              </div>
                             
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            
                              <div>
                                  <label for="Comments" class="Field-Label">Comments</label>
                                  <textarea type="text" rows="8" placeholder="Write comments here..." class="form-control Input-Field" tabindex="14" ng-model="SKUDetails.sComments"
                                      id="Comments" ng-disabled="disabled"
                                  />
                              </div>
                          </div>

                      </div>
                      <!-- Catalog Details End -->

                </div>
            <!--Main content ends here-->
            <!-- Animation tab -->
                        <div class="promotionDetailsContainer minwrap-container promotions-master ph-master-anim">
                            <div class="row paddingTop27">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 paddingZero">
                                    <div class="show-anim pd-header"></div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero text-right">
                                    <div class="show-anim pd-button"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                                    <div class="form-group">
                                        <div class="seperator"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row LOBSectionContainer ">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="show-anim pd-label1"></div>
                                        <div class="show-anim pd-input1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Animation tab -->
        </div>
    </div>
    <script>
       agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey);         
        agGrid.initialiseAgGridWithAngular1(angular);
        var pageName = "{!$CurrentPage.name}";
                
        // load app only if its not already loaded so that its not overwritten
        if(app)
            {
                app.requires.push('angular-click-outside'); 
            }
        else
            var app = angular.module("PromotionsApp", ['angular-click-outside']);
            
            
        function SKUDetailsFactory($q)
        {
            var loadData = function(recordId , localeDateFormat){
                hideShowProgress(false, true); 
                var deferred = $q.defer();
                HEP_SKU_Details_Controller.fetchData(recordId, localeDateFormat, 
                    function(result, event) {
                    hideShowProgress(false, false); 
                        if (event.status) {
                         deferred.resolve(angular.fromJson(result));
                     } else {
                        deferred.reject(event);
                    }
                },
                {escape: false}
                );
                return deferred.promise;

            }
            
            var saveData = function(objSKUData){
                hideShowProgress(false, true); 
                var deferred = $q.defer();
                HEP_SKU_Details_Controller.saveData(objSKUData,
                    function(result, event) {
                    hideShowProgress(false, false); 
                        if (event.status) {
                        //deferred.resolve(angular.fromJson(result));
                         deferred.resolve('Response received');
                     } else {
                        deferred.reject(event);
                    }
                },
                {escape: false}
                );
                return deferred.promise;
            }

            return{

             loadData : loadData,
             saveData : saveData

            };

        }
        
        app.factory('SKUDetailsFactory', SKUDetailsFactory);
        app.directive('hepValidateDate', hepValidateDateDirective);
        app.controller("HEP_SKU_Details_SubTab_Ctrl", HEP_SKU_Details_SubTab_Ctrl);
        function HEP_SKU_Details_SubTab_Ctrl($scope,$timeout,SKUDetailsFactory){
            $scope.singleLoad = false;
            $scope.dateOptions = dateOptions;
            $scope.recordId = '{!$CurrentPage.parameters.skuId}';
            $scope.dateOptions1 = angular.copy($scope.dateOptions);
            $scope.altDateFormat = allDateFormats;
            $scope.localeDateFormat =  sLocaleDateFormat;
            $scope.dateOptions.dateDisabled = false;
            $scope.selectedTab = false;
            $scope.inactiveSelectOptions = mapInactiveLOVSelectOptions;
             $scope.SKUDetails =[];
             $scope.units = [
                 {'id': 10, 'label': 'test1'},
                 {'id': 27, 'label': 'test2'},
                 {'id': 39, 'label': 'test3'},
              ];
             $scope.saveStatus;
             //one lister event for each child tab that handles 
            // load, save, navigate
             $scope.$on('HEP_SKU_Details_SubTab', function(event, data) {
                
                if(data == 'load'){
                    $scope.loadData();
                    $scope.selectedTab = true;
                }
                else if(data == 'navigate'){
                    $scope.$emit('navigateNext', '');
                    $scope.selectedTab = false;
                }
            });
            
            // called on pageload
            $scope.loadData = function(){
                hideShowProgress(true,true);
                var promise = SKUDetailsFactory.loadData($scope.recordId, $scope.localeDateFormat);
                promise.then(function(obj){
                $scope.SKUDetails = obj;
                console.log('This : ' ,$scope.SKUDetails);
                $scope.showEdit = obj.mapCustomPermissions.WRITE;
                setTimeout(function(){
                    hideShowProgress(true,false);
                },100)
                }, function(reason){
                    hideShowProgress(true,false);
                    alert('Error : ' + reason.message);
                    throw reason;

                }, []);
            }
            
            $scope.inactivePicklistFunction = function(compilation,key){
                var sKey = compilation+key;
               
                return $scope.inactiveSelectOptions[sKey];
            } 
            
            //save data
            $scope.saveDetails = function(Access){
                hideShowProgress(true,true);
                console.log('Save Access : ' + Access);
                if(Access){
                var promise = SKUDetailsFactory.saveData(JSON.stringify($scope.SKUDetails));
                promise.then(function(obj){
                $scope.saveStatus = obj;
                $scope.showHideBtns = true; 
                 $scope.enableOnEdit = true;
                setTimeout(function(){
                    hideShowProgress(true,false);
                },100)
                }, function(reason){
                    hideShowProgress(true,false);
                    alert('Error : ' + reason.message);
                    throw reason;

                },[]);
                }
            }
            
            /*$scope.redirectPage = function() {
                window.location.href = "/apex/HEP_SKU_Details_SubTab_PDF?recordId={!$CurrentPage.parameters.recordId}";
            }*/
            
            // call the load data only if this page is tested standalone
            // else call an event on parent to say its loaded
            if(pageName == "HEP_SKU_Details_SubTab"){
            
                $scope.loadData(); 
                $scope.singleLoad = true;
            }
            else{
                $scope.$emit('sectionLoader', 'HEP_SKU_Details_SubTab');
            }
              /*Buttons functionality starts here*/
           $scope.showHideBtnsContainer = true;
           $scope.showHideBtns = true;
           $scope.disabled = true;
           $scope.enableOnEdit = true;
           $scope.showHideBtnsContainer = true;
            //Edit Button Functionality
              $scope.editDetails = function() {
                  $scope.enableOnEdit = false;
                  $scope.showHideBtns = false;                 
                  $("#cancelBtn,#saveBtn").fadeIn();
                 
              }

              //Cancel Button Functionality
              $scope.cancelDetails = function() {
                  $(document).ready(function() {
                      $("#cancelBtn,#saveBtn").fadeOut(
                          1000);
                  });
                  $timeout(function() {
                      $scope.enableOnEdit = true;
                      $scope.showHideBtns = true;
                  }, 1000);
              }
          /*Buttons functionality ends here*/
           /* multiselect */
                    $scope.langObj={
                        "searchInputText":"",
                        "placeholder":"Type here to search Languages",
                        "langCount":0
                    } 
                    
                    $scope.popUpRegion=function(region){ 
                        region.bSelected=!region.bSelected;
                    }
           $scope.closeMultiselect=function(){
                        $(".multiselect-popover").hide();
                        $scope.langObj.searchInputText = "";
                    }
        }
        
        //directive to handle multiselect
                app.directive('hepMultiSelect', function($timeout) {
                    return {
                        restrict: 'C',
                        link: function(scope, elem, attrs) {
                            var inputElem=elem.find(".search-input");
                                
                            inputElem.focus();
                            $timeout(function() {
                                elem.on('click',function(e){
                                    
                                    inputElem.focus();
                                    
                                    var popoverElem=elem.find(".multiselect-popover");
                                     $(popoverElem).css("width",$(elem).innerWidth());
                                    $(popoverElem).show(); 
                                   
                               
                                }); 
                                
                            });
                        }
                    };     
                });   
    </script>
    </body>
</apex:page>