<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false"  >

<c:HEP_Navigation_Menu_Component />
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>  
<body ng-app="PromotionsApp">
    <div ng-controller="HEP_Catalog_Ctrl" class="customerAddContainer mainContainerApprovals" ng-cloak="true">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                <label class="subHeader">Products</label>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 paddingZero text-right marginBottom5">
                <div ng-show="editMode">
                    <button type="button" class="hep-btn-border no-border" ng-click="editMode=!editMode">Cancel</button>
                    <button type="button" class="hep-btn-border right-spacer" ng-click="addProducts()">Add Products</button>
                    <button type="button" class="hep-btn-border right-spacer" ng-click="massUpdate()">Mass Update</button>
                    <button type="button" class="hep-btn-border right-spacer">Submit for approval</button>
                    <button type="button" class="hep-btn" ng-click="saveData()">Save</button>
                </div>
                <button type="button" class="hep-btn" ng-hide="editMode" ng-click="editMode=!editMode">Edit</button>  
                <div class="delete-icon right-float" ng-hide="editMode"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                <div class="separator"></div>
            </div>
        </div>
        <div class="customer-products-body">
            <!-- <div class="expand-icon" ng-click="showSKUs=false"></div> -->
            <div class="clearfix"></div>
            <div ng-if="!noProducts">
                <div ng-repeat="x in catalogWrapper track by $index" ng-init="indexVal=$index" class="catalog-tile">
                <div class="customer-details row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero width7">
                        <input type="checkbox" id="catalog-checkbox" />
                        <label for="catalog-checkbox"></label>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">Name</div>
                        <div>{{x.catalog_name}}</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">WPR #</div>
                        <div>{{x.catalog}}</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">Region</div>
                        <div>{{x.region}}</div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="sub-label">Start Date</div>
                        <div ng-hide="editMode">{{x.startDate}}</div>
                        <div ng-show="editMode">
                            <p class="input-group date-container">
                                <input alt-input-formats="altDateFormat" class="Date-Input form-control" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" datepicker-options="dateOptions1" is-open="popup2344.opened" name="" ng-model="massUpdateStartDate" ng-required="true" type="text"  uib-datepicker-popup="{{localeDateFormat}}" ng-model-options="{timezone: 'utc'}"/>
                                <span class="input-group-btn">
                                    <button class="calendarIcon" ng-click="popup2344.opened=true" type="button"></button>
                                </span>
                            </p>
                        </div>

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 paddingZero">
                        <div class="sub-label">End Date</div>
                        <div ng-hide="editMode">{{x.endDate}}</div>
                        <div ng-show="editMode">
                            <p class="input-group date-container">
                                <input alt-input-formats="altDateFormat" class="Date-Input form-control" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" datepicker-options="dateOptions1" is-open="popup2354.opened" name="" ng-model="massUpdateStartDate" ng-required="true" type="text"  uib-datepicker-popup="{{localeDateFormat}}" ng-model-options="{timezone: 'utc'}"/>
                                <span class="input-group-btn">
                                    <button class="calendarIcon" ng-click="popup2354.opened=true" type="button"></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">Duration</div>
                        <div>{{x.duration}}</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">Notes</div>
                        <a>{{x.notes}}</a>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div class="sub-label">Status</div>
                        <div>
                            <img class="status-color draft" />
                            <span>{{x.status}}</span>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 paddingZero">
                        <div>
                            <div class="delete-icon right-float"></div>
                        </div>
                    </div>
                </div>
                <div class="show-hide-sku" >
                    <span ng-click="fetchTable(x,'gridTable'+indexVal)" class="pointer-cursor">
                        <span class="chevron-selector" ng-class="{'chevron-region':showTable==true}" ></span>
                        <span class="marginLR"><span class="boldGrey">EST HD</span> {{}}/{{}}</span>
                        <span class="marginLR"><span class="boldGrey">EST SD</span> {{}}/{{}}</span>
                        <span class="marginLR"><span class="boldGrey">VOD HD</span> {{}}/{{}}</span>
                        <span class="marginLR"><span class="boldGrey">VOD SD</span> {{}}/{{}}</span>
                    </span>
                </div>
                <div ng-if="!x.isCollapsed">
                    <div class="ag-theme-material RA-table-top" id="gridTable{{$index}}" ag-grid="gridOptions"></div>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
            <div ng-if="noProducts">
                    <div class="PR_noRightsAvailable">
                        <div class="PR_copyRightImg"></div>
                        <div class="PR_noRightsMsg">There are no Products associated with this promotion</div>
                    </div>
                </div>
              
            <template id="deleteRow">
                <div class="delete-icon"></div>
            </template>
            <template id="price-wholesale">
               <span ng-hide="editMode">{{data.price_grade}}</span>
               <select  ng-model="data.price_grade" ng-show="editMode" ng-value="data.price_grade">
                   <option>$12.99 - $39.99</option>
                   <option>$12.99 - $49.99</option>
                   <option>$12.99 - $59.99</option>
               </select>
                
            </template>
            <template id="price-everyday">
               <span ng-hide="editMode">{{data.SRP}}</span>
               <select ng-show="editMode">
                    <option>$30,000</option>
                    <option>$30,000</option>
               </select>
            </template>
            <template id="volume">
                <span ng-hide="editMode">{{data.volume}}</span>
                <input type="number" class="Input-Field Input-Field-agGrid" ng-show="editMode" />
            </template>
             
            <!-- modal pop up for Mass Update-->
                <div class="hep-modal-overlay" ng-cloak="true" ng-show="showMassUpdateModal">
                    <div class="hep-modal">
                        <!-- <div class="hep-close-icon" ng-click="showMassUpdateModal=false"></div> -->
                        <div class="row">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 modalTitle">
                                Mass Update
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 hep-close-icon" ng-click="showMassUpdateModal=false">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-section">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Start Date</label>
                                        <p class="input-group date-container">
                                            <input alt-input-formats="altDateFormat" class="Date-Input form-control" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" datepicker-options="dateOptions1" is-open="popup233.opened" name="" ng-model="massUpdateStartDate" ng-required="true" type="text"  uib-datepicker-popup="{{localeDateFormat}}" ng-model-options="{timezone: 'utc'}"/>
                                            <span class="input-group-btn">
                                                <button class="calendarIcon" ng-click="popup233.opened=true" type="button"></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">End Date</label>
                                        <p class="input-group date-container">
                                            <input alt-input-formats="altDateFormat" class="Date-Input form-control" close-text="Close" placeholder="{{localeDateFormat.toUpperCase()}}" datepicker-options="dateOptions1" is-open="popup234.opened" name="" ng-model="massUpdateEndDate" ng-required="true" type="text"  uib-datepicker-popup="{{localeDateFormat}}" ng-model-options="{timezone: 'utc'}"/>
                                            <span class="input-group-btn">
                                                <button class="calendarIcon" ng-click="popup234.opened=true" type="button"></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Promo WSP</label>
                                        <input type="text" class="Input-Field" ng-model=""></input>    
                                    </div>     
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Promo SRP</label>
                                        <input type="text" class="Input-Field" ng-model=""></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Channels</label>
                                        <select class="Input-Field  pointer-cursor" ng-model="" ng-options =""></select>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Formats</label>
                                        <select class="Input-Field  pointer-cursor" ng-model="" ng-options =""></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="Field-Label">Region</label>
                                        <select class="Input-Field  pointer-cursor" ng-model="" ng-options =""></select>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
                            </div>
                            <div class="text-right">
                                <button class="hep-btn" ng-click="">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- modal pop up for Mass Update-->
        </div>
    </div>

 <script>
    agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey);
    agGrid.initialiseAgGridWithAngular1(angular);
  
      
            var app = angular.module('PromotionsApp', ['ui.bootstrap','agGrid']);

                app.controller('HEP_Catalog_Ctrl', hepCatalogCtrl);

                function hepCatalogCtrl($scope) {
                $scope.noProducts = false;
                //if no products then edit mode should be true
                $scope.editMode=false;

                $scope.dateOptions = dateOptions;
                $scope.dateOptions1 = angular.copy($scope.dateOptions);
                $scope.altDateFormat = allDateFormats;
                $scope.localeDateFormat =  sLocaleDateFormat;
      
             var columnDefn = [
                        {
                            headerName: "",
                            headerCheckboxSelection: true,
                            checkboxSelection: true,
                            suppressFilter: true,
                            suppressMenu: true,
                            cellClass:'pdng-spacer'
                            
                        },
                        { 
                            headerName:"Channel",
                            field:"channel",
                            suppressFilter: true,
                            suppressMenu: true,
                        },{ 
                            headerName: "Format",
                            field: "format",
                            suppressFilter: true,
                            suppressMenu: true,
                        },{
                            headerName: "Everyday Price(SRP)",
                            field: "SRP",
                            suppressFilter: true,
                            suppressMenu: true,
                            cellRenderer:function(params){
                                 return $("#price-everyday").html();
                             }
                        },{
                            headerName: "Wholesale Price(WSP)",
                            field: "price_grade",
                            suppressFilter: true,
                            suppressMenu: true,
                            cellRenderer:function(params){
                                return $("#price-wholesale").html();
                            }
                            
                        },{
                            headerName: "Volume",
                            field: "volume",
                            suppressFilter: true,
                            suppressMenu: true,
                            cellRenderer:function(params){
                                 return $("#volume").html();
                             }    
                            
                        },{
                            headerName: "",
                            field:"delete",
                            width:80,
                            suppressFilter: true,
                            suppressMenu: true,
                            cellRenderer: function(params) {
                                return $("#deleteRow").html();
                            }
                        }
                        
                    ];
                    
                      
               
                  $scope.saveData=function(){
                  }

                  $scope.massUpdate = function() {
                      $scope.showMassUpdateModal = true;
                  }
                    $scope.fetchTable=function(row,tableId){
                       
                         //$scope.gridOptions.api.setRowData(row.child_records);
                         //$scope.gridOptions.api.refreshCells();
                         //row.gridOptions=$scope.gridOptions;
                        
                          //$scope.gridOptions.api.refreshCells(params);
                            //var gridDiv = document.querySelector('#'+tableId);
                      
                          //$scope.gridOptions.rowData=row.child_records;
                          //new agGrid.Grid(gridDiv,$scope.gridOptions); 
                          var isCollapsed=row.isCollapsed;
                          hideShowProgress(false,true);
                          var checkapiInitialized;
                          angular.forEach($scope.catalogWrapper,function(record,index){
                              record.isCollapsed=true;
                          })
                          row.isCollapsed=!isCollapsed;
                          
                         if(!row.isCollapsed){
                             $scope.gridOptions.onGridReady=function(params){
                                 params.api.setRowData(row.child_records); 
                                //setTimeout(function(){
                                        params.api.sizeColumnsToFit();
                                  // },20);
                             }
                             hideShowProgress(false,false); 
                         /*setTimeout(function(){
                              if($scope.gridOptions.api!=null){
                               $scope.gridOptions.api.setRowData(row.child_records); 
                               clearTimeout(checkapiInitialized);
                               
                              }else{
                              $scope.gridOptions.rowData=row.child_records;
                              }
                              hideShowProgress(false,false);  
                              
                          },500);*/
                          
                         } else{
                              hideShowProgress(false,false);
                         }
                          
                         //$scope.gridOptions.api.updateRowData(row.child_records);
                          
                        
                    }
                   
                        $scope.loadData = function() {
                        $scope.catalogWrapper=[
  {
    "status": "Approved",
    "catalog": "#12345",
    "catalog_name": "Kingsman 2",
    "local_catalog_name": "Kingsman 2",
    "catlog_type": "single",
    "isCollapsed":true,
    "notes":"yes",
    "startDate":"12-Aug-2017",
    "endDate":"30-Mar-2017",
    "child_records": [
      {
        "name": "Kingsman 1",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "EST",
        "format": "HD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      },
      {
        "name": "Kingsman 1",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "EST",
        "format": "SD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      },
      {
        "name": "Kingsman 1",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "VOD",
        "format": "HD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      },
      {
        "name": "Kingsman 1",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "VOD",
        "format": "SD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      }
    ]
  },
  {
    "status": "Approved",
    "catalog": "#12345",
    "catalog_name": "Kingsman 1",
    "local_catalog_name": "Kingsman 2",
    "catlog_type": "single",
    "isCollapsed":true,
    "notes":"yes",
        "startDate":"12-Aug-2017",
        "endDate":"30-Mar-2017",
    "child_records": [
      {
        "name": "Kingsman 144",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "EST",
        "format": "HD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      }
    ]
  },
  {
    "status": "Approved",
    "catalog": "#12345",
    "catalog_name": "Kingsman",
    "local_catalog_name": "Kingsman 2",
    "catlog_type": "single",
    "isCollapsed":true,
    "notes":"yes",
        "startDate":"12-Aug-2017",
        "endDate":"30-Mar-2017",
    "child_records": [
      {
        "name": "Kingsman 122",
        "sku": "",
        "SRP": "$12.99",
        "WSP": "$12.99",
        "volume": 456,
        "region": "US",
        "isSelected":true,
        "channel": "EST",
        "format": "HD",
        "price_grade": "$12.99-$39.99",
        "status": "draft",
        "delete": "no",
        "model_sku":"sample data"
      }
    ]
  }
]; 
           //$scope.gridOptions.api.setRowData($scope.catalogWrapper[0].child_records);
                      
                    }  ;
                     $scope.loadData();
                       
                        $scope.gridOptions = {
                        columnDefs: columnDefn,
                        rowData:null,
                        domLayout:"autoHeight",
                        masterDetail: true,
                        rowSelection: 'multiple', 
                        rowHeight: 40,
                        angularCompileRows: true,
                        angularCompileHeaders: true,
                        defaultColDef: {
                              filterParams: {clearButton:true}
                        },
                        enableFilter: true,
                        enableSorting: false,
                        suppressLoadingOverlay:true,
                        toolPanelSuppressSideButtons: true,
                        onGridReady: function() {
                            //$scope.gridOptionsFAD.api.setRowData($scope.approvalDetails);
                            $scope.gridOptions.api.sizeColumnsToFit();
                        }
                    };
                    $scope.gridOptions.onCellClicked=function(params){

                    }
                    
                  
                $scope.addProducts = function(){
                    window.location.href = '/apex/HEP_Promotion_CustomerAddProducts';
                }
                   
                };
                

            </script>
     </body>
</apex:page>