<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" docType="html-5.0" standardStylesheets="false" controller="HEP_ReleaseChange_Report_Controller">
    <c:HEP_Navigation_Menu_Component >
    </c:HEP_Navigation_Menu_Component>

    <body ng-app="PromotionsApp">
        <div ng-controller="HEP_Reports_ReleaseChangeTracker_Ctrl" class="minwrap-container mainContainerApprovals approval-dates" ng-cloak="true">
            <div ng-if="singleLoad==true || selectedTab ==true">          
                <div class="hep-loaded-content" style="display:none;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <label class="promotionDetailsHeader marginBottom17">Reports</label>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                            <label class="promotionDetailsHeader marginBottom17">Change Tracker</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero">
                            <div class="form-group">
                                <label class="Field-Label">Territory*
                                </label>
                                <select class="Input-Field whiteDD" ng-model="selectedTerritory" ng-options="x.sValue for x in objPicklistWrapper.lstTerritories" >
                                    <option value="" style="display: none">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero marginTop25">
                            <button class="hep-btn marginRight15 pull-left" ng-click="reportRecord(selectedTerritory)">Run Report</button>
                            <div class="pull-left marginTop10"><a href="" class="pull-right pointer-cursor" ng-click="onButtonExport();">Export </a><span class="hep-export-icon pull-right"></span></div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero">
                             <div class="form-group">
                                <label class="Field-Label">Sort Order
                                </label>
                                <select class="Input-Field whiteDD" ng-model="selectedSortOrder" ng-options="x for x in sortOrderTypes" ng-change="applySorting(selectedSortOrder)">
                                    <option value="" style="display: none">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="marginTop25">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero marginBottom10 gheader-wrap’">
                                <div class="ag-theme-material" ag-grid="gridOptions"></div>
                                <div class="paginationContainer"><span class="paginationLabel">Show :</span> <a ng-repeat="i in paginationArray track by $index" ng-click="selectedPaginationOption($index);onPageSizeChanged(i)" class="totalItems pointer-cursor" ng-class="{active: $index == selected}" id="{{$index}}">{{i}}</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero marginBottom10">
                            <div class="text-right">Run on: {{dateTime.toUTCString()}}</div>
                        </div>
                    </div>
                
                </div> 
                <!-- Animation tab starts -->
                <div class="minwrap-container ph-master-anim">
                        <div class="row paddingTop27">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                                <label class="promotionDetailsHeader marginBottom17"><div class="show-anim pd-header"></div></label>
                                <div class="separator"></div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingZero">
                                <div class="form-group">
                                    <label for="LOB" class="Field-Label"><div class="show-anim pd-header"></div></label>
                                    <div class="show-anim pd-header"></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <div class="show-anim pd-header"></div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingZero">
                            <div class="show-anim pd-header"></div>
                            </div>
                        </div>
                
                        <div class="clearfix"></div>
                    
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingZero">
                                <div>
                                <div class="ph-master-anim-rights">
                                    <table class="table-anim">
                                        <thead>
                                            <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                            <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                            <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                            <th class=""><span class="dgs-anim-3 show-anim"></span></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in phData.tableInfo track by $index">
                                                <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                                <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                                <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                                <td class=""><span class="dgs-anim-4 show-anim"></span><span class="dgs-anim-5 show-anim"></span><span class="dgs-anim-6 show-anim"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Animation tab ends-->
            </div>
        </div>
        <script>
            var pageName = "{!$CurrentPage.name}";
            agGrid.LicenseManager.setLicenseKey(sAgGridLicenseKey);
            agGrid.initialiseAgGridWithAngular1(angular);

            // load app only if its not already loaded so that its not overwritten
            if(app)
               {}
            else
            var app = angular.module("PromotionsApp", ['ui.bootstrap','agGrid','angular-click-outside']);
            
            //controller function  
            app.controller("HEP_Reports_ReleaseChangeTracker_Ctrl", HEP_Reports_ReleaseChangeTracker_Ctrl);

            /**
      * Defining the service
      **/
     function getData_HEP_Reports_ReleaseChangeTracker($q) {
     
        //get picklist values on load
         var PicklistData = function() {
             var deferred = $q.defer();
            
             HEP_ReleaseChange_Report_Controller.getPicklistData(
                 function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }
     
         //get table data
         var reportRecord = function(objPicklistValue, sLocaleDateFormat) {
             var deferred = $q.defer();
             
             HEP_ReleaseChange_Report_Controller.getPageData(objPicklistValue, sLocaleDateFormat,
              function(result, event) {
                     if (event.status) {
                         deferred.resolve(result);
                     } else {
                         deferred.reject(
                             'Error Processing the Request :  ' +
                             event.message);
                     }
                 }, {
                     escape: false
                 });
             return deferred.promise;
         }
         
                 
         return {
             PicklistData: PicklistData,
             reportRecord: reportRecord
         };
     }

        app.factory('getData_HEP_Reports_ReleaseChangeTracker', getData_HEP_Reports_ReleaseChangeTracker);

            function HEP_Reports_ReleaseChangeTracker_Ctrl($scope, getData_HEP_Reports_ReleaseChangeTracker,$filter){
                
                $scope.singleLoad = false;
                $scope.selectedTab = false;
                $scope.dateTime = '';
                $scope.dateTimeUTC = '';
                $scope.EnddateTime = '';
                $scope.localeDateFormat =  sLocaleDateFormat;
                $scope.dateOptions = dateOptions;
                $scope.dateOptions.dateDisabled = false;
                $scope.altDateFormat = allDateFormats;

                $scope.sortOrderTypes =["Date","Title / Promotion Name","Marketing Manager","Category","Licensor","Change Type"];
                
                $scope.selectedSortOrder = $scope.sortOrderTypes[0];
                
                //Menu Component load function
                $(".hep-navbar").fadeIn();
                
                //dummy data for placeholder animation  
                $scope.phData = {
                    "tableInfo": new Array(9)
                }
        
                //Responsiveness check - Starts
                fetchWindowSize();
        
                $(window).resize(function() {
                    $timeout(function() {
                        fetchWindowSize();
                    });
        
                });
                //Responsiveness check - Ends
        
                // ag-grid column definitions
                var columnDefn = [
                    {
                        headerName:"Date",
                        field:"dtChangeDate",
                        tooltipField:"dtChangeDate",
                        filterParams: {
                        comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                            },clearButton: true
                        },
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        cellRenderer: function(params){
                            if(params.value=="" || params.value==null)
                                return '-';
                            else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                            else 
                                return '<span>{{data.dtChangeDate|date:localeDateFormat: \'UTC\' }}</span>';
                        },
                      filter: "agDateColumnFilter",
                      sort: "desc"
                    },{
                        headerName:"Territory",
                        field:"sTerritory",
                        tooltipField:"sTerritory",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agSetColumnFilter"
                    },{
                        headerName:"Licensor",
                        field:"sLicensor",
                        tooltipField:"sLicensor",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"Category",
                        field:"sLOB",
                        tooltipField:"sLOB",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"Promotion Name",
                        field:"sPromotionName",
                        tooltipField:"sPromotionName",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"Promo Code",
                        field:"sPromocode",
                        tooltipField:"sPromocode",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"Local FAD",
                        field:"dtFAD",
                        tooltipField:"dtFAD",
                       filterParams: {
                        comparator: function(filterLocalDateAtMidnight, cellValue) {
                                if (filterLocalDateAtMidnight.toDateString() == new Date(cellValue).toDateString()) {
                                    return 0;
                                }
                                if (cellValue < filterLocalDateAtMidnight) {
                                    return -1;
                                }
                                if (cellValue) {
                                    return 1;
                                }
                            },clearButton: true
                        },
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        cellRenderer: function(params){
                            if(params.value=="" || params.value==null)
                                return '-';
                            else if(params.value!=null && params.data==undefined) return '<span>'+params.value+'</span>';
                            else 
                                return '<span>{{data.dtFAD|date:localeDateFormat: \'UTC\' }}</span>';
                        },
                      filter: "agDateColumnFilter"
                    },{
                        headerName:"Marketing Manager",
                        field:"sMarketingManager",
                        tooltipField:"sMarketingManager",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agSetColumnFilter"
                    },{
                        headerName:"Change Type",
                        field:"sChangeType",
                        tooltipField:"sChangeType",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"Old Value",
                        field:"sPromotionOldValue",
                        tooltipField:"sPromotionOldValue",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agTextColumnFilter"
                    },{
                        headerName:"New Value",
                        field:"sPromotionNewValue",
                        tooltipField:"sPromotionNewValue",
                        menuTabs:['filterMenuTab','generalMenuTab'],
                        filter:"agSetColumnFilter"
                    }
                ];
                
                //grid options for the ag grid
                $scope.gridOptions = {
                        columnDefs: columnDefn,
                        rowData: null,
                        angularCompileRows: true,
                        domLayout: "autoHeight",
                        rowHeight: 40,
                        headerHeight: 58,
                        enableFilter: true,
                        suppressAutoSize: false,
                        enableRangeSelection : true,
                        rowBuffer: 10000,
                        suppressMovableColumns: true,
                        suppressClickEdit: true,
                        pagination:true,
                        paginationPageSize: 25,
                        suppressColumnVirtualisation: true,
                        enableColResize: true,
                        enableSorting: true,
                        suppressLoadingOverlay:true,
                        toolPanelSuppressSideButtons: true,
                        rowStyle: {"background-color": "#fff"}, 
                        alignedGrids: [],
                        defaultColDef: {
                            menuTabs:['filterMenuTab','generalMenuTab'],
                            filterParams: {clearButton: true}
                        },
                        onGridReady: function() {
                            $scope.gridOptions.api.setRowData($scope.tradeScheduleData);
                            setTimeout(function(){
                                if(window.innerWidth >= 1440) {
                                    $scope.gridOptions.api.sizeColumnsToFit();
                                }
                            },100);
                        },
                            excelStyles:[ 
                                        {
                                            id: 'bigHeader',
                                            font: {
                                                size: 25,
                                            },
                                            alignment: {
                                                horizontal : 'Center',
                                            }
                                        },
                                        {
                                            id: 'header',
                                            interior: {
                                                color: '#CCCCCC',
                                                pattern: 'Solid'
                                            },
                                            font:{
                                              bold : true,
                                            }
                                        },
                                        
                            ] 
                        
                    };
                
               
                // one lister event for each child tab that handles 
                // load, save, navigate
                 $scope.$on('HEP_Reports_ReleaseChangeTracker', function(event, data) {
                    
                    if(data == 'load'){
                        $scope.selectedTab = true;
                    }
                    else if(data == 'navigate'){
                        $scope.$emit('navigateNext', '');
                        $scope.selectedTab = false;
                    }
                });
                
                // called on pageload -load data function
                $scope.loadData = function(bFirstLoad){
                    hideShowProgress(bFirstLoad, true);
                var promise = getData_HEP_Reports_ReleaseChangeTracker.PicklistData(); 
                    
                     promise.then(function(obj) {
                    $scope.objPicklistWrapper = obj;
                     
                     angular.forEach($scope.objPicklistWrapper.lstTerritories,function(value,key){
                            if(value.sValue == "DHE") {
                                $scope.selectedTerritory = value;
                            }
                     });
                    
                                    
                        //$scope.gridOptions.api.setRowData($scope.objPageData.lstPromotionReportData);
                        hideShowProgress(bFirstLoad, false);

                       
                    
                }, function(reason) {
                    hideShowProgress(bFirstLoad,false);
                    alert('Error : ' + reason.message);
                    throw reason;
                }, function(update) {
                    hideShowProgress(bFirstLoad,false);
                });
                }
                
                // gets the data to be shown when report is run
                $scope.reportRecord = function(selectedTerritory){
                    hideShowProgress(false,true);
                    var promise = getData_HEP_Reports_ReleaseChangeTracker.reportRecord(selectedTerritory.sKey, $scope.localeDateFormat);

                    promise.then(function(obj) {
                    $scope.objPageData = obj;
                     
                                               
                        angular.forEach($scope.objPageData.lstPromotionReportData, function(value, key) {
                            if (value.dtChangeDate != null && value.dtChangeDate != undefined) {
                                value.dtChangeDate = new Date(value.dtChangeDate);
                            }
                            if (value.dtFAD != null && value.dtFAD != undefined) {
                                value.dtFAD = new Date(value.dtFAD);
                            }
                            
                        });

                        var todayDate = new Date();
                        $scope.dateTime = todayDate;
                        //$scope.dateTimeUTC = todayDate.To
                        //$scope.dateTime = new Date();
                        var year = todayDate.getFullYear();
                        var month = todayDate.getMonth();
                        var day = todayDate.getDate();
                        var oneYrMore = new Date(year , month, day-28);
                        $scope.EnddateTime = oneYrMore;
                        //$scope.EnddateTime = new Date().add            
                        $scope.gridOptions.api.setRowData($scope.objPageData.lstPromotionReportData);
                            setTimeout(function(){
                                if(window.innerWidth >= 1440) {
                                    $scope.gridOptions.api.sizeColumnsToFit();
                                }
                            },100);
                        hideShowProgress(false, false);

                       
                    
                }, function(reason) {
                    hideShowProgress(false, false);
                    alert('Error : ' + reason.message);
                    throw reason;
                }, function(update) {
                    hideShowProgress(false, false);
                });
                }
                
                // sorting based on sort parameter
                $scope.applySorting = function(sortOrder){
                    var sort;
                    if(sortOrder == "Date") {
                        sort = [
                            {colId: 'dtChangeDate', sort: 'desc'}
                        ];
                    } else if(sortOrder.indexOf("Title")!= -1) {
                        sort = [
                            {colId: 'sPromotionName', sort: 'asc'}
                        ];
                    } else if(sortOrder == "PM") {
                        sort = [
                            {colId: 'sMarketingManager', sort: 'asc'}
                        ];
                    } else if(sortOrder == "Category") {
                        sort = [
                            {colId: 'sLOB', sort: 'asc'}
                        ];
                    } else if(sortOrder == "Licensor") {
                        sort = [
                            {colId: 'sLicensor', sort: 'asc'}
                        ];
                    } else if(sortOrder == "Change Type") {
                        sort = [
                            {colId: 'sChangeType', sort: 'asc'}
                        ];
                    } 
                    $scope.gridOptions.api.setSortModel(sort);
                }
                
                $scope.paginationArray = [25,50,100,'All'];
                $scope.selected = 0;
                
        
                //function to apply pagination
                $scope.onPageSizeChanged = function(newPageSize) {
                    if(newPageSize == 'All') {
                        var all = $scope.gridOptions.api.paginationGetRowCount();
                        $scope.gridOptions.api.paginationSetPageSize(Number(all));
                    }
                    else
                        $scope.gridOptions.api.paginationSetPageSize(Number(newPageSize));
                }
        
                //funtion to select active pagination number
                $scope.selectedPaginationOption= function(index) {
                    $scope.selected = index; 
                };
    
                  //Export functionality
                  $scope.onButtonExport = function() {
                        var ExcelParams = {
                            fileName: "Release Change Tracker",
                            columnGroups: false,
                            allColumns: true,
                           // skipGroups: true,
                        };

                        ExcelParams.processCellCallback = function(params) {
                               var search = ''
                               var returnval = '';
                               if(params.value !== undefined && params.value !== '')
                               {   
                                    search = params.value;
                                    if(params.column.getColId() =='dtChangeDate' || params.column.getColId() =='dtFAD' ){
                                       
                                            search = $filter('date')(params.value, $scope.localeDateFormat, 'UTC');
                                    }
                                    returnval = search;
                               } 
                               
                                return returnval;
                        };
            

                        ExcelParams.customHeader  =[
                                     [],
                                     [{styleId: 'bigHeader', data:{type:'String', value:'Release Change Tracker'}, mergeAcross:10}],
                                     [{data:{type:'String', value:'Date Range: '+$filter('date')($scope.EnddateTime, $scope.localeDateFormat, 'UTC')+ ' To '+$filter('date')($scope.dateTime, $scope.localeDateFormat, 'UTC')}}],
                                     [{data:{type:'String', value:'Report Execution Time: ' +$scope.dateTime.toUTCString() }, mergeAcross:10}],
                                     []
                        ];
                      /*  ExcelParams.customFooter  =[
                                     [],
                                     [{data:{type:'String', value:'Report Execution Time: ' +$scope.dateTime }, mergeAcross:10}]
                        ];*/
                        $scope.gridOptions.api.exportDataAsExcel(ExcelParams);
                }

                
                
                // call the load data only if this page is tested standalone
                // else call an event on parent to say its loaded
                if(pageName == "HEP_Reports_ReleaseChangeTracker"){
                
                    $scope.loadData(true); 
                    $scope.singleLoad = true;
                }
                else{
                    $scope.$emit('sectionLoader', 'HEP_Reports_ReleaseChangeTracker');
                }
            }
            
        </script>
    </body>
</apex:page>