<!-- 
 * Page Name    : HEP_ViewRuleCriterion
 * Description  : Rule Criterion View Page.    
 * Created By   : Nidhin V K
 * Created On   : 07-27-2016

 * Modification Log:  
 * --------------------------------------------------------------------------------------------------------------------------------------
 * Developer                Date        Modification ID      Description 
 * --------------------------------------------------------------------------------------------------------------------------------------
 * Nidhin V K            07-27-2016        1000            Initial version
 *
 *
 -->
<apex:page standardController="HEP_Rule_Criterion__c"
    extensions="HEP_RuleCriterionExtension">
    <apex:sectionHeader title="Rule"
        subtitle="{!HEP_Rule_Criterion__c.Name}" />
    <!-- Go Back Link -->
    <div class="ptBreadcrumb">
        &nbsp;«&nbsp;
        <apex:outputLink value="/apex/HEP_ViewRule?id={!HEP_Rule_Criterion__c.HEP_Rule__r.Id}">Back to : Rule
        </apex:outputLink>
    </div>
    <apex:form >
        <apex:pageBlock tabStyle="HEP_Rule_Criterion__c" title="Rule"
            mode="maindetail" id="pageBlock">
            <apex:pageMessages rendered="{!bShowError}" />
            <apex:pageBlockButtons >
                <apex:commandButton value="Edit" action="{!edit}"
                    rendered="{!NOT(bShowError)}" />
                <apex:commandButton value="Delete" action="{!deleteCriteria}"
                    rendered="{!NOT(bShowError)}" />
            </apex:pageBlockButtons>

            <apex:pageBlockSection title="Information" columns="2"
                collapsible="false">

                <apex:outputField id="nameID"
                    value="{!HEP_Rule_Criterion__c.HEP_Serial_Number__c}" />

                <apex:outputField id="sobjID"
                    value="{!HEP_Rule_Criterion__c.HEP_Rule__c}" />

                <apex:outputField id="descID"
                    value="{!HEP_Rule_Criterion__c.HEP_Source_SObject_Field__c}" />

                <apex:outputField id="valToCmpID"
                    value="{!HEP_Rule_Criterion__c.HEP_Value_to_Map__c}" />

                <apex:outputField value="{!HEP_Rule_Criterion__c.HEP_Operator__c}" />

                <apex:outputField value="{!HEP_Rule_Criterion__c.HEP_Target_Task_Field__c}" />

                <apex:outputField value="{!HEP_Rule_Criterion__c.HEP_Value_To_Compare__c}" />

                <apex:outputlabel />

                <apex:outputField id="CreatedById"
                    value="{!HEP_Rule_Criterion__c.CreatedById}" />

                <apex:outputField id="CreatedDate"
                    value="{!HEP_Rule_Criterion__c.LastModifiedById}" />

                <apex:outputField id="LastModifiedId"
                    value="{!HEP_Rule_Criterion__c.CreatedDate}" />

                <apex:outputField id="LastModifiedDate"
                    value="{!HEP_Rule_Criterion__c.LastModifiedDate}" />

            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>