<!--

Visual Force Email Template for Approval Request in Dating
------------------------------------------------------------------------------
Name:               HEP_Global_Promotion_Created_Component
Description:        VF Template for Approval Request in Dating to be shown In Email
Created By:         Ayan Sarkar
Created On:         28-04-2018
Version:            1.0

-------------------------------------------------------------------------------
                    Change Log:
-------------------------------------------------------------------------------
Date            Modified By         LOC changed   
22/2/2018       Nishit              58-74
-->

<apex:component access="global" controller="HEP_Global_Promotion_Created_Controller">
<apex:attribute access="global" assignTo="{!promotionId}" name="promid" type="String" description="Dating Record Id" />
<head>     
   <style>
body,.spend-email{
     max-width:1000px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 .heading{
     color:#ED7D31;
     font-size:18px;
     font-weight:bold;
     padding-bottom:30px;
     border-bottom:solid 2px #ED7D31;
     margin-bottom:25px;
}
 .hp-link,a{
     color:#0070C0;
}
 .spend-header{
     color:#000;
     font-size:14px;
     font-weight:bold;
}
 .spend-block{
     margin-bottom:12px;
}

 .spend-info{
     color:#808080;
     font-size:14px;
     font-weight:bold;
}
 .spend-table{
     margin-bottom:40px;
}
 table{
     border-collapse:collapse;
     max-width: 1000px;
     font-size:14px;
}
 thead,.orange-bg{
     background-color:#ED7D31;
     color:#fff;
     font-weight:bold;
}
 tbody{
     color:#000;
}
 td{
     padding:8px;
     border:1px solid #000;
     text-align:left;
     vertical-align:top;
}
 th{
     padding:8px;
     text-align:left;
     border:1px solid #000;
}
 .footer-stmts{
     color:#808080;
     font-weight:bold;
     margin-bottom:15px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 .blk-font{
     color:#000;
}
 .footer-stmts .hp-link{
     text-decoration:underline;
}
 .total-sum{
     font-weight:normal;
     color:#000;
}
 .hand-cursor{
     cursor:pointer;
}
 .ul-font{
     text-decoration:underline;
}
 .blk-ul-font{
     text-decoration:underline;
     color:#000;
}
.comments-block{
    margin:30px 0 40px 0;
}

</style>
</head>

<div class="spend-email">
  <div class="heading">A global promotion has been created. Please create your territory promotion and link to the global promotion.<br/><br/>
  	<span class="spend-info">To view the Global Promotion, Click <!-- <a href="/apex/HEP_Promotion_Details?promoId=objPromotionWrap.promotionId">Here</a></span> -->

    <a href="{!objPromotionWrap.sHref}">Here</a></span>

  </div>

 <div class="spend-details">
     <div class="spend-block">
         <span class="spend-header">ACTION REQUIRED BY: </span>
         <span class="spend-info">Local Marketing Manager</span>
     </div>
      <div class="spend-block">
         <span class="spend-header">Territory: </span>
         <span class="spend-info">{!objPromotionWrap.sTerritory}</span>
     </div>
      <div class="spend-block">
         <span class="spend-header">Promotion Name: </span>
         <span class="spend-info">{!objPromotionWrap.sPromotionName}</span>
     </div>
     
    
      <div class="spend-block">
         <span class="spend-header">Promotion #: </span>
         <span class="spend-info">{!objPromotionWrap.sPromoNumber}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Global FAD: </span>
         <span class="spend-info">{!objPromotionWrap.sFAD}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">HO Domestic Brand Manager:</span>
         <span class="spend-info">{!objPromotionWrap.sDomesticMarketingManager}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">HO International Brand Manager:</span>
         <span class="spend-info">{!objPromotionWrap.sInternationalMarketingManager}</span>
     </div>
     
      <div class="spend-block">
     
 </div>

 </div>

 <div class="heading"></div>
 </div>

<!-- ---------------------------Body [Ends]-------------------------------------------------------------->     
</apex:component>