<apex:component access="global" controller="HEP_SKU_Activation_Rejection">
<apex:attribute access="global" assignTo="{!recordApproverIdForSKUPromotion}" name="skuPromotionRecord" type="String" description="SKU Promotion Id" />
<head>     
    <style>
        body{
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        .heading{
           color:#ED7D31;
           font-size:18px;
           font-weight:bold;
           padding-bottom:30px;
           border-bottom:solid 2px #ED7D31;
           margin-bottom:25px;
        }
        .Line-Space{
           LINE-HEIGHT:80px;
        }
        table{
           border-collapse:collapse;
           max-width: 1000px;
           font-size:14px;
        }
        thead,.orange-bg{
          background-color:#ED7D31;
          color:#fff;
          font-weight:bold;
        }
        tbody{
          color:#000;
        }
        td{
          padding:8px;
          border:1px solid #000;
          text-align:left;
          vertical-align:top;
        }
        th{
          padding:8px;
          text-align:left;
          border:1px solid #000;
         }
     
     </style>    
</head>   
<body>      
     <div class="heading">{!objApprovalwrapper.sEmailTitle}<br/><br/>
     </div>            
     <div class="main row">
        <div class="row">
            <span><label for="Code"><b>Territory:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sTerritory}</span>
        </div>
        <div class="row">
            <span><label for="Code"><b>Promotion Name:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sPromotionName}</span>
        </div>
        <div class="row">
            <span><label for="Code"><b>Promotion #:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sPromotionCode}</span>
        </div>
        <div class="row">
            <span><label for="Code"><b>Territory FAD:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sTerritoryFAD}</span>
        </div>
        <div class="row">
            <span><label for="Code"><b>Digital FAD:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sDigitalFAD}</span>
        </div>
        <div class="row">
            <span><label for="Code"><b>Local Marketing Manager:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
            <span>{!objApprovalwrapper.sLocalMarketingManager}</span>
        </div>
        
        <div class="heading"></div>
        <br/>
        
    </div> 
    <tr style="width:100%">
            <td style="width:100%; border:solid 1px #000; padding:16px 25px">
                <table id="tableID" cellpadding="10" style="overflow:auto;width:100%;font-family:Arial;font-size:14px;border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                    <thead>
                         <tr>
                         <th style="border:solid 2px #d1cfcf">SKU #</th>
                         <th style="border:solid 2px #d1cfcf">SKU Name</th>
                         <th style="border:solid 2px #d1cfcf">Channel</th>
                         <th style="border:solid 2px #d1cfcf">Format</th>
                         <th style="border:solid 2px #d1cfcf">Region</th>
                         <th style="border:solid 2px #d1cfcf">Price Grade</th>
                         <th style="border:solid 2px #d1cfcf">SKU Configuration</th>
                         <th style="border:solid 2px #d1cfcf">Customer</th>
                         <th style="border:solid 2px #d1cfcf">Comments</th>
                         </tr>
                    </thead>
                    <tbody>
                          
                    <apex:repeat var="emInd" value="{!objApprovalwrapper.lstPriceRegion}">             
                     
                        <tr style="{!IF(emInd != null,'background-color:#f2f2f2','background-color:#fff')}">
                             <td align="center" valign="middle">{!emInd.sSKUNumber}</td>
                             <td align="center" valign="middle">{!emInd.sSKUName}</td>
                             <td align="center" valign="middle">{!emInd.sChannel}</td>
                             <td align="center" valign="middle">{!emInd.sFormat}</td>
                             <td align="center" valign="middle">{!emInd.sRegion}</td>
                             <td align="center" valign="middle">{!emInd.sPriceGrade}</td>
                             <td align="center" valign="middle">{!emInd.sSKUConfig}</td>
                             <td align="center" valign="middle">{!emInd.sCustomer}</td>
                             <td align="center" valign="middle">{!emInd.sComments}</td>
                             
                             
                        </tr> 
                    </apex:repeat> 
                    </tbody>
                </table>
            </td>
        </tr>  
</body>  
</apex:component>