<!--

Visual Force Email Template for sending email reminder 1 week prior to lock date
------------------------------------------------------------------------------
Name:               HEP_SKU_Lock_Email_Reminder
Description:        VF Template for sending email reminder 1 weeks prior to lock date
Created By:         Gaurav Mehrishi
Created On:         18-05-2018
Version:            1.0
-->

<apex:component access="global" controller="HEP_Dating_Lock_Email_Reminder">
<apex:attribute access="global" assignTo="{!prDatingId}" name="promid" type="String" description="Promotion Dating Record Id" />
<head>     
   <style>
body,.spend-email{
     max-width:1000px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 .heading{
     color:#ED7D31;
     font-size:18px;
     font-weight:bold;
     padding-bottom:30px;
     border-bottom:solid 2px #ED7D31;
     margin-bottom:25px;
}
 .hp-link,a{
     color:#0070C0;
}
 .spend-header{
     color:#000;
     font-size:14px;
     font-weight:bold;
}
 .spend-block{
     margin-bottom:12px;
}

 .spend-info{
     color:#808080;
     font-size:14px;
     font-weight:bold;
}
 .spend-table{
     margin-bottom:40px;
}
 table{
     border-collapse:collapse;
     max-width: 1000px;
     font-size:14px;
}
 thead,.orange-bg{
     background-color:#ED7D31;
     color:#fff;
     font-weight:bold;
}
 tbody{
     color:#000;
}
 td{
     padding:8px;
     border:1px solid #000;
     text-align:left;
     vertical-align:top;
}
 th{
     padding:8px;
     text-align:left;
     border:1px solid #000;
}
 .footer-stmts{
     color:#808080;
     font-weight:bold;
     margin-bottom:15px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 .blk-font{
     color:#000;
}
 .footer-stmts .hp-link{
     text-decoration:underline;
}
 .total-sum{
     font-weight:normal;
     color:#000;
}
 .hand-cursor{
     cursor:pointer;
}
 .ul-font{
     text-decoration:underline;
}
 .blk-ul-font{
     text-decoration:underline;
     color:#000;
}
.comments-block{
    margin:30px 0 40px 0;
}

</style>
</head>

<div class="spend-email">
  <div class="heading">This is a reminder that your promotion Date will lock in one week.<br/><br/>
  Finish any date changes before the lock date.*
  </div>

 <div class="spend-details">
     <div class="spend-block">
         <span class="spend-header">ACTION REQUIRED BY: </span>
         <span class="spend-info">{!objPrDatingWrap.sDomesticMarketingManager}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Promotion Name: </span>
         <span class="spend-info">{!objPrDatingWrap.sPromotionName}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Date Type: </span>
         <span class="spend-info">{!objPrDatingWrap.sDateType}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Lock Date:</span>
         <span class="spend-info">{!objPrDatingWrap.sLockedDate}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Local FAD: </span>
         <span class="spend-info">{!objPrDatingWrap.sFAD}</span>
     </div>
     <div class="spend-block">
         <span class="spend-header">Local Marketing Manager:</span>
         <span class="spend-info">{!objPrDatingWrap.sDomesticMarketingManager}</span>
     </div>
     
     
      <div class="spend-block">
     
 </div>

 </div>

 <div class="heading"></div>
 <span class="spend-info"> *Dates can be unlocked with approval.</span>
 </div>

<!-- ---------------------------Body [Ends]-------------------------------------------------------------->     
</apex:component>