<apex:component access="global" controller="HEP_Spend_ApprovalController">
    <apex:attribute access="global" name="approverRecord" assignTo="{!sApproverId}" type="String" description="Approver Record Id" />   
    <style>
        body,.spend-email{
             max-width:1000px;
             font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
         .heading{
             color:#ED7D31;
             font-size:18px;
             font-weight:bold;
             padding-bottom:30px;
             border-bottom:solid 2px #ED7D31;
             margin-bottom:25px;
        }
        .headingblue {
            color:#2600BB;
            font-size:18px;
            font-weight:bold;
            padding-bottom:30px;
            border-bottom:solid 2px #ED7D31;
            margin-bottom:25px;
        }
         .hp-link,a{
             color:#0070C0;
        }
         .spend-header{
             color:#000;
             font-size:14px;
             font-weight:bold;
        }
         .spend-block{
             margin-bottom:12px;
        }
         .spend-details{
             padding-bottom:20px; 
             border-bottom:solid 2px #ED7D31;
             margin-bottom:30px;
        }
         .spend-info{
             color:#808080;
             font-size:14px;
             font-weight:bold;
        }
         .spend-table{
             margin-bottom:40px;
        }
         table{
             border-collapse:collapse;
             max-width: 1000px;
             font-size:14px;
        }
         thead,.orange-bg{
             background-color:#ED7D31;
             color:#fff;
             font-weight:bold;
        }
         tbody{
             color:#000;
        }
         td{
             padding:8px;
             border:1px solid #000;
             text-align:left;
             vertical-align:top;
        }
         th{
             padding:8px;
             text-align:left;
             border:1px solid #000;
        }
         .footer-stmts{
             color:#808080;
             font-weight:bold;
             margin-bottom:15px;
        }
         .blk-font{
             color:#000;
        }
         .footer-stmts .hp-link{
             text-decoration:underline;
        }
         .total-sum{
             font-weight:normal;
             color:#000;
        }
         .hand-cursor{
             cursor:pointer;
        }
         .ul-font{
             text-decoration:underline;
        }
         .blk-ul-font{
             text-decoration:underline;
             color:#000;
        }
        
    </style>
    <div class="spend-email">
        
        <div class="heading">{!objTemplateWrapper.sEmailTitle}</div>
        
     <div class="spend-details">
         <div class="spend-block">
             <span class="spend-header">Promotion Name: </span>
             <span class="spend-info"><a href="{!sPromotionLink}">{!objTemplateWrapper.sPromoName}</a></span>
         </div>
         <div class="spend-block">
             <span class="spend-header">Promotion Code: </span>
             <span class="spend-info">{!objTemplateWrapper.sPromoCode}</span>
         </div>
         <div class="spend-block">
             <span class="spend-header">Request Date: </span>
             <span class="spend-info">{!objTemplateWrapper.sReqDate}</span>
         </div>
         <div class="spend-block">
             <span class="spend-header">Promotion FAD: </span>
             <span class="spend-info">{!objTemplateWrapper.sPromoFAD}</span>
         </div>
         <div class="spend-block">
             <span class="spend-header">Marketing Manager: </span>
             <span class="spend-info">{!objTemplateWrapper.sBrandManager}</span>
         </div>
         <div style="display:{! if(sRecordStatus == 'Pending','block','none')}" class="spend-block">
             <span class="spend-header">Comment: </span>
             <span class="spend-info">{!objTemplateWrapper.sComments}</span>
         </div>
         <div style="display:{! if(sRecordStatus == 'Rejected','block','none')}" class="spend-block">
             <span class="spend-header">Rejection Reason: </span>
             <span class="spend-info">{!objTemplateWrapper.sRejReason}</span>
         </div>
     </div>
   </div>
      <div class="footer-stmts blk-font">
        <div style="display:{! if(sRecordStatus == 'Pending','block','none')}"> To APPROVE or REJECT, click <a href="{!sApprovalPageLink}">here</a></div>
      </div>
</apex:component>